Repository settlemint/asset-tokenization-kit, pull requests merged in 2025-06, with the labels that each got.

#2194 fix: ordering for version
  kit/charts/turbo.json
  tools/version.ts
Labels: fix

#2195 fix: hardhat test script
  kit/contracts/.gitignore
  kit/contracts/hardhat.config.ts
  kit/contracts/package.json
  kit/contracts/tools/codegen-genesis.ts
  kit/contracts/tools/codegen-types.ts
Labels: fix

#2197 fix: anvil config
  docker-compose.yml
Labels: fix

#2196 feat: deploy locally in the ci
  .github/labeler.yml
  .github/main.yml
  .github/tag.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pr-settings.yml
  .github/workflows/pr.yml
  .github/workflows/qa.yml
  .gitignore
  kit/charts/atk/charts/besu-network/charts/besu-genesis/files/genesis-output.json
  kit/charts/package.json
  kit/charts/turbo.json
  kit/contracts/package.json
  kit/contracts/tools/codegen-genesis.ts
  kit/contracts/turbo.json
  kit/dapp/package.json
  kit/subgraph/package.json
  kit/subgraph/tools/graph-deploy.sh
  kit/subgraph/tools/graph-deploy.ts
  kit/subgraph/tools/lib/all.sh
  kit/subgraph/tools/lib/common.sh
  kit/subgraph/tools/lib/graph.sh
  kit/subgraph/turbo.json
  tools/version.ts
  turbo.json
Labels: feat

#2193 feat: subgraph for collateral extension
  kit/contracts/package.json
  kit/contracts/tools/codegen-types.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/access-control/utils/role.ts
  kit/subgraph/src/collateral/fetch/collateral.ts
  kit/subgraph/src/collateral/utils/collateral-utils.ts
  kit/subgraph/src/identity/fetch/identity-claim.ts
  kit/subgraph/src/identity/identity.ts
  kit/subgraph/src/token/fetch/token.ts
Labels: feat, fix

#2204 fix: dapp compilation
  bun.lock
  kit/dapp/.gitignore
  kit/dapp/package.json
  kit/dapp/src/lib/contracts.ts
  kit/dapp/tsconfig.json
Labels: fix

#2201 fix: use Asset type for airdrop token
  kit/subgraph/schema.graphql
  kit/subgraph/src/distribution/push-airdrop.ts
  kit/subgraph/src/factories/airdrop-factory.ts
Labels: fix

#2214 fix: indexing of correct account address for events
  kit/subgraph/schema.graphql
  kit/subgraph/src/collateral/utils/collateral-utils.ts
  kit/subgraph/src/event/fetch/event.ts
  kit/subgraph/src/identity-factory/identity-factory.ts
  kit/subgraph/src/identity/identity.ts
Labels: fix

#2217 fix: update sdk to 2.3.5
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/lib/db/mock.ts
  kit/dapp/src/lib/providers/regulations/mica-regulation-provider.test.ts
  package.json
Labels: fix

#2222 chore: move SMART extension errors to interfaces
  kit/contracts/contracts/extensions/access-managed/ISMARTTokenAccessManaged.sol
  kit/contracts/contracts/extensions/access-managed/SMARTTokenAccessManagedErrors.sol
  kit/contracts/contracts/extensions/access-managed/internal/_SMARTTokenAccessManagedLogic.sol
  kit/contracts/contracts/extensions/burnable/internal/_SMARTBurnableLogic.sol
  kit/contracts/contracts/extensions/capped/ISMARTCapped.sol
  kit/contracts/contracts/extensions/capped/SMARTCappedErrors.sol
  kit/contracts/contracts/extensions/capped/internal/_SMARTCappedLogic.sol
  kit/contracts/contracts/extensions/collateral/ISMARTCollateral.sol
  kit/contracts/contracts/extensions/collateral/SMARTCollateralErrors.sol
  kit/contracts/contracts/extensions/collateral/internal/_SMARTCollateralLogic.sol
  kit/contracts/contracts/extensions/common/CommonErrors.sol
  kit/contracts/contracts/extensions/core/SMARTErrors.sol
  kit/contracts/contracts/extensions/core/internal/_SMARTLogic.sol
  kit/contracts/contracts/extensions/custodian/ISMARTCustodian.sol
  kit/contracts/contracts/extensions/custodian/SMARTCustodianErrors.sol
  kit/contracts/contracts/extensions/custodian/internal/_SMARTCustodianLogic.sol
  kit/contracts/contracts/extensions/historical-balances/ISMARTHistoricalBalances.sol
  kit/contracts/contracts/extensions/historical-balances/SMARTHistoricalBalancesErrors.sol
  kit/contracts/contracts/extensions/historical-balances/internal/_SMARTHistoricalBalancesLogic.sol
  kit/contracts/contracts/extensions/pausable/ISMARTPausable.sol
  kit/contracts/contracts/extensions/pausable/SMARTPausableErrors.sol
  kit/contracts/contracts/extensions/pausable/internal/_SMARTPausableLogic.sol
  kit/contracts/contracts/extensions/yield/ISMARTYield.sol
  kit/contracts/contracts/extensions/yield/SMARTYieldErrors.sol
  kit/contracts/contracts/extensions/yield/internal/_SMARTYieldLogic.sol
  kit/contracts/contracts/interface/ISMART.sol
  kit/contracts/contracts/interface/ISMARTCompliance.sol
  kit/contracts/contracts/system/compliance/SMARTComplianceImplementation.sol
  kit/contracts/contracts/system/identity-factory/identities/SMARTTokenIdentityImplementation.sol
  kit/contracts/test/SMARTCrossExtensionTest.t.sol
  kit/contracts/test/SMARTHistoricalBalancesTest.t.sol
  kit/contracts/test/assets/SMARTBond.t.sol
  kit/contracts/test/assets/SMARTDeposit.t.sol
  kit/contracts/test/assets/SMARTEquity.t.sol
  kit/contracts/test/assets/SMARTFund.t.sol
  kit/contracts/test/assets/SMARTStableCoin.t.sol
  kit/contracts/test/examples/SMARTYieldToken.sol
  kit/contracts/test/extensions/SMARTCappedTest.sol
  kit/contracts/test/extensions/SMARTCollateralTest.sol
  kit/contracts/test/extensions/SMARTCoreTest.sol
  kit/contracts/test/extensions/SMARTCustodianTest.sol
  kit/contracts/test/extensions/SMARTPausableTest.sol
  kit/contracts/test/extensions/SMARTYieldUnitTest.sol
  kit/contracts/test/system/compliance/SMARTComplianceImplementation.t.sol
  kit/contracts/test/system/identity-factory/identities/SMARTTokenIdentityImplementation.t.sol
Labels: feat

#2224 feat: implement oRPC for type-safe API layer
  bun.lock
  kit/dapp/eslint.config.mjs
  kit/dapp/global.d.ts
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/planets.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/app/api/[[...rest]]/route.ts
  kit/dapp/src/app/api/[[...slugs]]/route.ts
  kit/dapp/src/app/api/auth/[...all]/route.ts
  kit/dapp/src/app/layout.tsx
  kit/dapp/src/components/blocks/auth/auth-provider.tsx
  kit/dapp/src/components/data/Await.tsx
  kit/dapp/src/components/providers/PostHogProvider.tsx
  kit/dapp/src/components/providers/Providers.tsx
  kit/dapp/src/components/providers/QueryClientProvider.tsx
  kit/dapp/src/i18n/request.ts
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/auth/plugins/pincode-plugin/index.ts
  kit/dapp/src/lib/db/index.ts
  kit/dapp/src/lib/orpc/middlewares/auth/auth.middleware.ts
  kit/dapp/src/lib/orpc/middlewares/auth/permissions.middleware.ts
  kit/dapp/src/lib/orpc/middlewares/auth/session.middleware.ts
  kit/dapp/src/lib/orpc/middlewares/monitoring/error.middleware.ts
  kit/dapp/src/lib/orpc/middlewares/monitoring/tracing.middleware.ts
  kit/dapp/src/lib/orpc/middlewares/services/db.middleware.ts
  kit/dapp/src/lib/orpc/orpc.server.ts
  kit/dapp/src/lib/orpc/orpc.ts
  kit/dapp/src/lib/orpc/query/query.client.ts
  kit/dapp/src/lib/orpc/routes/common/find.schema.ts
  kit/dapp/src/lib/orpc/routes/common/list.schema.ts
  kit/dapp/src/lib/orpc/routes/context.ts
  kit/dapp/src/lib/orpc/routes/contract.ts
  kit/dapp/src/lib/orpc/routes/planet/planet.contract.ts
  kit/dapp/src/lib/orpc/routes/planet/planet.router.ts
  kit/dapp/src/lib/orpc/routes/planet/routes/planet.create.ts
  kit/dapp/src/lib/orpc/routes/planet/routes/planet.find.ts
  kit/dapp/src/lib/orpc/routes/planet/routes/planet.list.ts
  kit/dapp/src/lib/orpc/routes/planet/schemas/planet.schema.ts
  kit/dapp/src/lib/orpc/routes/procedures/auth.contract.ts
  kit/dapp/src/lib/orpc/routes/procedures/auth.router.ts
  kit/dapp/src/lib/orpc/routes/procedures/base.contract.ts
  kit/dapp/src/lib/orpc/routes/procedures/base.router.ts
  kit/dapp/src/lib/orpc/routes/procedures/public.contract.ts
  kit/dapp/src/lib/orpc/routes/procedures/public.router.ts
  kit/dapp/src/lib/orpc/routes/router.ts
  kit/dapp/tsconfig.json
  turbo.json
Labels: feat

#2223 feat: smart pausable ignition code
  kit/contracts/contracts/extensions/capped/ISMARTCapped.sol
  kit/contracts/contracts/extensions/capped/internal/_SMARTCappedLogic.sol
  kit/contracts/scripts/hardhat/assets/actions/pausable/pause-asset.ts
  kit/contracts/scripts/hardhat/assets/actions/pausable/unpause-asset.ts
  kit/contracts/scripts/hardhat/assets/bond.ts
  kit/contracts/scripts/hardhat/assets/deposit.ts
  kit/contracts/scripts/hardhat/assets/equity.ts
  kit/contracts/scripts/hardhat/assets/fund.ts
  kit/contracts/scripts/hardhat/assets/paused.ts
  kit/contracts/scripts/hardhat/assets/stablecoin.ts
  kit/contracts/scripts/hardhat/constants/contracts.ts
  kit/contracts/scripts/hardhat/entities/actors/investors.ts
  kit/contracts/scripts/hardhat/main.ts
  kit/contracts/tools/codegen-types.ts
Labels: feat, fix

#2237 feat: replace console logs with structured logging
  kit/dapp/src/lib/orpc/middlewares/monitoring/error.middleware.ts
  kit/dapp/src/lib/orpc/query/query.client.ts
Labels: feat

#2239 fix: kyc monitoring fixes
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/kyc-monitoring/kyc-monitoring-dashboard.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/kyc-monitoring/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/layout.tsx
  kit/dapp/src/app/layout.tsx
  kit/dapp/src/components/layout/nav-provider.tsx
  kit/dapp/src/components/ui/sidebar.tsx
  kit/dapp/src/components/ui/toaster.tsx
  kit/dapp/src/hooks/use-mobile.ts
  kit/dapp/src/lib/queries/user/kyc-user-stats.ts
  kit/dapp/tsconfig.json
Labels: feat, fix

#2241 feat: mica dashboard - compliance score
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/detail-page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/asset-tabs.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/features-enabled.ts
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mica-regulation-pill.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/authorization-status/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/compliance-score/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/consumer-protection/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/reserve-status/_components/reserve-details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/asset-tabs.tsx
  kit/dapp/src/components/blocks/active-pill/active-pill.tsx
  kit/dapp/src/components/blocks/regulation-pill/regulation-pill.tsx
  kit/dapp/src/components/blocks/status-pill/status-pill.tsx
  kit/dapp/src/components/blocks/user-assets-table/user-assets-table-columns.tsx
  kit/dapp/src/lib/queries/regulations/regulation-detail.ts
  kit/dapp/src/lib/utils/features-enabled.ts
  kit/dapp/src/lib/utils/mica.ts
Labels: feat

#2245 fix: push airdrop distribution limit not visible in summary
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/airdrop/design-dialog/create-forms/common/summary.tsx
Labels: fix

#2246 feat: capture subgraph IPFS hash in build artifacts
  .github/workflows/qa.yml
  kit/subgraph/package.json
Labels: feat

#2244 feat: my airdrop detail page
  kit/contracts/abi-output.sh
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/details/details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/details/push.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/details/standard.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/details/vesting.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/manage-dropdown/my-airdrop-manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/page.tsx
  kit/dapp/src/components/blocks/airdrop-claim-status/airdrop-claim-status.tsx
  kit/dapp/src/components/blocks/my-airdrops-table/my-airdrops-table-columns.tsx
  kit/dapp/src/lib/queries/airdrop/airdrop-recipient-detail.ts
  kit/dapp/src/lib/queries/airdrop/airdrop-recipient-schema.ts
Labels: feat

#2269 feat: streamline ERPC chart and add enterprise security config
  .cursorindexingignore
  README.md
  bun.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/besu-network/README.md
  kit/charts/atk/charts/besu-network/charts/besu-genesis/README.md
  kit/charts/atk/charts/besu-network/charts/besu-node/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/erpc/Chart.lock
  kit/charts/atk/charts/erpc/Chart.yaml
  kit/charts/atk/charts/erpc/README.md
  kit/charts/atk/charts/erpc/README.md.gotmpl
  kit/charts/atk/charts/erpc/templates/NOTES.txt
  kit/charts/atk/charts/erpc/templates/_helpers.tpl
  kit/charts/atk/charts/erpc/templates/configmap.yaml
  kit/charts/atk/charts/erpc/templates/deployment.yaml
  kit/charts/atk/charts/erpc/templates/hpa.yaml
  kit/charts/atk/charts/erpc/templates/ingress.yaml
  kit/charts/atk/charts/erpc/templates/networkpolicy.yaml
  kit/charts/atk/charts/erpc/templates/poddisruptionbudget.yaml
  kit/charts/atk/charts/erpc/templates/service.yaml
  kit/charts/atk/charts/erpc/templates/serviceaccount.yaml
  kit/charts/atk/charts/erpc/templates/tests/test-connection.yaml
  kit/charts/atk/charts/erpc/values.yaml
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/thegraph/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/charts/package.json
  kit/charts/tools/values-orbstack.1p.yaml
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/components/providers/Providers.tsx
  kit/dapp/src/lib/orpc/middlewares/services/hasura.middleware.ts
  kit/dapp/src/lib/orpc/middlewares/services/minio.middleware.ts
  kit/dapp/src/lib/orpc/middlewares/services/portal.middleware.ts
  kit/dapp/src/lib/orpc/middlewares/services/the-graph.middleware.ts
  kit/dapp/src/lib/orpc/routes/planet/routes/planet.list.ts
  kit/dapp/tsconfig.json
  kit/subgraph/subgraph.yaml
  lefthook.yml
  package.json
  turbo.json
Labels: feat

#2271 feat: update txsigner chart to match ERPC gold standard structure
  kit/charts/atk/charts/txsigner/Chart.lock
  kit/charts/atk/charts/txsigner/Chart.yaml
  kit/charts/atk/charts/txsigner/README.md
  kit/charts/atk/charts/txsigner/README.md.gotmpl
  kit/charts/atk/charts/txsigner/templates/NOTES.txt
  kit/charts/atk/charts/txsigner/templates/_helpers.tpl
  kit/charts/atk/charts/txsigner/templates/configmap.yaml
  kit/charts/atk/charts/txsigner/templates/deployment.yaml
  kit/charts/atk/charts/txsigner/templates/hpa.yaml
  kit/charts/atk/charts/txsigner/templates/ingress.yaml
  kit/charts/atk/charts/txsigner/templates/networkpolicy.yaml
  kit/charts/atk/charts/txsigner/templates/poddisruptionbudget.yaml
  kit/charts/atk/charts/txsigner/templates/secret-env.yaml
  kit/charts/atk/charts/txsigner/templates/secret-private-key.yaml
  kit/charts/atk/charts/txsigner/templates/service.yaml
  kit/charts/atk/charts/txsigner/templates/serviceaccount.yaml
  kit/charts/atk/charts/txsigner/templates/tests/test-connection.yaml
  kit/charts/atk/charts/txsigner/values.yaml
Labels: feat

#2243 feat: indexing of yield extension
  kit/contracts/contracts/assets/bond/ISMARTBond.sol
  kit/contracts/contracts/assets/bond/SMARTBondImplementation.sol
  kit/contracts/contracts/extensions/yield/schedules/fixed/ISMARTFixedYieldSchedule.sol
  kit/contracts/contracts/extensions/yield/schedules/fixed/SMARTFixedYieldSchedule.sol
  kit/contracts/scripts/hardhat/assets/actions/burnable/burn.ts
  kit/contracts/scripts/hardhat/assets/actions/core/add-country-allow-list-compliance-module.ts
  kit/contracts/scripts/hardhat/assets/actions/core/approve.ts
  kit/contracts/scripts/hardhat/assets/actions/core/grant-roles.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-asset-classification-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-collateral-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-isin-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/mint.ts
  kit/contracts/scripts/hardhat/assets/actions/core/recover-erc20-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/core/recover-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/core/remove-compliance-module.ts
  kit/contracts/scripts/hardhat/assets/actions/core/set-country-parameters-for-compliance-module.ts
  kit/contracts/scripts/hardhat/assets/actions/core/transfer.ts
  kit/contracts/scripts/hardhat/assets/actions/core/update-required-topic.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/forced-recover-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/forced-transfer.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/freeze-partial-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/set-address-frozen.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/unfreeze-partial-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/pausable/pause-asset.ts
  kit/contracts/scripts/hardhat/assets/actions/pausable/unpause-asset.ts
  kit/contracts/scripts/hardhat/assets/bond.ts
  kit/contracts/scripts/hardhat/utils/decode-revert-reason.ts
  kit/contracts/test/SMARTHistoricalBalancesTest.t.sol
  kit/subgraph/schema.graphql
  kit/subgraph/src/access-control/utils/role.ts
  kit/subgraph/src/burnable/burnable.ts
  kit/subgraph/src/config/token.ts
  kit/subgraph/src/fixed-yield-schedule-factory/fixed-yield-schedule-factory.ts
  kit/subgraph/src/fixed-yield-schedule/fetch/fixed-yield-schedule-period.ts
  kit/subgraph/src/fixed-yield-schedule/fetch/fixed-yield-schedule.ts
  kit/subgraph/src/fixed-yield-schedule/fixed-yield-schedule.ts
  kit/subgraph/src/fixed-yield-schedule/utils/fixed-yield-schedule-utils.ts
  kit/subgraph/src/historical-balances/historical-balances.ts
  kit/subgraph/src/token-balance/utils/token-balance-utils.ts
  kit/subgraph/src/token/fetch/token.ts
  kit/subgraph/src/token/token.ts
  kit/subgraph/src/yield/fetch/yield.ts
  kit/subgraph/src/yield/yield.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#2274 fix: toasts says success even when actions throws an error
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/form/form.tsx
  kit/dapp/src/lib/mutations/safe-action.ts
Labels: fix

#2275 fix: resolve portal service and txsigner deployment issues
  kit/charts/atk/charts/portal/templates/service.yaml
  kit/charts/atk/charts/txsigner/README.md
  kit/charts/atk/charts/txsigner/templates/deployment.yaml
  kit/charts/atk/charts/txsigner/templates/secret-env.yaml
  kit/charts/atk/charts/txsigner/templates/secret-private-key.yaml
  kit/charts/atk/charts/txsigner/values.yaml
Labels: fix

#2284 fix: correct txsigner mnemonic configuration path
  .cursor/rules/bun.mdc
  .cursor/rules/common-commands.mdc
  .cursor/rules/contracts-architecture.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/frontend-architecture.mdc
  .cursor/rules/next.mdc
  .cursor/rules/project-overview.mdc
  .github/renovate.json
  .prettierrc
  CLAUDE.md
  kit/charts/atk/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/values.yaml
Labels: fix

#2287 feat: store airdrop distribution in ipfs
  bun.lock
  kit/contracts/contracts/AirdropFactory.sol
  kit/contracts/contracts/PushAirdrop.sol
  kit/contracts/contracts/StandardAirdrop.sol
  kit/contracts/contracts/VestingAirdrop.sol
  kit/contracts/contracts/airdrop/AirdropBase.sol
  kit/contracts/test/AirdropFactory.t.sol
  kit/contracts/test/LinearVestingAirdrop.t.sol
  kit/contracts/test/PushAirdrop.t.sol
  kit/contracts/test/StandardAirdrop.t.sol
  kit/contracts/test/VestingAirdrop.t.sol
  kit/dapp/src/lib/mutations/airdrop/create/common/merkle-tree.test.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/distribution/standard-airdrop.ts
  kit/subgraph/src/distribution/vesting-airdrop.ts
  kit/subgraph/src/factories/airdrop-factory.ts
  kit/subgraph/src/utils/airdrop.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#2307 feat: add SMART system management API routes and database schema
  bun.lock
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/support/values.yaml
  kit/charts/atk/charts/thegraph/README.md
  kit/charts/atk/charts/thegraph/values.yaml
  kit/charts/atk/templates/NOTES.txt
  kit/charts/atk/templates/_helpers.tpl
  kit/charts/tools/values-orbstack.1p.yaml
  kit/dapp/.gitignore
  kit/dapp/drizzle/0000_fearless_gunslinger.sql
  kit/dapp/drizzle/meta/0000_snapshot.json
  kit/dapp/drizzle/meta/_journal.json
  kit/dapp/package.json
  kit/dapp/src/lib/config/environment.ts
  kit/dapp/src/lib/orpc/routes/common/list.schema.ts
  kit/dapp/src/lib/orpc/routes/contract.ts
  kit/dapp/src/lib/orpc/routes/router.ts
  kit/dapp/src/lib/orpc/routes/system/routes/system.list.ts
  kit/dapp/src/lib/orpc/routes/system/schemas/system.schema.ts
  kit/dapp/src/lib/orpc/routes/system/system.contract.ts
  kit/dapp/src/lib/orpc/routes/system/system.router.ts
  kit/dapp/tsconfig.json
  kit/dapp/turbo.json
  package.json
Labels: docs

#2323 fix: allow forced transfer after bond maturity
  kit/contracts/contracts/assets/bond/ATKBondImplementation.sol
  kit/contracts/test/assets/ATKBond.t.sol
Labels: fix

#2348 fix: run build on pull requests only
  .github/workflows/slack-notifications.yml
Labels: fix

#2347 fix: zod memory issue
  .gitignore
  bun.lock
  kit/dapp/tsconfig.json
  package.json
Labels: fix

#2321 feat: indexing of redeemable extension and bond
  kit/contracts/contracts/assets/bond/ATKBondFactoryImplementation.sol
  kit/contracts/contracts/assets/bond/ATKBondImplementation.sol
  kit/contracts/contracts/assets/bond/IATKBond.sol
  kit/contracts/contracts/assets/bond/IATKBondFactory.sol
  kit/contracts/contracts/smart/extensions/yield/schedules/fixed/ISMARTFixedYieldSchedule.sol
  kit/contracts/contracts/smart/extensions/yield/schedules/fixed/internal/SMARTFixedYieldScheduleLogic.sol
  kit/contracts/scripts/hardhat/assets/actions/bond/mature.ts
  kit/contracts/scripts/hardhat/assets/actions/core/mint.ts
  kit/contracts/scripts/hardhat/assets/actions/redeemable/redeem.ts
  kit/contracts/scripts/hardhat/assets/actions/setup-asset.ts
  kit/contracts/scripts/hardhat/assets/bond.ts
  kit/contracts/scripts/hardhat/constants/contracts.ts
  kit/contracts/test/assets/ATKBond.t.sol
  kit/contracts/test/assets/ATKBondReentrancyTest.t.sol
  kit/contracts/test/assets/ATKFixedYieldSchedule.t.sol
  kit/contracts/tools/codegen-types.ts
  kit/subgraph/package.json
  kit/subgraph/schema.graphql
  kit/subgraph/src/bond-factory/bond-factory.ts
  kit/subgraph/src/bond/bond.ts
  kit/subgraph/src/bond/fetch/bond.ts
  kit/subgraph/src/redeemable/fetch/redeemable.ts
  kit/subgraph/src/redeemable/redeemable.ts
  kit/subgraph/src/system/system.ts
  kit/subgraph/src/token/fetch/token.ts
  kit/subgraph/subgraph.yaml
  kit/subgraph/test/assets/bond.spec.ts
  kit/subgraph/test/events.spec.ts
  kit/subgraph/test/extensions/fixed-yield.spec.ts
  kit/subgraph/test/extensions/redeemable.spec.ts
  kit/subgraph/test/scripts/setup.ts
  kit/subgraph/test/token.spec.ts
Labels: feat

#2350 fix: ensure Slack notifications always show actual PR title
  .github/workflows/slack-notifications.yml
Labels: fix

#2351 feat: convert workflows to reusable format with performance optimizations
  .github/workflows/qa.yml
  .github/workflows/reusable-codeql.yml
  .github/workflows/reusable-pr-labels.yml
  .github/workflows/reusable-secret-scanning.yml
  .github/workflows/reusable-slack-notification.yml
  .github/workflows/slack-notifications.yml
Labels: feat

#2352 feat: assets start in a paused state
  kit/contracts/contracts/assets/bond/ATKBondImplementation.sol
  kit/contracts/contracts/assets/deposit/ATKDepositImplementation.sol
  kit/contracts/contracts/assets/equity/ATKEquityImplementation.sol
  kit/contracts/contracts/assets/fund/ATKFundImplementation.sol
  kit/contracts/contracts/assets/stable-coin/ATKStableCoinImplementation.sol
  kit/contracts/contracts/smart/extensions/pausable/SMARTPausable.sol
  kit/contracts/contracts/smart/extensions/pausable/SMARTPausableUpgradeable.sol
  kit/contracts/contracts/smart/extensions/pausable/internal/_SMARTPausableLogic.sol
  kit/contracts/scripts/hardhat/assets/actions/setup-asset.ts
  kit/contracts/scripts/hardhat/assets/paused.ts
  kit/contracts/test/assets/ATKBond.t.sol
  kit/contracts/test/assets/ATKBondReentrancyTest.t.sol
  kit/contracts/test/assets/ATKDeposit.t.sol
  kit/contracts/test/assets/ATKEquity.t.sol
  kit/contracts/test/assets/ATKFund.t.sol
  kit/contracts/test/assets/ATKStableCoin.t.sol
  kit/contracts/test/smart/examples/SMARTCappedToken.sol
  kit/contracts/test/smart/examples/SMARTToken.sol
  kit/contracts/test/smart/examples/SMARTTokenUpgradeable.sol
Labels: feat

#2326 feat: ISMARTCapped should have a setCap functionality
  bun.lock
  kit/contracts/contracts/assets/bond/ATKBondImplementation.sol
  kit/contracts/contracts/smart/extensions/capped/ISMARTCapped.sol
  kit/contracts/contracts/smart/extensions/capped/internal/_SMARTCappedLogic.sol
  kit/contracts/scripts/hardhat/assets/actions/capped/set-cap.ts
  kit/contracts/scripts/hardhat/assets/bond.ts
  kit/contracts/scripts/hardhat/constants/contracts.ts
  kit/contracts/test/assets/ATKBond.t.sol
  kit/contracts/test/smart/SMARTCappedStandardTest.t.sol
  kit/contracts/test/smart/SMARTCrossExtensionTest.t.sol
  kit/contracts/test/smart/SMARTStandardTest.t.sol
  kit/contracts/test/smart/SMARTUpgradeableTest.t.sol
  kit/contracts/test/smart/examples/SMARTCappedToken.sol
  kit/contracts/test/smart/examples/SMARTToken.sol
  kit/contracts/test/smart/examples/SMARTTokenUpgradeable.sol
  kit/contracts/test/smart/examples/SMARTYieldToken.sol
  kit/contracts/test/smart/extensions/AbstractSMARTTest.sol
  kit/contracts/test/smart/extensions/SMARTCappedTest.sol
  kit/contracts/test/system/identity-factory/ATKIdentityFactoryImplementation.t.sol
  kit/contracts/tools/codegen-types.ts
  kit/subgraph/test/extensions/capped.spec.ts
Labels: feat

#2353 fix: throw error if system not bootstrapped when creating token factory
  kit/contracts/contracts/system/ATKSystem.sol
  kit/contracts/contracts/system/ATKSystemErrors.sol
Labels: fix

#2330 fix: asset type icon text color in sidebar
  bun.lock
  kit/dapp/drizzle/0000_typical_kylun.sql
  kit/dapp/fix-lint.js
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/widget.tsx
  kit/dapp/src/app/[locale]/auth/layout.tsx
  kit/dapp/src/app/globals.css
  kit/dapp/src/components/blocks/airdrop/design-dialog/airdrop-design-button.tsx
  kit/dapp/src/components/blocks/asset-designer/asset-designer-button.tsx
  kit/dapp/src/components/blocks/asset-type-icon/asset-type-icon.tsx
  kit/dapp/src/components/data/Await.tsx
  kit/dapp/src/components/data/AwaitClientWrapper.tsx
  kit/dapp/tsconfig.json
Labels: fix

#2354 feat: airdrop - issuer section - manage action - change owner
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/airdrops/[address]/recipients/page.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/_components/push-tokens-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/_components/push-tokens-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/_components/transfer-ownership/form.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/_components/transfer-ownership/steps/recipient.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/_components/transfer-ownership/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/_components/withdraw-tokens-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/_components/withdraw-tokens-form/steps/summary.tsx
  kit/dapp/src/lib/mutations/airdrop/create/push/create-function.ts
  kit/dapp/src/lib/mutations/airdrop/create/standard/create-function.ts
  kit/dapp/src/lib/mutations/airdrop/create/vesting/create-function.ts
  kit/dapp/src/lib/mutations/airdrop/transfer-ownership/transfer-ownership-action.ts
  kit/dapp/src/lib/mutations/airdrop/transfer-ownership/transfer-ownership-function.ts
  kit/dapp/src/lib/mutations/airdrop/transfer-ownership/transfer-ownership-schema.ts
  kit/dapp/src/lib/mutations/airdrop/withdraw-token/withdraw-token-function.ts
  kit/dapp/src/lib/queries/airdrop/airdrop-distribution.ts
  kit/dapp/src/lib/queries/airdrop/airdrop-list.ts
  kit/subgraph/src/distribution/push-airdrop.ts
  kit/subgraph/src/distribution/standard-airdrop.ts
  kit/subgraph/src/distribution/vesting-airdrop.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#2384 feat: add base price claim topic
  kit/contracts/contracts/smart/extensions/custodian/ISMARTCustodian.sol
  kit/contracts/contracts/smart/extensions/custodian/internal/_SMARTCustodianLogic.sol
  kit/contracts/contracts/system/ATKTopics.sol
  kit/contracts/scripts/hardhat/assets/actions/burnable/burn.ts
  kit/contracts/scripts/hardhat/assets/actions/capped/set-cap.ts
  kit/contracts/scripts/hardhat/assets/actions/core/approve.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-base-price-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-collateral-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/mint.ts
  kit/contracts/scripts/hardhat/assets/actions/core/recover-erc20-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/core/transfer.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/forced-transfer.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/freeze-partial-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/unfreeze-partial-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/fund/collect-management-fee.ts
  kit/contracts/scripts/hardhat/assets/actions/redeemable/redeem.ts
  kit/contracts/scripts/hardhat/assets/actions/setup-asset.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/claim-yield.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/topup-underlying-asset.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/withdrawn-underlying-asset.ts
  kit/contracts/scripts/hardhat/assets/bond.ts
  kit/contracts/scripts/hardhat/assets/deposit.ts
  kit/contracts/scripts/hardhat/assets/equity.ts
  kit/contracts/scripts/hardhat/assets/fund.ts
  kit/contracts/scripts/hardhat/assets/paused.ts
  kit/contracts/scripts/hardhat/assets/stablecoin.ts
  kit/contracts/scripts/hardhat/constants/base-currency.ts
  kit/contracts/scripts/hardhat/constants/topics.ts
  kit/contracts/scripts/hardhat/main.ts
  kit/contracts/scripts/hardhat/utils/format-base-units.ts
  kit/contracts/scripts/hardhat/utils/to-base-units.ts
  kit/subgraph/test/identity-claims.spec.ts
Labels: feat

#2273 feat: allocations table + claim
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/(details)/_components/details/push.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/(details)/_components/details/standard.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/(details)/_components/details/vesting.tsx
  kit/dapp/src/app/[locale]/(private)/distribution/airdrops/[airdroptype]/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/details/details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/details/push.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/details/standard.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/details/vesting.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[address]/_components/manage-dropdown/my-airdrop-manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/details/details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/details/standard-airdrop/airdrop-summary-card.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/details/standard-airdrop/allocation-columns.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/details/standard-airdrop/standard.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/details/vesting-airdrop/airdrop-summary-card.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/details/vesting-airdrop/allocation-columns.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/details/vesting-airdrop/vesting.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/manage-dropdown/claim-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/manage-dropdown/claim-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/manage-dropdown/my-airdrop-manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/_components/my-airdrop-detail-page-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-airdrops/[airdroptype]/[address]/page.tsx
  kit/dapp/src/components/blocks/actions-table/action-button.tsx
  kit/dapp/src/components/blocks/airdrop-claim-status/airdrop-claim-status.tsx
  kit/dapp/src/components/blocks/airdrop/design-dialog/create-forms/vesting-airdrop/steps/summary.tsx
  kit/dapp/src/components/blocks/bonds/mature-form/form.tsx
  kit/dapp/src/components/blocks/form/form-sheet.tsx
  kit/dapp/src/components/blocks/my-airdrops-table/my-airdrops-table-columns.tsx
  kit/dapp/src/components/blocks/xvp/approve-form/form.tsx
  kit/dapp/src/components/blocks/xvp/execute-form/form.tsx
  kit/dapp/src/lib/mutations/airdrop/claim/claim-action.ts
  kit/dapp/src/lib/mutations/airdrop/claim/claim-function.ts
  kit/dapp/src/lib/mutations/airdrop/claim/claim-schema.ts
  kit/dapp/src/lib/mutations/airdrop/claim/standard/create-action.ts
  kit/dapp/src/lib/mutations/airdrop/claim/standard/create-function.ts
  kit/dapp/src/lib/mutations/airdrop/create/vesting/create-function.ts
  kit/dapp/src/lib/queries/airdrop/airdrop-fragment.ts
  kit/dapp/src/lib/queries/airdrop/airdrop-schema.ts
  kit/dapp/src/lib/queries/airdrop/user-airdrop-detail.ts
  kit/dapp/src/lib/queries/airdrop/user-airdrop-distribution.ts
  kit/dapp/src/lib/queries/airdrop/user-airdrop-schema.ts
  kit/dapp/src/lib/queries/airdrop/user-airdrops-list.ts
  kit/dapp/src/lib/queries/push-airdrop/push-airdrop-detail.ts
  kit/dapp/src/lib/queries/push-airdrop/push-airdrop-status.ts
  kit/dapp/src/lib/queries/standard-airdrop/standard-airdrop-detail.ts
  kit/dapp/src/lib/queries/standard-airdrop/standard-airdrop-schema.ts
  kit/dapp/src/lib/queries/standard-airdrop/standard-airdrop-status.ts
  kit/dapp/src/lib/queries/standard-airdrop/user-standard-airdrop-detail.ts
  kit/dapp/src/lib/queries/vesting-airdrop/linear-vesting-strategy-fragment.ts
  kit/dapp/src/lib/queries/vesting-airdrop/linear-vesting-strategy-schema.ts
  kit/dapp/src/lib/queries/vesting-airdrop/user-vesting-airdrop-detail.ts
  kit/dapp/src/lib/queries/vesting-airdrop/vesting-airdrop-amount.ts
  kit/dapp/src/lib/queries/vesting-airdrop/vesting-airdrop-detail.ts
  kit/dapp/src/lib/queries/vesting-airdrop/vesting-airdrop-schema.ts
  kit/dapp/src/lib/queries/vesting-airdrop/vesting-airdrop-status.ts
Labels: feat

#2455 feat: implement SSE-based real-time transaction tracking
  bun.lock
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/support/README.md
  kit/dapp/package.json
  kit/dapp/src/components/ui/card.tsx
  kit/dapp/src/components/ui/dialog.tsx
  kit/dapp/src/components/ui/progress.tsx
  kit/dapp/src/hooks/use-blockchain-mutation.ts
  kit/dapp/src/lib/env.ts
  kit/dapp/src/orpc/index.ts
  kit/dapp/src/orpc/routes/settings/settings.router.ts
  kit/dapp/src/orpc/routes/transaction/routes/transaction.track.schema.ts
  kit/dapp/src/orpc/routes/transaction/routes/transaction.track.ts
  kit/dapp/src/routes/_private/onboarding.tsx
  kit/dapp/src/routes/api/rpc.$.ts
Labels: feat

#2456 feat: automate artifact generation in CI for main branch
  .github/workflows/qa.yml
Labels: feat

#2459 feat: consolidate settings operations into upsert pattern
  .claude/commands/pr.md
  .vscode/settings.json
  kit/dapp/languine.lock
  kit/dapp/locales/ar/onboarding.json
  kit/dapp/locales/de/onboarding.json
  kit/dapp/locales/en/onboarding.json
  kit/dapp/locales/ja/onboarding.json
  kit/dapp/src/orpc/routes/settings/routes/settings.create.schema.ts
  kit/dapp/src/orpc/routes/settings/routes/settings.create.ts
  kit/dapp/src/orpc/routes/settings/routes/settings.delete.ts
  kit/dapp/src/orpc/routes/settings/routes/settings.upsert.schema.ts
  kit/dapp/src/orpc/routes/settings/routes/settings.upsert.ts
  kit/dapp/src/orpc/routes/settings/settings.contract.ts
  kit/dapp/src/orpc/routes/settings/settings.router.ts
  kit/dapp/src/routes/_private/onboarding.tsx
Labels: feat

#2460 fix: session invalidation on wallet creation
  kit/dapp/src/routes/_private/onboarding.tsx
Labels: fix

#2462 feat: optimize the data loading
  .github/workflows/qa.yml
  kit/dapp/locales/en/onboarding.json
  kit/dapp/src/hooks/use-settings.ts
  kit/dapp/src/lib/query.client.ts
  kit/dapp/src/router.tsx
  kit/dapp/src/routes/__root.tsx
  kit/dapp/src/routes/_private.tsx
  kit/dapp/src/routes/_private/onboarding.tsx
  kit/subgraph/turbo.json
Labels: feat

#2465 feat: add deployedInTransaction field to track entity creation transactions
  .github/workflows/qa.yml
  kit/subgraph/schema.graphql
  kit/subgraph/src/identity-factory/fetch/identity-factory.ts
  kit/subgraph/src/identity-factory/identity-factory.ts
  kit/subgraph/src/identity-registry/fetch/identity-registry-storage.ts
  kit/subgraph/src/identity-registry/fetch/identity-registry.ts
  kit/subgraph/src/identity/fetch/identity-claim.ts
  kit/subgraph/src/identity/fetch/identity.ts
  kit/subgraph/src/identity/identity.ts
  kit/subgraph/src/system-factory/system-factory.ts
  kit/subgraph/src/system/fetch/system-addon.ts
  kit/subgraph/src/system/fetch/system.ts
  kit/subgraph/src/system/fetch/trusted-issuers-registry.ts
  kit/subgraph/src/system/system.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule-factory/fixed-yield-schedule-factory.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/fetch/fixed-yield-schedule-period.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/fetch/fixed-yield-schedule.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/fixed-yield-schedule.ts
  kit/subgraph/src/token-factory/token-factory.ts
  kit/subgraph/src/token/fetch/token.ts
  kit/subgraph/src/topic-scheme-registry/fetch/topic-scheme-registry.ts
  kit/subgraph/src/topic-scheme-registry/fetch/topic-scheme.ts
  kit/subgraph/src/topic-scheme-registry/topic-scheme-registry.ts
Labels: feat

#2472 feat: optimize bundle size by code splitting
  bun.lock
  kit/charts/atk/README.md
  kit/dapp/package.json
  kit/dapp/src/routes/__root.tsx
  kit/dapp/vite.config.ts
Labels: feat

#2493 feat: replace blockchain mutation with streaming mutation hook
  .claude/commands/comments.md
  .claude/commands/pr.md
  .github/workflows/qa.yml
  .github/workflows/reusable-qa.yml
  .github/workflows/reusable-slack-notification.yml
  .prettierignore
  kit/dapp/.gitignore
  kit/dapp/languine.lock
  kit/dapp/locales/ar/onboarding.json
  kit/dapp/locales/de/onboarding.json
  kit/dapp/locales/en/onboarding.json
  kit/dapp/locales/ja/onboarding.json
  kit/dapp/portal-cache.d.ts
  kit/dapp/src/hooks/use-blockchain-mutation.ts
  kit/dapp/src/hooks/use-streaming-mutation.ts
  kit/dapp/src/lib/zod/validators/ethereum-address.ts
  kit/dapp/src/orpc/helpers/transactions.ts
  kit/dapp/src/orpc/index.ts
  kit/dapp/src/orpc/routes/account/routes/account.create.schema.ts
  kit/dapp/src/orpc/routes/account/routes/account.create.ts
  kit/dapp/src/orpc/routes/common/schemas/transaction-messages.schema.ts
  kit/dapp/src/orpc/routes/contract.ts
  kit/dapp/src/orpc/routes/router.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.schema.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/dapp/src/orpc/routes/system/system.contract.ts
  kit/dapp/src/orpc/routes/transaction/routes/transaction.track.schema.ts
  kit/dapp/src/orpc/routes/transaction/routes/transaction.track.ts
  kit/dapp/src/orpc/routes/transaction/transaction.contract.ts
  kit/dapp/src/orpc/routes/transaction/transaction.router.ts
  kit/dapp/src/routes/_private/onboarding.tsx
  kit/dapp/the-graph-cache-kit.d.ts
  kit/subgraph/.gitignore
  kit/subgraph/subgraph.yaml
  package.json
Labels: feat

#2502 feat: add internationalization for asset selection and simplify streaming mutation hook
  .github/main.yml
  .github/tag.yml
  .github/workflows/qa.yml
  .github/workflows/reusable-qa.yml
  .gitignore
  CLAUDE.md
  bun.lock
  kit/dapp/.gitignore
  kit/dapp/blockscout-cache.d.ts
  kit/dapp/blockscout-env.d.ts
  kit/dapp/blockscout-schema.graphql
  kit/dapp/hasura-cache.d.ts
  kit/dapp/hasura-env.d.ts
  kit/dapp/hasura-schema.graphql
  kit/dapp/locales/ar/onboarding.json
  kit/dapp/locales/de/onboarding.json
  kit/dapp/locales/en/onboarding.json
  kit/dapp/locales/ja/onboarding.json
  kit/dapp/package.json
  kit/dapp/plan.md
  kit/dapp/portal-cache.d.ts
  kit/dapp/portal-env.d.ts
  kit/dapp/portal-schema.graphql
  kit/dapp/src/components/onboarding/onboarding-guard.tsx
  kit/dapp/src/components/onboarding/steps/asset-selection-step.tsx
  kit/dapp/src/components/onboarding/steps/system-deployment-step.tsx
  kit/dapp/src/components/onboarding/steps/wallet-generation-step.tsx
  kit/dapp/src/components/ui/checkbox.tsx
  kit/dapp/src/components/ui/form.tsx
  kit/dapp/src/components/ui/label.tsx
  kit/dapp/src/hooks/use-streaming-mutation.ts
  kit/dapp/src/orpc/helpers/transactions.ts
  kit/dapp/src/routes/_private/onboarding.tsx
  kit/dapp/the-graph-cache-kit.d.ts
  kit/dapp/the-graph-env-kit.d.ts
  kit/dapp/the-graph-schema-kit.graphql
  package.json
  turbo.json
Labels: feat

#2504 feat: improve build configuration and caching
  .github/workflows/nightly.yml
  bun.lock
  kit/contracts/tools/artifacts-genesis.ts
  kit/contracts/turbo.json
  turbo.json
Labels: feat

#2506 fix: use same deployment id as atk deployer
  kit/contracts/scripts/hardhat/addons/airdrop/vesting-airdrop.ts
  kit/contracts/scripts/hardhat/entities/airdrop/vesting-airdrop.ts
Labels: fix

#2510 fix: harbor script skip empty images
  kit/charts/atk/charts/support/values.yaml
  kit/charts/atk/charts/txsigner/values.yaml
  kit/charts/tools/package-harbor.ts
  kit/charts/tools/values-orbstack.1p.yaml
Labels: fix

#2528 chore: upgrade tanstack
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/components/language/language-switcher.tsx
  kit/dapp/src/components/onboarding/onboarding-guard.tsx
  kit/dapp/src/components/theme/theme-toggle.tsx
  package.json
Labels: chore

#2529 fix: various onboarding issues
  CLAUDE.md
  kit/charts/turbo.json
  kit/contracts/tools/artifacts-genesis.ts
  kit/contracts/turbo.json
  kit/dapp/.gitignore
  kit/dapp/src/lib/query.client.ts
  kit/dapp/src/lib/utils/clear-cache.ts
  kit/dapp/src/orpc/middlewares/monitoring/error.middleware.ts
  kit/dapp/src/routes/_private/onboarding.tsx
  kit/dapp/turbo.json
  kit/subgraph/turbo.json
Labels: fix

#2530 feat: enhance CI/CD with improved Slack notifications and workflow automation
  .cursor/rules/commits.mdc
  .github/actions/auto-merge/action.yml
  .github/actions/build-status-labeler/action.yml
  .github/actions/codeql/action.yml
  .github/actions/pr-labeler/action.yml
  .github/actions/pr-review-check/action.yml
  .github/actions/pr-status-labeler/action.yml
  .github/actions/secret-scanner/action.yml
  .github/actions/setup-dependencies/action.yml
  .github/actions/slack-pr-notifier/action.yml
  .github/labeler.yml
  .github/release.yaml
  .github/workflows/e2e-playwright-tests.yml
  .github/workflows/qa.yml
  .github/workflows/reusable-codeql.yml
  .github/workflows/reusable-pr-labels.yml
  .github/workflows/reusable-secret-scanning.yml
  .github/workflows/reusable-slack-notification.yml
  .github/workflows/v1.yml
  CLAUDE.md
  kit/dapp/src/lib/settlemint/blockscout.ts
  kit/dapp/src/lib/settlemint/hasura.ts
  kit/dapp/src/lib/settlemint/ipfs.ts
  kit/dapp/src/lib/settlemint/minio.ts
  kit/dapp/src/lib/settlemint/portal.ts
  kit/dapp/src/lib/settlemint/postgres.ts
  kit/dapp/src/lib/settlemint/the-graph.ts
  kit/dapp/tsconfig.json
  kit/subgraph/subgraph.yaml
Labels: feat, ci, status:ready-for-review, qa:success

#2534 fix: correct PR labeling for dependency updates
  .github/actions/pr-labeler/action.yml
Labels: fix, status:ready-for-review, qa:success

#2533 fix: resolve CI/CD workflow issues
  .claude/README.md
  .github/actions/secret-scanner/action.yml
  .github/workflows/qa.yml
Labels: fix, status:ready-for-review, qa:success

#2536 ci: Add Claude Code GitHub Workflow
  .github/actions/auto-merge/action.yml
  .github/actions/slack-pr-notifier/action.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/qa.yml
Labels: ci, status:ready-for-review, qa:success

#2538 fix: remove automatic setup commands from Claude workflow
  .github/workflows/claude.yml
Labels: fix, status:ready-for-review, qa:success

#2540 fix: prevent duplicate slack notifications with race condition handling
  .github/actions/slack-pr-notifier/action.yml
  .github/workflows/qa.yml
Labels: fix, status:ready-for-review, qa:success

#2541 feat: add gentle handling for abandoned PRs
  .github/actions/pr-status-labeler/action.yml
  .github/actions/slack-pr-notifier/action.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/qa.yml
Labels: feat, status:ready-for-review, qa:success

#2543 chore: configure renovate to run bun install after updates
  .github/renovate.json
Labels: qa:running

#2544 fix: improve error handling for system deployment and restore subgraph addresses
  kit/dapp/src/hooks/use-streaming-mutation.ts
  kit/dapp/src/orpc/middlewares/monitoring/error.middleware.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/subgraph/subgraph.yaml
  kit/subgraph/tools/graph-deploy.ts
Labels: fix, status:ready-for-review, qa:success

#2545 fix: enhance middleware with transaction tracking
  CLAUDE.md
  kit/dapp/src/hooks/use-streaming-mutation.ts
  kit/dapp/src/lib/settlemint/blockscout.ts
  kit/dapp/src/lib/settlemint/ipfs.ts
  kit/dapp/src/lib/settlemint/minio.ts
  kit/dapp/src/lib/settlemint/portal.ts
  kit/dapp/src/lib/settlemint/the-graph.ts
  kit/dapp/src/orpc/context/context.ts
  kit/dapp/src/orpc/helpers/transactions.ts
  kit/dapp/src/orpc/middlewares/services/portal.middleware.ts
  kit/dapp/src/orpc/middlewares/services/the-graph.middleware.ts
  kit/dapp/src/orpc/routes/account/routes/account.create.ts
  kit/dapp/src/orpc/routes/account/routes/account.read.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/dapp/src/orpc/routes/system/routes/system.list.ts
  kit/dapp/src/orpc/routes/system/routes/system.read.ts
  kit/dapp/src/orpc/routes/tokens/routes/factory.create.schema.ts
  kit/dapp/src/orpc/routes/tokens/routes/factory.create.ts
  kit/subgraph/subgraph.yaml
Labels: fix, status:ready-for-review, qa:success

#2548 chore(deps): update to prettier 3.6
  .github/actions/slack-pr-notifier/action.yml
  .prettierrc
  bun.lock
  kit/contracts/package.json
  kit/dapp-v1/package-backup.json
  kit/dapp-v1/package.json
  kit/dapp/package.json
  kit/dapp/src/hooks/use-streaming-mutation.ts
  kit/dapp/src/orpc/context/context.ts
  kit/dapp/src/orpc/middlewares/services/portal.middleware.ts
  kit/dapp/src/orpc/middlewares/services/the-graph.middleware.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/dapp/src/orpc/routes/system/routes/system.read.ts
  kit/dapp/src/orpc/routes/tokens/routes/factory.create.schema.ts
  kit/subgraph/package.json
  package.json
Labels: dependencies, status:ready-for-review, qa:success

#2552 refactor: extract Slack notifier script to separate file
  .github/actions/auto-merge/action.yml
  .github/actions/auto-merge/auto-merge-manager.js
  .github/actions/build-status-labeler/action.yml
  .github/actions/build-status-labeler/build-status-labeler.js
  .github/actions/pr-labeler/action.yml
  .github/actions/pr-labeler/pr-labeler.js
  .github/actions/pr-review-check/action.yml
  .github/actions/pr-review-check/pr-review-checker.js
  .github/actions/pr-status-labeler/action.yml
  .github/actions/pr-status-labeler/pr-status-labeler.js
  .github/actions/slack-pr-notifier/action.yml
  .github/actions/slack-pr-notifier/slack-notifier.js
Labels: status:ready-for-review, qa:success, refactor

#2550 refactor: move system address handling from UI to API route
  kit/dapp/src/components/magicui/animated-beam.tsx
  kit/dapp/src/components/magicui/hyper-text.tsx
  kit/dapp/src/components/onboarding/steps/system-step.tsx
  kit/dapp/src/components/onboarding/steps/wallet-step.tsx
  kit/dapp/src/hooks/use-settings.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
Labels: status:ready-for-review, qa:success, refactor

#2557 fix: replace REST API enableAutoMerge with GraphQL mutation
  .github/actions/auto-merge/auto-merge-manager.js
Labels: fix, status:ready-for-review, qa:success

#2496 feat: airdrop subgraphs
  .github/workflows/qa.yml
  kit/contracts/contracts/addons/airdrop/ATKAirdrop.sol
  kit/contracts/contracts/addons/airdrop/IATKAirdrop.sol
  kit/contracts/contracts/addons/airdrop/push-airdrop/ATKPushAirdropImplementation.sol
  kit/contracts/contracts/addons/airdrop/time-bound-airdrop/ATKTimeBoundAirdropImplementation.sol
  kit/contracts/contracts/addons/airdrop/vesting-airdrop/ATKLinearVestingStrategy.sol
  kit/contracts/contracts/addons/airdrop/vesting-airdrop/ATKVestingAirdropImplementation.sol
  kit/contracts/contracts/addons/airdrop/vesting-airdrop/IATKLinearVestingStrategy.sol
  kit/contracts/contracts/addons/airdrop/vesting-airdrop/IATKVestingAirdrop.sol
  kit/contracts/contracts/addons/airdrop/vesting-airdrop/IATKVestingStrategy.sol
  kit/contracts/ignition/modules/atk/addons/airdrop/linear-vesting-strategy.ts
  kit/contracts/ignition/modules/main.ts
  kit/contracts/ignition/modules/onboarding.ts
  kit/contracts/ignition/modules/onboarding/addons/airdrop/timebound-airdrop-factory.ts
  kit/contracts/ignition/modules/predeployed/addons/airdrop/time-bound-airdrop.factory.ts
  kit/contracts/scripts/hardhat/constants/contracts.ts
  kit/contracts/scripts/hardhat/entities/airdrop/timebound-airdrop.ts
  kit/contracts/scripts/hardhat/main.ts
  kit/contracts/scripts/hardhat/services/deployer.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/distribution.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/index.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/push-airdrop.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/timebound-airdrop.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/vesting-airdrop.ts
  kit/contracts/test/addons/airdrop/ATKPushAirdropImplementation.t.sol
  kit/contracts/test/addons/airdrop/ATKTimeBoundAirdropImplementation.t.sol
  kit/contracts/test/addons/airdrop/ATKVestingAirdropImplementation.t.sol
  kit/contracts/tools/codegen-types.ts
  kit/subgraph/package.json
  kit/subgraph/schema.graphql
  kit/subgraph/src/system-addons/addons/airdrop/airdrop.ts
  kit/subgraph/src/system-addons/addons/airdrop/fetch/airdrop-allocation.ts
  kit/subgraph/src/system-addons/addons/airdrop/fetch/airdrop-recipient.ts
  kit/subgraph/src/system-addons/addons/airdrop/fetch/airdrop.ts
  kit/subgraph/src/system-addons/addons/airdrop/fetch/linear-vesting-strategy.ts
  kit/subgraph/src/system-addons/addons/airdrop/fetch/push-airdrop.ts
  kit/subgraph/src/system-addons/addons/airdrop/fetch/time-bound-airdrop.ts
  kit/subgraph/src/system-addons/addons/airdrop/fetch/vesting-airdrop.ts
  kit/subgraph/src/system-addons/addons/airdrop/push-airdrop-factory.ts
  kit/subgraph/src/system-addons/addons/airdrop/push-airdrop.ts
  kit/subgraph/src/system-addons/addons/airdrop/time-bound-airdrop-factory.ts
  kit/subgraph/src/system-addons/addons/airdrop/utils/vesting-airdrop-utils.ts
  kit/subgraph/src/system-addons/addons/airdrop/vesting-airdrop-factory.ts
  kit/subgraph/src/system-addons/addons/airdrop/vesting-airdrop.ts
  kit/subgraph/src/system-addons/addons/xvp/xvp-settlement-factory.ts
  kit/subgraph/src/system-addons/system-addon-registry.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/fixed-yield-schedule.ts
  kit/subgraph/src/utils/token-decimals.ts
  kit/subgraph/subgraph.yaml
  kit/subgraph/test/system-addons/push-airdrop.spec.ts
  kit/subgraph/test/system-addons/timebound-airdrop.spec.ts
  kit/subgraph/test/system-addons/vesting-airdrop.spec.ts
  kit/subgraph/tools/graph-deploy.ts
  kit/subgraph/tools/interfaceid.ts
Labels: feat, qa:success, status:mergeable

#2560 fix: loki sidecar image point to harbor
  kit/charts/atk/charts/observability/values.yaml
Labels: fix, qa:success, status:mergeable

#2561 fix: handle private repositories in Slack PR notifier
  .github/actions/slack-pr-notifier/slack-notifier.js
Labels: fix, status:ready-for-review, qa:success

#2562 fix: handle private repositories in Slack PR notifier
  .github/actions/slack-pr-notifier/slack-notifier.js
Labels: fix, qa:running, status:ready-for-review

#2579 fix: restore Files and Checks buttons for private repo Slack notifications
  .github/actions/slack-pr-notifier/slack-notifier.js
Labels: qa:running

#2583 fix: resolve TypeScript lint errors for reduce type parameters
  bun.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/observability/README.md
  kit/dapp/eslint.config.mjs
  kit/dapp/hasura-env.d.ts
  kit/dapp/hasura-schema.graphql
  kit/dapp/portal-cache.d.ts
  kit/dapp/portal-env.d.ts
  kit/dapp/portal-schema.graphql
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/the-graph-cache-kit.d.ts
  kit/dapp/the-graph-env-kit.d.ts
  kit/dapp/the-graph-schema-kit.graphql
  kit/dapp/tsconfig.json
  kit/subgraph/package.json
  kit/subgraph/turbo.json
Labels: fix, status:ready-for-review, qa:success

#2587 fix: random reverts in the ignition scripts
  kit/contracts/hardhat.config.ts
  kit/contracts/scripts/hardhat/actions/add-to-registry.ts
  kit/contracts/scripts/hardhat/actions/add-trusted-issuer.ts
  kit/contracts/scripts/hardhat/actions/grant-role.ts
  kit/contracts/scripts/hardhat/actions/issue-verification-claims.ts
  kit/contracts/scripts/hardhat/actions/recover-identity.ts
  kit/contracts/scripts/hardhat/actions/set-global-blocked-addressess.ts
  kit/contracts/scripts/hardhat/actions/set-global-blocked-countries.ts
  kit/contracts/scripts/hardhat/actions/set-global-blocked-identities.ts
  kit/contracts/scripts/hardhat/assets/actions/bond/mature.ts
  kit/contracts/scripts/hardhat/assets/actions/burnable/burn.ts
  kit/contracts/scripts/hardhat/assets/actions/capped/set-cap.ts
  kit/contracts/scripts/hardhat/assets/actions/compliance/add-country-allow-list-compliance-module.ts
  kit/contracts/scripts/hardhat/assets/actions/compliance/remove-compliance-module.ts
  kit/contracts/scripts/hardhat/assets/actions/compliance/set-address-parameters-for-compliance-module.ts
  kit/contracts/scripts/hardhat/assets/actions/compliance/set-country-parameters-for-compliance-module.ts
  kit/contracts/scripts/hardhat/assets/actions/core/approve.ts
  kit/contracts/scripts/hardhat/assets/actions/core/grant-roles.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-asset-classification-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-base-price-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-collateral-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/issue-isin-claim.ts
  kit/contracts/scripts/hardhat/assets/actions/core/mint.ts
  kit/contracts/scripts/hardhat/assets/actions/core/recover-erc20-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/core/recover-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/core/transfer.ts
  kit/contracts/scripts/hardhat/assets/actions/core/update-required-topic.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/forced-recover-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/forced-transfer.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/freeze-partial-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/set-address-frozen.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/unfreeze-partial-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/fund/collect-management-fee.ts
  kit/contracts/scripts/hardhat/assets/actions/pausable/pause-asset.ts
  kit/contracts/scripts/hardhat/assets/actions/pausable/unpause-asset.ts
  kit/contracts/scripts/hardhat/assets/actions/redeemable/redeem.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/claim-yield.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/set-yield-schedule.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/topup-underlying-asset.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/withdrawn-underlying-asset.ts
  kit/contracts/scripts/hardhat/constants/contracts.ts
  kit/contracts/scripts/hardhat/system-addons/xvp/xvp-settlement.ts
  kit/contracts/scripts/hardhat/utils/anvil.ts
  kit/contracts/scripts/hardhat/utils/wait-for-success.ts
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/tsconfig.json
  kit/subgraph/src/system-addons/addons/airdrop/vesting-airdrop.ts
  kit/subgraph/src/system-addons/addons/xvp/fetch/xvp-settlement.ts
  kit/subgraph/src/system-addons/addons/xvp/xvp-settlement-factory.ts
  kit/subgraph/src/system-addons/addons/xvp/xvp-settlement.ts
  kit/subgraph/test/system-addons/push-airdrop.spec.ts
  kit/subgraph/test/system-addons/timebound-airdrop.spec.ts
  kit/subgraph/test/system-addons/vesting-airdrop.spec.ts
  kit/subgraph/test/system-addons/xvp-settlement.spec.ts
Labels: fix, qa:success, status:mergeable

#2581 feat: remove identity factory access control on identity creation
  kit/contracts/contracts/onchainid/extensions/ERC734.sol
  kit/contracts/contracts/onchainid/extensions/ERC735.sol
  kit/contracts/contracts/onchainid/extensions/OnChainIdentityWithRevocation.sol
  kit/contracts/contracts/system/ATKSystemImplementation.sol
  kit/contracts/contracts/system/ATKSystemRoles.sol
  kit/contracts/contracts/system/identity-factory/ATKIdentityFactoryImplementation.sol
  kit/contracts/contracts/system/identity-factory/IATKIdentityFactory.sol
  kit/contracts/contracts/system/identity-factory/identities/ATKIdentityImplementation.sol
  kit/contracts/contracts/system/token-factory/ATKTokenFactoryRegistryImplementation.sol
  kit/contracts/scripts/hardhat/constants/roles.ts
  kit/contracts/test/onchainid/ERC734.t.sol
  kit/contracts/test/system/identity-factory/ATKIdentityFactoryImplementation.t.sol
  kit/contracts/test/system/identity-factory/identities/ATKIdentityImplementation.t.sol
  kit/contracts/test/system/identity-factory/identities/extensions/OnChainIdentityWithRevocation.t.sol
  kit/contracts/test/system/token-factory/ATKTokenFactoryRegistry.t.sol
  kit/subgraph/schema.graphql
  kit/subgraph/src/access-control/utils/role.ts
  kit/subgraph/test/compliance/compliance-modules.spec.ts
Labels: feat, qa:success, status:mergeable

#2589 fix: turbo file, update graphql schemas
  kit/charts/atk/charts/besu-network/charts/besu-genesis/README.md
  kit/charts/atk/charts/support/README.md
  kit/dapp/eslint.config.mjs
  kit/dapp/package.json
  kit/dapp/portal-env.d.ts
  kit/dapp/portal-schema.graphql
  kit/dapp/src/lib/fragments/the-graph/access-control-fragment.ts
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/the-graph-cache-kit.d.ts
  kit/dapp/the-graph-env-kit.d.ts
  kit/dapp/the-graph-schema-kit.graphql
  kit/dapp/turbo.json
  kit/subgraph/package.json
  kit/subgraph/tools/graph-deploy.ts
  kit/subgraph/turbo.json
Labels: fix, status:ready-for-review, qa:success

#2593 fix: comment night run test schedule
  .github/workflows/e2e-playwright-tests.yml
Labels: fix, qa:success, status:mergeable

#2598 fix: onboarding flow
  kit/dapp/src/components/onboarding/onboarding-guard.tsx
  kit/dapp/src/components/onboarding/steps/wallet-step.tsx
  kit/dapp/src/routes/_private/onboarding/platform.tsx
Labels: fix, qa:success, status:mergeable

#2597 feat(dapp): add comprehensive sidebar navigation system
  .claude/base/setup.md
  .claude/commands/review.md
  .cursor/rules/code-architecture.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/shadcn.mdc
  .cursor/rules/solidity.mdc
  .cursor/rules/test-driven-development.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/ui-development.mdc
  .github/workflows/claude.yml
  .gitignore
  CLAUDE.md
  bun.lock
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/dapp/eslint.config.mjs
  kit/dapp/locales/ar/general.json
  kit/dapp/locales/de/general.json
  kit/dapp/locales/en/general.json
  kit/dapp/locales/ja/general.json
  kit/dapp/package.json
  kit/dapp/portal-cache.d.ts
  kit/dapp/src/components/error/default-catch-boundary.tsx
  kit/dapp/src/components/error/not-found.tsx
  kit/dapp/src/components/language/language-switcher.tsx
  kit/dapp/src/components/onboarding/steps/asset-selection-step.tsx
  kit/dapp/src/components/onboarding/steps/system-step.tsx
  kit/dapp/src/components/onboarding/steps/wallet-step.tsx
  kit/dapp/src/components/sidebar/app-sidebar.tsx
  kit/dapp/src/components/sidebar/nav-main.tsx
  kit/dapp/src/components/sidebar/nav-projects.tsx
  kit/dapp/src/components/sidebar/sidebar-logo.tsx
  kit/dapp/src/components/theme/theme-toggle.tsx
  kit/dapp/src/components/ui/avatar.tsx
  kit/dapp/src/components/ui/breadcrumb.tsx
  kit/dapp/src/components/ui/collapsible.tsx
  kit/dapp/src/components/ui/error-display.tsx
  kit/dapp/src/components/ui/input.tsx
  kit/dapp/src/components/ui/separator.tsx
  kit/dapp/src/components/ui/sheet.tsx
  kit/dapp/src/components/ui/sidebar.tsx
  kit/dapp/src/components/ui/tooltip.tsx
  kit/dapp/src/hooks/use-error-info.ts
  kit/dapp/src/hooks/use-mobile.ts
  kit/dapp/src/providers/i18n-provider.tsx
  kit/dapp/src/routes/_private/_onboarded.tsx
  kit/dapp/src/routes/_private/onboarding/platform.tsx
  kit/dapp/tsconfig.json
  kit/dapp/vite.config.ts
  kit/subgraph/test/compliance/compliance-modules.spec.ts
  kit/subgraph/turbo.json
  package.json
Labels: feat, status:ready-for-review, qa:success

#2577 feat: new onboarding wizard flow
  .cursorindexingignore
  bun.lock
  kit/charts/tools/copy-artifacts.ts
  kit/contracts/contracts/assets/token-sale/README.md
  kit/contracts/tools/artifacts-abi.ts
  kit/contracts/tools/codegen-types.ts
  kit/dapp/package.json
  kit/dapp/portal-env.d.ts
  kit/dapp/portal-schema.graphql
  kit/dapp/src/components/onboarding/pincode-input.tsx
  kit/dapp/src/components/onboarding/steps/asset-selection-step.tsx
  kit/dapp/src/components/onboarding/steps/system-step.tsx
  kit/dapp/src/components/onboarding/steps/wallet-security-step.tsx
  kit/dapp/src/components/onboarding/steps/wallet-step.tsx
  kit/dapp/src/components/ui/input-otp.tsx
  kit/dapp/src/lib/db/schemas/settings.ts
  kit/dapp/src/lib/fragments/the-graph/access-control-fragment.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/dapp/src/orpc/routes/token/routes/factory.create.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/routes/_private/onboarding/platform.tsx
  kit/dapp/the-graph-cache-kit.d.ts
  kit/dapp/the-graph-env-kit.d.ts
  kit/dapp/the-graph-schema-kit.graphql
  kit/dapp/tsconfig.json
Labels: feat, status:ready-for-review, qa:success

#2601 feat: add verification challenge to token factory creation
  CLAUDE.md
  kit/dapp/portal-env.d.ts
  kit/dapp/portal-schema.graphql
  kit/dapp/src/orpc/routes/token/routes/factory.create.ts
Labels: feat, qa:success, status:mergeable

#2622 fix: avatar-styling
  CLAUDE.md
  kit/dapp/package.json
  kit/dapp/src/components/user-dropdown/user-dropdown.tsx
  kit/dapp/src/components/web3-avatar/web3-avatar.tsx
  kit/dapp/src/routes/_private/_onboarded.tsx
  package.json
Labels: fix, status:ready-for-review, qa:success

#2623 fix: use correct runner for abandoned PR job to fix Slack notifications
  .github/workflows/qa.yml
  CLAUDE.md
  kit/dapp/src/components/web3-avatar/web3-avatar.tsx
  kit/dapp/tsconfig.json
Labels: fix, qa:running, status:ready-for-review

#2627 refactor: update system middleware to use orpc and EthereumAddress type
  .vscode/settings.json
  kit/dapp/src/orpc/middlewares/system/system.middleware.ts
Labels: status:ready-for-review, qa:success, refactor

#2635 feat: indexing of token system stats
  docker-compose.yml
  kit/contracts/scripts/hardhat/assets/actions/core/remove-claim.ts
  kit/contracts/scripts/hardhat/assets/fund.ts
  kit/contracts/scripts/hardhat/utils/claim-scheme-utils.ts
  kit/dapp/the-graph-cache-kit.d.ts
  kit/dapp/the-graph-env-kit.d.ts
  kit/dapp/the-graph-schema-kit.graphql
  kit/subgraph/schema.graphql
  kit/subgraph/src/identity/identity.ts
  kit/subgraph/src/identity/utils/decode-claim.ts
  kit/subgraph/src/stats/system-stats.ts
  kit/subgraph/src/system/system.ts
  kit/subgraph/src/token-extensions/burnable/burnable.ts
  kit/subgraph/src/token-factory/fetch/token-factory-registry.ts
  kit/subgraph/src/token/token.ts
  kit/subgraph/src/utils/token-decimals.ts
  kit/subgraph/test/system-stats.spec.ts
Labels: feat, qa:success, status:mergeable
