Repository settlemint/asset-tokenization-kit, pull requests merged in 2025-03, with the labels that each got.

#1040 fix: portfolio dashboard
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/assets-supply.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/greeting/greeting.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/components/blocks/charts/assets/asset-distribution.tsx
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table.tsx
  kit/dapp/src/components/blocks/transactions-table/transactions-history.tsx
  kit/dapp/src/components/blocks/user-assets-table/user-assets-table.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-user.tsx
  kit/dapp/src/lib/queries/transactions/transactions-history.tsx
Labels: fix

#1070 fix: show all events on admin dashboard
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/page.tsx
Labels: fix

#1072 feat: add asset type to asset evens (subgraph changes)
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/bond.ts
  kit/subgraph/src/assets/cryptocurrency.ts
  kit/subgraph/src/assets/equity.ts
  kit/subgraph/src/assets/events/approval.ts
  kit/subgraph/src/assets/events/assetcreated.ts
  kit/subgraph/src/assets/events/bondmatured.ts
  kit/subgraph/src/assets/events/bondredeemed.ts
  kit/subgraph/src/assets/events/burn.ts
  kit/subgraph/src/assets/events/managementfeecollected.ts
  kit/subgraph/src/assets/events/mint.ts
  kit/subgraph/src/assets/events/paused.ts
  kit/subgraph/src/assets/events/performancefeecollected.ts
  kit/subgraph/src/assets/events/roleadminchanged.ts
  kit/subgraph/src/assets/events/rolegranted.ts
  kit/subgraph/src/assets/events/rolerevoked.ts
  kit/subgraph/src/assets/events/stablecoincollateralupdated.ts
  kit/subgraph/src/assets/events/tokensfrozen.ts
  kit/subgraph/src/assets/events/tokenwithdrawn.ts
  kit/subgraph/src/assets/events/transfer.ts
  kit/subgraph/src/assets/events/underlyingassettopup.ts
  kit/subgraph/src/assets/events/underlyingassetwithdrawn.ts
  kit/subgraph/src/assets/events/unpaused.ts
  kit/subgraph/src/assets/events/userblocked.ts
  kit/subgraph/src/assets/events/userunblocked.ts
  kit/subgraph/src/assets/fund.ts
  kit/subgraph/src/assets/stablecoin.ts
  kit/subgraph/src/factories/bond-factory.ts
  kit/subgraph/src/factories/cryptocurrency-factory.ts
  kit/subgraph/src/factories/equity-factory.ts
  kit/subgraph/src/factories/fund-factory.ts
  kit/subgraph/src/factories/stablecoin-factory.ts
Labels: feat

#1073 feat: add asset type to asset evens (ui changes)
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/asset-events-table/asset-events-columns.tsx
  kit/dapp/src/components/blocks/asset-events-table/detail-sheet.tsx
  kit/dapp/src/lib/queries/asset-events/asset-events-fragments.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-list.tsx
Labels: feat

#1074 feat: portfolio - my asset detail pages
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/(details)/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/_components/page-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/cryptocurrency/[address]/(details)/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/cryptocurrency/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/cryptocurrency/[address]/_components/page-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/cryptocurrency/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/equity/[address]/(details)/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/equity/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/equity/[address]/_components/page-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/equity/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/fund/[address]/(details)/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/fund/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/fund/[address]/_components/page-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/fund/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/stablecoin/[address]/(details)/_components/collateral.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/stablecoin/[address]/(details)/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/stablecoin/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/stablecoin/[address]/_components/page-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/stablecoin/[address]/layout.tsx
  kit/dapp/src/components/blocks/charts/assets/asset-distribution.tsx
  kit/dapp/src/lib/auth/client.ts
Labels: feat

#1075 fix: no recipient in mint forms
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/[address]/_components/mint-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/_components/mint-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/_components/mint-form/steps/recipients.tsx
Labels: fix

#1085 fix: stablecoin free collateral and progress bar ui
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/_components/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/_components/mint-form/steps/amount.tsx
  kit/dapp/src/components/blocks/percentage-progress/percentage-progress.tsx
  kit/dapp/src/lib/queries/stablecoin/stablecoin-detail.tsx
Labels: fix

#1083 fix: sidebar rtl
  kit/dapp/src/components/ui/sidebar.tsx
Labels: fix

#1081 fix: tablink focus color
  kit/dapp/src/app/globals.css
  kit/dapp/src/components/blocks/charts/pie-chart.tsx
Labels: fix

#1086 feat: bond redeem
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/_components/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/_components/redeem-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/_components/redeem-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/_components/redeem-form/steps/summary.tsx
  kit/dapp/src/lib/mutations/bond/redeem/redeem-action.ts
  kit/dapp/src/lib/mutations/bond/redeem/redeem-schema.ts
Labels: feat

#1090 fix: user details optimizations
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/(details)/page.tsx
  kit/dapp/src/lib/pagination.ts
Labels: fix

#1091 fix: reduce memory usage of next image
  kit/dapp/src/app/[locale]/(home)/_components/assets/hero-dark.png
  kit/dapp/src/app/[locale]/(home)/_components/assets/hero-dark.webp
  kit/dapp/src/app/[locale]/(home)/_components/assets/hero-light.png
  kit/dapp/src/app/[locale]/(home)/_components/assets/hero-light.webp
  kit/dapp/src/app/[locale]/(home)/_components/hero.tsx
Labels: fix

#1092 fix: skip optimisation of hero image due to memory issues
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(home)/_components/hero.tsx
Labels: fix

#1093 fix: dedicated portal api to display transactions timeline graph
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/transaction-history.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/transactions-history.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/components/blocks/transactions-table/transactions-history.tsx
  kit/dapp/src/lib/charts.ts
  kit/dapp/src/lib/queries/transactions/transactions-history.tsx
  kit/dapp/src/lib/queries/transactions/transactions-processed.tsx
  kit/dapp/src/lib/queries/transactions/transactions-timeline.tsx
Labels: fix

#1099 chore: upgrade next-intl
  bun.lock
  kit/dapp/global.d.ts
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(home)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/activity/(transactions)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/activity/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/holders/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/permissions/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/underlying-assets/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/[address]/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/[address]/holders/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/[address]/permissions/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/cryptocurrencies/[address]/underlying-assets/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/holders/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/permissions/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/underlying-assets/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/holders/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/permissions/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/underlying-assets/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/holders/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/permissions/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/underlying-assets/page.tsx
  kit/dapp/src/app/[locale]/(private)/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/bond/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/cryptocurrency/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/cryptocurrency/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/equity/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/equity/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/fund/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/fund/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/stablecoin/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/stablecoin/[address]/layout.tsx
  kit/dapp/src/app/[locale]/layout.tsx
  kit/dapp/src/components/blocks/language/language-menu-item.tsx
  kit/dapp/src/components/blocks/language/language-toggle.tsx
  kit/dapp/src/i18n/request.ts
Labels: chore

#1094 fix: Grant Role does not allow to search for a user
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/_components/mature-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/_components/pause-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/bonds/[address]/holders/_components/actions/block-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/_components/pause-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/equities/[address]/holders/_components/actions/block-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/_components/pause-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/funds/[address]/holders/_components/actions/block-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/_components/pause-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/stablecoins/[address]/holders/_components/actions/block-form/steps/summary.tsx
  kit/dapp/src/components/blocks/asset-grant-role/steps/address.tsx
  kit/dapp/src/components/blocks/asset-grant-role/steps/summary.tsx
  kit/dapp/src/components/blocks/form/inputs/form-users.tsx
Labels: fix

#1103 feat: different columns in the user dashboard
  bun.lock
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table-columns-small.tsx
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table-mini.tsx
Labels: feat

#1104 feat: tokenized deposits
  kit/contracts/contracts/TokenizedDeposit.md
  kit/contracts/contracts/TokenizedDeposit.sol
  kit/contracts/contracts/TokenizedDepositFactory.args
  kit/contracts/contracts/TokenizedDepositFactory.sol
  kit/contracts/genesis-output.sh
  kit/contracts/ignition/modules/tokenized-deposit-factory.ts
  kit/contracts/ignition/modules/tokenized-deposits.ts
  kit/contracts/test/TokenizedDeposit.t.sol
  kit/contracts/test/TokenizedDepositFactory.t.sol
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/bond.ts
  kit/subgraph/src/assets/cryptocurrency.ts
  kit/subgraph/src/assets/equity.ts
  kit/subgraph/src/assets/events/userallowed.ts
  kit/subgraph/src/assets/events/userdisallowed.ts
  kit/subgraph/src/assets/fetch/cryptocurrency.ts
  kit/subgraph/src/assets/fetch/tokenizeddeposit.ts
  kit/subgraph/src/assets/fund.ts
  kit/subgraph/src/assets/stablecoin.ts
  kit/subgraph/src/assets/tokenizeddeposit.ts
  kit/subgraph/src/factories/tokenizeddeposit-factory.ts
  kit/subgraph/src/fetch/balance.ts
  kit/subgraph/src/utils/enums.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#1108 feat: add api keys auth
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/auth/client.ts
  kit/dapp/src/lib/auth/emails.tsx
  kit/dapp/src/lib/config/environment.ts
  kit/dapp/src/lib/db/schema-auth.ts
Labels: feat

#1109 feat: api
  bun.lock
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/portfolio-management.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/actions/update-kyc-status-action.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/(details)/_components/details-grid.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api-keys/page.tsx
  kit/dapp/src/app/api/[[...slugs]]/route.ts
  kit/dapp/src/components/blocks/api-key/create-api-key-form.tsx
  kit/dapp/src/components/blocks/language/language-menu-item.tsx
  kit/dapp/src/components/blocks/language/language-toggle.tsx
  kit/dapp/src/components/layout/page-header.tsx
  kit/dapp/src/components/ui/animated-icons/connect.tsx
  kit/dapp/src/components/ui/animated-icons/languages.tsx
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-list-api.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-list.tsx
  kit/dapp/src/lib/queries/user/user-fragment.ts
  kit/dapp/src/lib/utils/elysia.ts
  kit/dapp/src/messages/en.json
  package.json
Labels: feat

#1115 fix: tokenized deposit metrics
  biome.json
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/assets.tsx
  kit/dapp/tsconfig.json
  kit/subgraph/src/factories/tokenizeddeposit-factory.ts
Labels: fix

#1116 fix: small fixes
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/layout.tsx
  kit/dapp/src/app/[locale]/(private)/layout.tsx
  kit/dapp/src/app/[locale]/(private)/platform/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/layout.tsx
  kit/dapp/src/app/[locale]/layout.tsx
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table-columns.tsx
  kit/dapp/src/lib/config/metadata.ts
  kit/dapp/src/lib/config/site.ts
Labels: fix

#1117 feat: unify mint
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table-columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table-data.ts
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/burn-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/mint-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/mint-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/mint-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/pause-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/permissions/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/types.ts
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/transfer-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/components/blocks/asset-info/column-asset-type.ts
  kit/dapp/src/lib/mutations/bond/mint/mint-action.ts
  kit/dapp/src/lib/mutations/bond/mint/mint-schema.ts
  kit/dapp/src/lib/mutations/cryptocurrency/mint/mint-action.ts
  kit/dapp/src/lib/mutations/equity/mint/mint-action.ts
  kit/dapp/src/lib/mutations/equity/mint/mint-schema.ts
  kit/dapp/src/lib/mutations/fund/mint/mint-action.ts
  kit/dapp/src/lib/mutations/fund/mint/mint-schema.ts
  kit/dapp/src/lib/mutations/mint/mint-action.ts
  kit/dapp/src/lib/mutations/mint/mint-schema.ts
  kit/dapp/src/lib/mutations/stablecoin/mint/mint-action.ts
  kit/dapp/src/lib/mutations/stablecoin/mint/mint-schema.ts
  kit/dapp/src/lib/mutations/tokenized-deposit/mint/mint-action.ts
  kit/dapp/src/lib/mutations/tokenized-deposit/mint/mint-schema.ts
  kit/dapp/src/lib/queries/asset-detail.ts
  kit/dapp/src/lib/utils/zod.ts
Labels: feat

#1118 feat: unify block user
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/actions/block-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
  kit/dapp/src/lib/mutations/block-user/block-user-action.ts
  kit/dapp/src/lib/mutations/block-user/block-user-schema.ts
  kit/dapp/src/lib/mutations/bond/block-user/block-user-action.ts
  kit/dapp/src/lib/mutations/equity/block-user/block-user-action.ts
  kit/dapp/src/lib/mutations/equity/block-user/block-user-schema.ts
  kit/dapp/src/lib/mutations/fund/block-user/block-user-action.ts
  kit/dapp/src/lib/mutations/fund/block-user/block-user-schema.ts
  kit/dapp/src/lib/mutations/stablecoin/block-user/block-user-action.ts
  kit/dapp/src/lib/mutations/stablecoin/block-user/block-user-schema.ts
Labels: feat

#1120 fix: safe parse transaction hash
  kit/dapp/src/lib/mutations/asset/access-control/revoke-role/revoke-role.ts
  kit/dapp/src/lib/mutations/block-user/block-user-action.ts
  kit/dapp/src/lib/mutations/bond/create/create-action.ts
  kit/dapp/src/lib/mutations/bond/mature/mature-action.ts
  kit/dapp/src/lib/mutations/bond/redeem/redeem-action.ts
  kit/dapp/src/lib/mutations/burn/burn-action.ts
  kit/dapp/src/lib/mutations/equity/create/create-action.ts
  kit/dapp/src/lib/mutations/freeze/freeze-action.ts
  kit/dapp/src/lib/mutations/fund/create/create-action.ts
  kit/dapp/src/lib/mutations/mint/mint-action.ts
  kit/dapp/src/lib/mutations/pause/pause-action.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-action.ts
  kit/dapp/src/lib/mutations/transfer/transfer-action.ts
  kit/dapp/src/lib/mutations/unpause/unpause-action.ts
  kit/dapp/src/lib/utils/zod.ts
Labels: fix

#1113 fix: update grant, revoke, update role mutations
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/grant-role-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/permissions/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/permissions/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/components/blocks/asset-edit-permissions/form.tsx
  kit/dapp/src/components/blocks/asset-edit-permissions/steps/roles.tsx
  kit/dapp/src/components/blocks/asset-revoke-all-permissions/form.tsx
  kit/dapp/src/lib/mutations/asset/access-control/grant-role/grant-role-action.ts
  kit/dapp/src/lib/mutations/asset/access-control/grant-role/grant-role-schema.ts
  kit/dapp/src/lib/mutations/asset/access-control/grant-role/grant-role.ts
  kit/dapp/src/lib/mutations/asset/access-control/revoke-role/revoke-role-action.ts
  kit/dapp/src/lib/mutations/asset/access-control/revoke-role/revoke-role-schema.ts
  kit/dapp/src/lib/mutations/asset/access-control/revoke-role/revoke-role.ts
  kit/dapp/src/lib/mutations/asset/access-control/update-role/update-role-schema.ts
  kit/dapp/src/lib/mutations/asset/access-control/update-role/update-roles-action.ts
  kit/dapp/src/lib/mutations/asset/access-control/update-role/update-roles.ts
Labels: fix

#1122 fix: [object Object] in holder, asset type columns
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
  kit/dapp/src/components/blocks/asset-info/column-holder-type.ts
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table-columns-small.tsx
  kit/dapp/src/components/blocks/user-assets-table/user-assets-table-columns.tsx
Labels: fix

#1124 feat: collateral for TD
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/steps/summary.tsx
  kit/dapp/src/lib/mutations/stablecoin/update-collateral/update-collateral-action.ts
  kit/dapp/src/lib/mutations/tokenized-deposit/create/create-action.ts
  kit/dapp/src/lib/mutations/tokenized-deposit/create/create-schema.ts
  kit/dapp/src/lib/mutations/update-collateral/update-collateral-action.ts
  kit/dapp/src/lib/mutations/update-collateral/update-collateral-schema.ts
  kit/dapp/src/lib/queries/tokenizeddeposit-factory/predict-address.tsx
Labels: feat

#1123 fix: manage dropdown items
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/page-header.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/_components/edit-user-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/manage-dropdown.tsx
Labels: fix

#1126 fix: dapp codegen on contracts change
  turbo.json
Labels: fix

#1128 feat: add collateral details for TD
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/collateral.tsx
  kit/dapp/src/lib/queries/tokenizeddeposit/tokenizeddeposit-detail.tsx
  kit/dapp/src/lib/queries/tokenizeddeposit/tokenizeddeposit-fragment.ts
Labels: feat

#1129 fix: cleanup duplicated keys in create form translations
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/create-forms/bonds/form.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/form.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/equities/form.tsx
  kit/dapp/src/components/blocks/create-forms/equities/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/equities/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/equities/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/funds/form.tsx
  kit/dapp/src/components/blocks/create-forms/funds/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/funds/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/funds/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/form.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/form.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/summary.tsx
Labels: fix

#1087 fix: user contacts
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/portfolio-management.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/(table)/_components/actions.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/_components/add-contact-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/_components/add-contact-form/steps/contact.tsx
  kit/dapp/src/components/blocks/form/form.tsx
  kit/dapp/src/components/blocks/my-contacts-table/my-contacts-table-columns.tsx
  kit/dapp/src/components/blocks/my-contacts-table/my-contacts-table.tsx
  kit/dapp/src/lib/mutations/contact/add-contact-action.ts
  kit/dapp/src/lib/mutations/contact/add-contact-schema.ts
  kit/dapp/src/lib/queries/contact/contact-fragment.ts
  kit/dapp/src/lib/queries/contact/contact-list.tsx
Labels: fix

#1137 feat: basic settings form
  bun.lock
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/_components/settings-action.tsx
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/_components/settings-form.tsx
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/page.tsx
Labels: feat

#1138 feat: allow to set an initial price
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table.tsx
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/_components/settings-action.tsx
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/_components/settings-form.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/form.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/form.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/equities/form.tsx
  kit/dapp/src/components/blocks/create-forms/equities/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/equities/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/funds/form.tsx
  kit/dapp/src/components/blocks/create-forms/funds/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/funds/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/form.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/form.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/summary.tsx
  kit/dapp/src/hooks/use-settings.ts
  kit/dapp/src/lib/mutations/bond/create/create-action.ts
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-action.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-schema.ts
  kit/dapp/src/lib/mutations/equity/create/create-action.ts
  kit/dapp/src/lib/mutations/equity/create/create-schema.ts
  kit/dapp/src/lib/mutations/fund/create/create-action.ts
  kit/dapp/src/lib/mutations/fund/create/create-schema.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-action.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-schema.ts
  kit/dapp/src/lib/mutations/tokenized-deposit/create/create-action.ts
  kit/dapp/src/lib/mutations/tokenized-deposit/create/create-schema.ts
  kit/dapp/src/lib/queries/asset/asset-fragment.ts
  kit/dapp/src/lib/queries/bond/bond-fragment.ts
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-fragment.ts
  kit/dapp/src/lib/queries/equity/equity-fragment.ts
  kit/dapp/src/lib/queries/fund/fund-fragment.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-fragment.ts
  kit/dapp/src/lib/queries/tokenizeddeposit/tokenizeddeposit-fragment.ts
  kit/dapp/src/lib/utils/zod.ts
  kit/dapp/tsconfig.json
Labels: feat

#1143 feat: add manage action restrictions
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/detail-page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/burn-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/burn-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/mint-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/redeem-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/transfer-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/components/blocks/charts/assets/collateral-ratio.tsx
  kit/dapp/src/components/blocks/form/form-sheet.tsx
  kit/dapp/src/components/blocks/form/inputs/types.ts
  kit/dapp/src/lib/queries/asset-balance/asset-balance-detail.tsx
  kit/dapp/src/lib/queries/stablecoin/stablecoin-detail.tsx
Labels: feat

#1144 fix: locale redirect
  kit/dapp/src/components/blocks/auth/auth-provider.tsx
Labels: fix

#1146 fix: sidebar adn buttons readability
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/sidebar.tsx
  kit/dapp/src/app/globals.css
  kit/dapp/src/components/blocks/create-forms/designer-button.tsx
  kit/dapp/src/components/layout/nav-main.tsx
Labels: fix

#1148 feat: integrate the api docs and pretty api key table
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/portfolio-management.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api-keys/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/_components/api-key-columns.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/_components/create-api-key-button.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/_components/create-api-key-form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/_components/delete-api-key-action.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/docs/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/page.tsx
  kit/dapp/src/app/api/[[...slugs]]/route.ts
  kit/dapp/src/lib/api/default-error-schema.ts
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates-api.ts
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates-update-api.ts
  kit/dapp/src/lib/queries/bond/bond-detail-api.ts
  kit/dapp/src/lib/queries/bond/bond-list-api.ts
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-detail-api.ts
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-list-api.ts
  kit/dapp/src/lib/queries/equity/equity-detail-api.ts
  kit/dapp/src/lib/queries/equity/equity-list-api.ts
  kit/dapp/src/lib/queries/fund/fund-detail-api.ts
  kit/dapp/src/lib/queries/fund/fund-list-api.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-detail-api.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-list-api.ts
  kit/dapp/src/lib/queries/tokenizeddeposit/tokenizeddeposit-detail-api.ts
  kit/dapp/src/lib/queries/tokenizeddeposit/tokenizeddeposit-list-api.ts
Labels: feat

#1149 feat: use server action
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/ja.json
  kit/dapp/src/lib/mutations/user/set-pincode.ts
Labels: feat

#1150 feat: disable the multi plugin
  bun.lock
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/auth/client.ts
  package.json
Labels: feat

#1152 fix: default decimals to 6 for stablecoins
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/basics.tsx
Labels: fix

#1164 fix: formatter translations
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/collateral.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/actions/freeze-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/permissions/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/underlying-assets/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/(details)/_components/details-grid.tsx
  kit/dapp/src/app/[locale]/layout.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/approval.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/burn.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/mint.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/transfer.tsx
  kit/dapp/src/components/blocks/language/language-menu-item.tsx
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table-columns-small.tsx
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table-columns.tsx
  kit/dapp/src/components/blocks/my-contacts-table/my-contacts-table-columns.tsx
  kit/dapp/src/components/blocks/percentage-progress/percentage-progress.tsx
  kit/dapp/src/components/blocks/transactions-table/transaction-table-detail-sheet.tsx
  kit/dapp/src/components/blocks/user-assets-table/user-assets-table-columns.tsx
  kit/dapp/src/i18n/request.ts
  kit/dapp/src/lib/mutations/bond/create/create-action.ts
  kit/dapp/src/lib/queries/bond-factory/predict-address.tsx
  kit/dapp/src/lib/utils/date.ts
  kit/dapp/src/lib/utils/number.ts
Labels: fix

#1165 fix: use correct roles in cryptocurrency edit permissions form too
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/grant-role-form/steps/roles.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/components/blocks/asset-edit-permissions/form.tsx
  kit/dapp/src/components/blocks/asset-edit-permissions/steps/roles.tsx
  kit/dapp/src/lib/config/roles.ts
Labels: fix

#1169 feat: blocklist allowlist indexing
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/actions/change-role-action.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/actions/update-kyc-status-action.tsx
  kit/subgraph/package.json
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/bond.ts
  kit/subgraph/src/assets/equity.ts
  kit/subgraph/src/assets/fetch/tokenizeddeposit.ts
  kit/subgraph/src/assets/fixedyield.ts
  kit/subgraph/src/assets/fund.ts
  kit/subgraph/src/assets/stablecoin.ts
  kit/subgraph/src/assets/tokenizeddeposit.ts
  kit/subgraph/src/fetch/allow-user.ts
  kit/subgraph/src/fetch/block-user.ts
Labels: feat

#1171 fix: sign in background
  kit/dapp/src/app/[locale]/auth/layout.tsx
  kit/dapp/src/lib/charts.ts
  kit/dapp/src/lib/utils/zod.ts
Labels: fix

#1176 feat: translated and extended homepage
  bun.lock
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(home)/_components/features.tsx
  kit/dapp/src/app/[locale]/(home)/_components/footer.tsx
  kit/dapp/src/app/[locale]/(home)/_components/hero.tsx
  kit/dapp/src/app/[locale]/(home)/_components/theme-image.tsx
  kit/dapp/src/app/[locale]/(home)/_components/word-animation.tsx
  kit/dapp/src/app/[locale]/(home)/assets/hero-dark.webp
  kit/dapp/src/app/[locale]/(home)/assets/hero-light.webp
  kit/dapp/src/app/[locale]/(home)/page.tsx
  package.json
Labels: feat

#1181 fix: sidebar active state
  kit/dapp/src/app/globals.css
Labels: fix

#1185 fix: Possible to add 0 seconds in Collateral proof validity field
  bun.lock
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/configuration.tsx
Labels: fix

#1186 fix: number field validation
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/steps/amount.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/equities/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/funds/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/summary.tsx
  kit/dapp/src/components/blocks/form/inputs/form-input.tsx
Labels: fix

#1187 fix: disable actions in the holders table when contract is paused
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
Labels: fix

#1188 fix: guardrails for unlimited number inputs
  kit/dapp/src/components/blocks/create-forms/bonds/steps/summary.tsx
  kit/dapp/src/components/blocks/form/inputs/form-input.tsx
Labels: fix

#1189 fix: hide or disable burn when not possible
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
Labels: fix

#1190 fix: value needs to be 0 or higher
  kit/dapp/src/components/blocks/create-forms/bonds/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/equities/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/funds/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/configuration.tsx
Labels: fix

#1191 fix: transfer form and portfolio improvements
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/transfer-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/components/blocks/detail-grid/detail-grid-item.tsx
  kit/dapp/src/lib/queries/asset/asset-users-fragment.ts
Labels: fix

#1195 fix: update create asset
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/sign-in-page.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/test-data/success-msg-data.ts
  kit/e2e/tests/create-assets.spec.ts
Labels: fix

#1197 feat: bond yield charts
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/components/blocks/charts/assets/bond/bond-status-progress.tsx
  kit/dapp/src/components/blocks/charts/assets/bond/bond-units-over-time.tsx
  kit/dapp/src/components/blocks/charts/assets/bond/bond-yield-coverage.tsx
  kit/dapp/src/components/blocks/charts/assets/bond/bond-yield-distribution.tsx
  kit/dapp/src/components/blocks/charts/chart-skeleton.tsx
  kit/dapp/src/components/blocks/charts/donut-progress-chart.tsx
  kit/dapp/src/components/blocks/charts/gauge-chart.tsx
  kit/dapp/src/lib/queries/bond/bond-fragment.ts
  kit/dapp/src/lib/queries/bond/bond-yield-coverage.ts
  kit/dapp/src/lib/queries/bond/bond-yield-distribution.ts
  kit/dapp/src/lib/utils/bond-status.ts
  kit/dapp/src/lib/utils/chart-colors.ts
  kit/dapp/src/messages/en.json
Labels: feat

#1198 fix: duplicated transfer forms in portfolio page
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/transfer-form/select-asset.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/transfer-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/transfer-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/transfer-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/transfer-form/transfer-form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/select-asset.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/summary.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
  kit/dapp/src/lib/mutations/bond/create/create-action.ts
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/queries/asset-balance/asset-balance-user.tsx
  kit/dapp/src/lib/queries/bond-factory/predict-address.tsx
Labels: fix

#1207 fix: ui form fields
  kit/dapp/src/app/globals.css
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/configuration.tsx
  kit/dapp/src/components/blocks/form/inputs/form-select.tsx
Labels: fix

#1209 feat: tune number input fields
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/burn-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/burn-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/manage-dropdown.tsx
  kit/dapp/src/components/blocks/form/form-field-translatable-message.tsx
  kit/dapp/src/components/blocks/form/inputs/form-input.tsx
  kit/dapp/src/lib/mutations/burn/burn-action.ts
  kit/dapp/src/lib/mutations/burn/burn-schema.ts
Labels: feat

#1208 fix: change email support
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/auth/emails.tsx
Labels: fix

#1205 feat: user default currency
  README.md
  kit/dapp/src/components/blocks/auth/pincode-form.tsx
  kit/dapp/src/components/blocks/currency/currency-menu-item.tsx
  kit/dapp/src/components/layout/user-dropdown.tsx
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/db/schema-auth.ts
  kit/dapp/src/lib/mutations/user/update-currency.ts
  kit/dapp/src/lib/queries/user/user-fragment.ts
Labels: feat

#1220 fix: remove isin from stablecoin
  bun.lock
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/basics.tsx
  kit/dapp/src/lib/mutations/stablecoin/create/create-action.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-schema.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-fragment.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-schema.ts
Labels: fix

#1223 fix: user onboarding + user details
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/asset-activity.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/(details)/page.tsx
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/queries/asset-activity/asset-activity-schema.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-list.tsx
  kit/dapp/src/lib/queries/user/user-list.tsx
Labels: fix

#1224 fix: asset creation and activity
  kit/dapp/src/components/blocks/transactions-table/transaction-table-detail-sheet.tsx
  kit/dapp/src/lib/queries/bond-factory/bond-factory-schema.ts
  kit/dapp/src/lib/queries/cryptocurrency-factory/cryptocurrency-factory-schema.ts
  kit/dapp/src/lib/queries/equity-factory/equity-factory-schema.ts
  kit/dapp/src/lib/queries/fund-factory/fund-factory-schema.ts
  kit/dapp/src/lib/queries/stablecoin-factory/stablecoin-factory-schema.ts
  kit/dapp/src/lib/queries/tokenizeddeposit-factory/tokenizeddeposit-factory-schema.ts
  kit/dapp/src/lib/queries/transactions/transaction-detail.tsx
  kit/dapp/src/lib/queries/transactions/transaction-fragment.tsx
  kit/dapp/src/lib/queries/transactions/transaction-schema.ts
  kit/dapp/src/lib/queries/transactions/wait-for-transaction.ts
Labels: fix

#1227 fix: asset details and actions
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/components/blocks/form/inputs/form-otp-dialog.tsx
  kit/dapp/src/lib/queries/asset/asset-users-schema.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-schema.ts
  kit/dapp/src/lib/queries/transactions/wait-for-transaction.test.ts
  kit/dapp/src/lib/queries/user/user-detail.tsx
Labels: fix

#1228 fix: formfield postfix ui
  kit/dapp/src/components/blocks/form/inputs/form-input.tsx
Labels: fix

#1230 fix: missing event details
  kit/dapp/src/components/blocks/asset-events-table/detail-sheet.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/user-allowed.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/user-disallowed.tsx
Labels: fix

#1229 fix: translated errors
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/components/blocks/form/form-field-translatable-message.tsx
  kit/dapp/src/components/blocks/form/form.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
  kit/dapp/src/components/blocks/form/inputs/form-checkbox.tsx
  kit/dapp/src/components/blocks/form/inputs/form-input.tsx
  kit/dapp/src/components/blocks/form/inputs/form-otp-dialog.tsx
  kit/dapp/src/components/blocks/form/inputs/form-select.tsx
  kit/dapp/src/components/blocks/form/inputs/form-switch.tsx
  kit/dapp/src/components/blocks/form/inputs/form-users.tsx
  kit/dapp/src/lib/hooks/useZodErrors.ts
  kit/dapp/src/lib/utils/zod-translations.ts
Labels: fix

#1231 fix: collateral proof validity
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates-api.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-calculated.test.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-calculated.ts
Labels: fix

#1232 feat: convert last zod usages to typebox
  .cursor/rules/react-hook-form.mdc
  bun.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/ja.json
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/_components/create-api-key-form.tsx
  kit/dapp/src/components/blocks/auth/pincode-form.tsx
  kit/dapp/src/lib/auth/utils.ts
  kit/dapp/src/lib/config/environment.ts
  kit/dapp/src/lib/mutations/safe-action.ts
Labels: feat

#1233 fix: rtl issues
  kit/dapp/src/app/globals.css
  kit/dapp/src/components/layout/header.tsx
  kit/dapp/src/components/layout/user-dropdown.tsx
Labels: fix

#1235 fix: page titles and graphs
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/activity/(transactions)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/activity/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/activity/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/layout.tsx
  kit/dapp/src/app/[locale]/(private)/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-activity/(transactions)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-activity/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/profile/page.tsx
  kit/dapp/src/app/[locale]/layout.tsx
  kit/dapp/src/components/blocks/charts/bar-charts/horizontal-bar-chart.tsx
  kit/dapp/src/components/blocks/charts/bar-charts/vertical-bar-chart.tsx
  kit/dapp/src/components/blocks/charts/pie-chart.tsx
  kit/dapp/src/lib/queries/user/user-count.tsx
Labels: fix

#1237 fix: user balances in popup
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/components/blocks/evm-address/evm-address-balances.tsx
  kit/dapp/src/components/blocks/evm-address/evm-address.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
  kit/dapp/src/components/blocks/form/inputs/form-users.tsx
  kit/dapp/src/components/blocks/search/search.tsx
  package.json
Labels: fix

#1238 fix: type the validated fields array
  .cursor/rules/security.mdc
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/allow-form/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/block-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/block-form/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/disallow-form/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/burn-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/burn-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/grant-role-form/steps/address.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/grant-role-form/steps/roles.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/grant-role-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/mature-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/pause-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/top-up-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/top-up-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/withdraw-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/withdraw-form/steps/recipient.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/withdraw-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/unblock-form/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/actions/freeze-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/actions/freeze-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/actions/freeze-form/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/_components/set-yield-schedule-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/redeem-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/_components/add-contact-form/steps/contact.tsx
  kit/dapp/src/components/blocks/asset-edit-permissions/steps/roles.tsx
  kit/dapp/src/components/blocks/asset-edit-permissions/steps/summary.tsx
  kit/dapp/src/components/blocks/asset-revoke-all-permissions/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrencies/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/basics.tsx
Labels: fix

#1239 feat: add issue button to all table tabes
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/add-button.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/related/tokenizeddeposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/page.tsx
  kit/dapp/src/components/blocks/create-forms/bonds/form.tsx
  kit/dapp/src/components/blocks/form/form-sheet.tsx
Labels: feat

#1240 feat: add input suggestions based on history
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
  kit/dapp/src/components/blocks/form/inputs/form-users.tsx
  kit/dapp/src/components/blocks/search/search.tsx
  kit/dapp/src/hooks/use-local-storage.ts
  kit/dapp/src/lib/utils/typebox/timestamp.ts
Labels: feat

#1245 fix: postfix padding
  bun.lock
  kit/dapp/src/components/blocks/create-forms/equities/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoins/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/tokenized-deposits/steps/configuration.tsx
  kit/dapp/src/components/blocks/form/inputs/form-input.tsx
Labels: fix

#1246 fix: duplicated transfer forms, recent assets infinite re-render
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/form.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
  kit/dapp/src/lib/api/bond.ts
  kit/dapp/src/lib/api/cryptocurrency.ts
  kit/dapp/src/lib/api/equity.ts
  kit/dapp/src/lib/api/fund.ts
  kit/dapp/src/lib/api/stablecoin.ts
  kit/dapp/src/lib/api/tokenizeddeposit.ts
  kit/dapp/src/lib/mutations/asset/transfer/transfer-action.ts
  kit/dapp/src/lib/mutations/asset/transfer/transfer-function.ts
  kit/dapp/src/lib/mutations/asset/transfer/transfer-schema.ts
  kit/dapp/src/lib/mutations/transfer/transfer-action.ts
  kit/dapp/src/lib/mutations/transfer/transfer-function.ts
Labels: fix

#1251 feat: track hasura tables in CI
  .github/workflows/main.yml
  .github/workflows/tag.yml
  bun.lock
  kit/dapp/package.json
  package.json
Labels: feat

#1252 chore: upgrade typebox
  bun.lock
  kit/dapp/package.json
Labels: chore

#1253 fix: rendering of custom error / not found page
  kit/dapp/messages/en.json
  kit/dapp/src/app/error.tsx
  kit/dapp/src/app/layout.tsx
  kit/dapp/src/app/not-found.tsx
Labels: fix

#1255 fix: update create/mint/transfer test
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/portfolio-page.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/tests/create-update-mint-transfer-stablecoin.spec.ts
Labels: fix, run-playwright-tests

#1254 fix: path to asset detail in search
  kit/dapp/src/components/blocks/search/search.tsx
Labels: fix

#1256 fix: add slack report for playwright
  .github/workflows/e2e-playwright-tests.yml
Labels: fix, run-playwright-tests

#1257 feat: events graph
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/events/page.tsx
  kit/dapp/src/components/blocks/charts/assets/total-supply.tsx
  kit/dapp/src/lib/queries/asset-stats/asset-stats-fragment.ts
  kit/dapp/src/lib/queries/asset-stats/asset-stats-schema.ts
  kit/dapp/src/lib/queries/asset-stats/asset-stats.tsx
  kit/dapp/src/lib/utils/typebox/timestamp.ts
Labels: feat

#1261 fix: Locale typing
  kit/dapp/global.d.ts
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/collateral.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/_components/set-yield-schedule-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/(details)/_components/details-grid.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/holdings/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-activity/(transactions)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-activity/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-activity/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/profile/page.tsx
  kit/dapp/src/lib/mutations/bond/set-yield-schedule/set-yield-schedule-function.ts
  kit/dapp/src/lib/mutations/bond/set-yield-schedule/set-yield-schedule-schema.ts
  kit/dapp/src/lib/queries/user/user-schema.ts
  kit/dapp/src/lib/utils/date.ts
  kit/dapp/src/lib/utils/number.ts
  kit/dapp/src/messages/en.json
Labels: fix

#1260 feat: check for exisitng balances differently
  kit/subgraph/src/assets/bond.ts
  kit/subgraph/src/assets/cryptocurrency.ts
  kit/subgraph/src/assets/equity.ts
  kit/subgraph/src/assets/fund.ts
  kit/subgraph/src/assets/stablecoin.ts
  kit/subgraph/src/assets/tokenizeddeposit.ts
  kit/subgraph/src/fetch/balance.ts
Labels: feat

#1271 feat: portfolio graph
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-count.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/components/blocks/charts/portfolio/portfolio-value.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-user.tsx
  kit/dapp/src/lib/queries/portfolio/portfolio-history.ts
  kit/dapp/src/lib/utils/typebox/bigdecimal.ts
Labels: feat

#1272 fix: use client for hooks
  kit/dapp/src/hooks/use-debounce.ts
  kit/dapp/src/hooks/use-mobile.ts
Labels: fix

#1273 fix: portfolio value graph with multiple assets
  kit/dapp/src/components/blocks/charts/portfolio/portfolio-value.tsx
Labels: fix

#1274 fix: improve server logging
  kit/dapp/src/app/layout.tsx
Labels: fix

#1279 fix: execute requests to backend services on the server
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/components/blocks/auth/wallet-security-client.tsx
  kit/dapp/src/components/blocks/auth/wallet-security.tsx
  kit/dapp/src/lib/api/user.ts
  kit/dapp/src/lib/mutations/allow-user/allow-user-function.ts
  kit/dapp/src/lib/mutations/asset/access-control/grant-role/grant-role-function.ts
  kit/dapp/src/lib/mutations/asset/access-control/revoke-role/revoke-role-function.ts
  kit/dapp/src/lib/mutations/user/set-pincode-function.ts
  kit/dapp/src/lib/mutations/user/set-pincode-schema.ts
  kit/dapp/src/lib/queries/asset-activity/asset-activity.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-detail.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-user.tsx
  kit/dapp/src/lib/queries/asset-events/asset-events-list.tsx
  kit/dapp/src/lib/queries/asset-stats/asset-stats.tsx
  kit/dapp/src/lib/queries/asset/asset-users-detail.tsx
  kit/dapp/src/lib/queries/bond/bond-detail.tsx
  kit/dapp/src/lib/queries/bond/bond-list.tsx
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-detail.tsx
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-list.tsx
  kit/dapp/src/lib/queries/deposit/deposit-detail.tsx
  kit/dapp/src/lib/queries/deposit/deposit-list.tsx
  kit/dapp/src/lib/queries/equity/equity-detail.tsx
  kit/dapp/src/lib/queries/equity/equity-list.tsx
  kit/dapp/src/lib/queries/fixed-yield/fixed-yield-detail.tsx
  kit/dapp/src/lib/queries/fixed-yield/fixed-yield-list.tsx
  kit/dapp/src/lib/queries/fund/fund-detail.tsx
  kit/dapp/src/lib/queries/fund/fund-list.tsx
  kit/dapp/src/lib/queries/sidebar-assets/sidebar-assets.tsx
  kit/dapp/src/lib/queries/stablecoin/stablecoin-detail.tsx
  kit/dapp/src/lib/queries/stablecoin/stablecoin-list.tsx
  kit/dapp/src/lib/queries/transactions/wait-for-indexing.ts
  kit/dapp/src/lib/queries/user/user-detail.tsx
  kit/dapp/src/lib/queries/user/user-list.tsx
  kit/dapp/src/lib/queries/user/wallet-security.tsx
  kit/dapp/src/middleware.ts
  package.json
Labels: fix

#1293 fix: post revert settings page
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/platform-management.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/portfolio-management.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/settings-management.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/sidebar.tsx
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/_components/settings-form.tsx
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/page.tsx
Labels: fix

#1277 fix: update tests due to changes
  .github/workflows/e2e-playwright-tests.yml
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/portfolio-page.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/tests/create-update-mint-transfer-stablecoin.spec.ts
Labels: fix, run-playwright-tests

#1296 feat: pending transactions
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/package.json
  kit/dapp/src/components/blocks/pending-transactions-dropdown/pending-transactions-dropdown.tsx
  kit/dapp/src/components/layout/header.tsx
  kit/dapp/src/components/ui/animated-icons/pending-transactions.tsx
  kit/dapp/src/components/ui/scroll-area.tsx
  kit/dapp/src/lib/actions/transactions.ts
  kit/dapp/src/lib/hooks/use-pending-transactions.ts
Labels: feat

#1303 fix: do not re-use the same challengeResponse
  .cursor/rules/settlemint-sdk.mdc
  kit/dapp/src/lib/mutations/bond/top-up/top-up-function.ts
  kit/dapp/src/lib/mutations/withdraw/withdraw-function.ts
Labels: fix

#1297 fix: portfolio value graph fixes
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/components/blocks/charts/portfolio/portfolio-value.tsx
  kit/dapp/src/lib/charts.ts
  kit/dapp/src/lib/queries/asset-price/asset-price.tsx
Labels: fix

#1304 fix: bond maturity date can be in the past
  kit/dapp/src/components/blocks/create-forms/bond/steps/configuration.tsx
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
Labels: fix

#1307 feat: portfolio details - events
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/(details)/page.tsx
Labels: feat

#1308 fix: pending tx icon
  kit/dapp/src/components/blocks/pending-transactions-dropdown/pending-transactions-dropdown.tsx
  kit/dapp/src/components/ui/animated-icons/square-stack.tsx
Labels: fix

#1309 fix: all assets shown in transfer asset select drop down
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/select-asset.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
Labels: fix

#1310 feat: remove burn from the admin section move it to portfolio
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/burn-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/burn-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/burn-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/manage-dropdown.tsx
Labels: feat

#1312 feat: time series chart
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/components/blocks/charts/area-chart.tsx
  kit/dapp/src/components/blocks/charts/assets/total-supply-changed.tsx
  kit/dapp/src/components/blocks/charts/assets/total-supply.tsx
  kit/dapp/src/components/blocks/charts/assets/total-transfers.tsx
  kit/dapp/src/components/blocks/charts/assets/total-volume.tsx
  kit/dapp/src/components/blocks/charts/bar-charts/horizontal-bar-chart.tsx
  kit/dapp/src/components/blocks/charts/bar-charts/types.ts
  kit/dapp/src/components/blocks/charts/bar-charts/vertical-bar-chart.tsx
  kit/dapp/src/components/blocks/charts/portfolio/portfolio-value.tsx
  kit/dapp/src/components/blocks/charts/tick-formatter.ts
  kit/dapp/src/components/blocks/charts/time-series/index.tsx
  kit/dapp/src/components/blocks/charts/types.ts
  kit/dapp/src/lib/charts.ts
  kit/dapp/src/lib/utils/date.ts
Labels: feat

#1323 fix: rollback to react-hook-form v7.54.0
  .github/renovate.json
  bun.lock
  kit/dapp/package.json
Labels: fix

#1325 fix: create form input validation for long names
  kit/dapp/src/components/blocks/create-forms/bond/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/equity/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/fund/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/steps/basics.tsx
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-schema.ts
  kit/dapp/src/lib/mutations/deposit/create/create-schema.ts
  kit/dapp/src/lib/mutations/equity/create/create-schema.ts
  kit/dapp/src/lib/mutations/fund/create/create-schema.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-schema.ts
Labels: fix

#1324 feat: add auditor role to deposit and stablecoin
  kit/contracts/contracts/Deposit.sol
  kit/contracts/contracts/StableCoin.sol
  kit/contracts/ignition/modules/deposits.ts
  kit/contracts/ignition/modules/stable-coins.ts
  kit/contracts/test/Deposit.t.sol
  kit/contracts/test/DepositFactory.t.sol
  kit/contracts/test/StableCoin.t.sol
  kit/contracts/test/StableCoinFactory.t.sol
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/grant-role-form/form.tsx
  kit/dapp/src/lib/config/roles.ts
  kit/dapp/src/lib/mutations/asset/access-control/update-role/update-role-function.ts
  kit/dapp/src/lib/queries/asset/asset-users-detail.tsx
  kit/dapp/src/lib/queries/asset/asset-users-schema.ts
  kit/dapp/src/lib/roles.ts
  kit/dapp/src/lib/utils/role-granting.ts
  kit/dapp/src/lib/utils/typebox/roles.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/deposit.ts
  kit/subgraph/src/assets/fetch/deposit.ts
  kit/subgraph/src/assets/fetch/stablecoin.ts
  kit/subgraph/src/assets/stablecoin.ts
Labels: feat

#1328 fix: transfer asseterror is wrong
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/select-asset.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/recipients.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/steps/summary.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/form.tsx
  kit/dapp/src/components/blocks/form/inputs/form-otp-dialog.tsx
  kit/dapp/src/lib/queries/asset/asset-search.tsx
  kit/dapp/src/lib/queries/cryptocurrency-factory/cryptocurrency-factory-address-available.tsx
  kit/dapp/src/lib/queries/cryptocurrency-factory/cryptocurrency-factory-predict-address.tsx
Labels: fix
