Repository settlemint/asset-tokenization-kit, pull requests merged in 2025-05, with the labels that each got.

#1795 feat: update genesis output for XvP settlement
  kit/contracts/genesis-output.sh
  kit/dapp/contract-addresses.sh
  kit/subgraph/graph-local-deploy.sh
  kit/subgraph/graph-remote-deploy.sh
  kit/subgraph/subgraph.yaml
Labels: feat

#1777 feat: regulations database and data access layer
  .cursorindexingignore
  .gitignore
  kit/dapp/bunfig.toml
  kit/dapp/drizzle.config.ts
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/storage-demo/page.tsx
  kit/dapp/src/components/blocks/create-forms/bond/steps/configuration.tsx
  kit/dapp/src/lib/config/regulations.ts
  kit/dapp/src/lib/db/index.ts
  kit/dapp/src/lib/db/regulations/schema-base-regulation-configs.ts
  kit/dapp/src/lib/db/regulations/schema-mica-regulation-configs.ts
  kit/dapp/src/lib/hooks/use-pending-transactions.ts
  kit/dapp/src/lib/providers/regulations/base-regulation-provider.ts
  kit/dapp/src/lib/providers/regulations/mica-regulation-provider.test.ts
  kit/dapp/src/lib/providers/regulations/mica-regulation-provider.ts
  kit/dapp/src/lib/providers/regulations/regulation-factory.ts
  kit/dapp/src/lib/providers/regulations/regulation-provider.test.ts
  kit/dapp/src/lib/providers/regulations/regulation-provider.ts
  kit/dapp/src/lib/queries/storage/file-storage.ts
  kit/dapp/src/lib/queries/transactions/transaction-fragment.ts
  kit/dapp/src/lib/utils/typebox/asset-types.ts
Labels: feat

#1807 fix: cf lint failure
  .github/workflows/pr.yml
Labels: fix

#1809 fix: font loading issue in production builds
  kit/dapp/next.config.ts
Labels: fix

#1810 fix: disabled continue button on new asset form design
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
  kit/dapp/src/components/blocks/asset-designer/steps/summary.tsx
  kit/dapp/src/components/blocks/asset-designer/utils.ts
Labels: fix

#1831 feat: rework-queries
  kit/dapp/src/components/blocks/asset-events-table/asset-events-columns.tsx
  kit/dapp/src/components/blocks/asset-events-table/detail-sheet.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/approval.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/bond-redeemed.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/burn.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/collateral-updated.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/fee-collected.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/mint.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/role-admin-changed.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/role-granted.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/role-revoked.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/token-withdrawn.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/tokens-frozen.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/transfer.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/user-allowed.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/user-blocked.tsx
  kit/dapp/src/components/blocks/asset-events-table/details/user-disallowed.tsx
  kit/dapp/src/lib/api/asset-events.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-fragments.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-list.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-schema.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/bond.ts
  kit/subgraph/src/assets/cryptocurrency.ts
  kit/subgraph/src/assets/deposit.ts
  kit/subgraph/src/assets/equity.ts
  kit/subgraph/src/assets/fixed-yield.ts
  kit/subgraph/src/assets/fund.ts
  kit/subgraph/src/assets/handlers/allowlist.ts
  kit/subgraph/src/assets/handlers/approval.ts
  kit/subgraph/src/assets/handlers/blocklist.ts
  kit/subgraph/src/assets/handlers/burn.ts
  kit/subgraph/src/assets/handlers/collateral.ts
  kit/subgraph/src/assets/handlers/frozen.ts
  kit/subgraph/src/assets/handlers/mint.ts
  kit/subgraph/src/assets/handlers/pause.ts
  kit/subgraph/src/assets/handlers/role-granted.ts
  kit/subgraph/src/assets/handlers/role-revoked.ts
  kit/subgraph/src/assets/handlers/transfer.ts
  kit/subgraph/src/assets/handlers/unpause.ts
  kit/subgraph/src/assets/stablecoin.ts
  kit/subgraph/src/distribution/push-airdrop.ts
  kit/subgraph/src/distribution/standard-airdrop.ts
  kit/subgraph/src/distribution/vesting-airdrop.ts
  kit/subgraph/src/factories/bond-factory.ts
  kit/subgraph/src/factories/cryptocurrency-factory.ts
  kit/subgraph/src/factories/deposit-factory.ts
  kit/subgraph/src/factories/equity-factory.ts
  kit/subgraph/src/factories/fixedyield-factory.ts
  kit/subgraph/src/factories/fund-factory.ts
  kit/subgraph/src/factories/stablecoin-factory.ts
  kit/subgraph/src/trading/xvp-settlement.ts
  kit/subgraph/src/utils/activity-log.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#1774 fix: add role guard to routes
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/portfolio-sidebar.tsx
  kit/dapp/src/app/[locale]/(private)/assets/layout.tsx
  kit/dapp/src/app/[locale]/(private)/layout.tsx
  kit/dapp/src/app/[locale]/(private)/platform/layout.tsx
  kit/dapp/src/components/blocks/auth/role-guard.tsx
  kit/dapp/src/components/layout/mode-guard.tsx
Labels: fix

#1834 fix: user asset count
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/_components/user-badge-loader.tsx
  kit/dapp/src/lib/queries/user/user-calculated.ts
  kit/dapp/src/lib/queries/user/user-schema.ts
  kit/dapp/src/lib/utils/typebox/index.ts
Labels: fix

#1835 fix: use StringifiedBigInt for event counts
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/asset-activity.tsx
  kit/dapp/src/lib/queries/asset-activity/asset-activity-schema.ts
Labels: fix

#1837 fix: assets cache invalidation in asset designer dialog
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
  kit/dapp/src/components/blocks/asset-designer/hooks/use-asset-designer-forms.ts
  kit/dapp/src/components/blocks/asset-designer/revalidate-cache.ts
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-schema.ts
  kit/dapp/src/lib/mutations/deposit/create/create-schema.ts
  kit/dapp/src/lib/mutations/equity/create/create-schema.ts
  kit/dapp/src/lib/mutations/fund/create/create-schema.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-schema.ts
  kit/dapp/src/lib/queries/transactions/wait-for-transaction.ts
  kit/dapp/src/lib/utils/exhaustive-guard.ts
Labels: fix

#1838 fix: use cache manager for exchange rate caching
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/lib/cache.ts
  kit/dapp/src/lib/providers/asset-price/asset-price.ts
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates.ts
Labels: fix

#1850 feat: multisig vault contracts
  kit/contracts/contracts/Vault.sol
  kit/contracts/contracts/VaultFactory.args
  kit/contracts/contracts/VaultFactory.sol
  kit/contracts/genesis-output.sh
  kit/contracts/ignition/modules/main.ts
  kit/contracts/ignition/modules/vault-factory.ts
  kit/contracts/ignition/modules/vaults.ts
  kit/contracts/test/Vault.t.sol
  kit/contracts/test/VaultFactory.t.sol
  kit/contracts/test/mocks/MockERC20.sol
  kit/contracts/test/mocks/MockForwarder.sol
  kit/contracts/test/mocks/MockTarget.sol
Labels: feat

#1851 feat: xvp contract + subgraph updates
  kit/contracts/contracts/XvPSettlement.sol
  kit/contracts/test/XvPSettlement.t.sol
  kit/subgraph/schema.graphql
  kit/subgraph/src/trading/fetch/xvp-settlement.ts
  kit/subgraph/src/trading/xvp-settlement.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#1862 feat: subgraph for the vault
  kit/subgraph/graph-local-deploy.sh
  kit/subgraph/graph-remote-deploy.sh
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/handlers/role-granted.ts
  kit/subgraph/src/assets/handlers/role-revoked.ts
  kit/subgraph/src/custody/fetch/transaction.ts
  kit/subgraph/src/custody/fetch/vault.ts
  kit/subgraph/src/custody/vault.ts
  kit/subgraph/src/factories/vault-factory.ts
  kit/subgraph/src/utils/activity-log.ts
  kit/subgraph/src/utils/enums.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#1867 feat: extend the asset selection content
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/components/blocks/asset-designer/steps/asset-type-selection.tsx
Labels: feat

#1869 fix: downgrade react hook form to v7.54.0
  bun.lock
  kit/dapp/package.json
Labels: fix

#1879 fix: asset design dialog freezes after selecting the asset type
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/components/blocks/asset-designer/utils.ts
Labels: fix

#1880 feat: add a graphical element to my portfolio
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/greeting/greeting.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-count.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
Labels: feat

#1881 feat: prettify the roles in event details
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/grant-role-form/steps/roles.tsx
  kit/dapp/src/components/blocks/asset-edit-permissions/steps/roles.tsx
  kit/dapp/src/components/blocks/asset-events-table/detail-content.tsx
  kit/dapp/src/lib/config/roles.ts
  kit/dapp/src/lib/mutations/asset/access-control/update-role/update-role-function.ts
  kit/dapp/src/lib/utils/role-granting.ts
  kit/dapp/src/lib/utils/typebox/roles.ts
Labels: feat

#1890 feat: new homepage
  bun.lock
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(home)/_components/background-decoration.tsx
  kit/dapp/src/app/[locale]/(home)/_components/changelog-link.tsx
  kit/dapp/src/app/[locale]/(home)/_components/dark-asset-designer.webp
  kit/dapp/src/app/[locale]/(home)/_components/features.tsx
  kit/dapp/src/app/[locale]/(home)/_components/footer.tsx
  kit/dapp/src/app/[locale]/(home)/_components/header.tsx
  kit/dapp/src/app/[locale]/(home)/_components/hero-visual-section.tsx
  kit/dapp/src/app/[locale]/(home)/_components/hero.tsx
  kit/dapp/src/app/[locale]/(home)/_components/light-asset-designer.webp
  kit/dapp/src/app/[locale]/(home)/_components/pricing.tsx
  kit/dapp/src/app/[locale]/(home)/_components/theme-image.tsx
  kit/dapp/src/app/[locale]/(home)/_components/word-animation.tsx
  kit/dapp/src/app/[locale]/(home)/assets/hero-dark.webp
  kit/dapp/src/app/[locale]/(home)/assets/hero-light.webp
  kit/dapp/src/app/[locale]/(home)/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-header.tsx
  kit/dapp/src/components/ui/animated-group.tsx
  kit/dapp/src/components/ui/text-effect.tsx
Labels: feat

#1894 feat: add the basic frame for the vault ui
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/custody-management.tsx
  kit/dapp/src/app/[locale]/(private)/custody/layout.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/steps/configuration.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/layout.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/loading.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/page.tsx
Labels: feat

#1889 feat: xvp settlement detail page
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/trades/xvp/(table)/columns.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/[address]/(approvals)/columns.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/[address]/(flows)/columns.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/[address]/page.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/_components/create-xvp-form/steps/configuration.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/_components/create-xvp-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/page.tsx
  kit/dapp/src/components/blocks/xvp-status/approval-status-badge.tsx
  kit/dapp/src/components/blocks/xvp-status/status-pill.tsx
  kit/dapp/src/lib/mutations/xvp/create/create-function.ts
  kit/dapp/src/lib/queries/xvp/xvp-calculated.ts
  kit/dapp/src/lib/queries/xvp/xvp-detail.ts
  kit/dapp/src/lib/queries/xvp/xvp-fragment.ts
  kit/dapp/src/lib/queries/xvp/xvp-list.ts
  kit/dapp/src/lib/queries/xvp/xvp-schema.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/trading/fetch/xvp-settlement.ts
  kit/subgraph/src/trading/xvp-settlement.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#1909 feat: initial api for vault
  kit/dapp/src/lib/api/index.ts
  kit/dapp/src/lib/api/vault.ts
  kit/dapp/src/lib/queries/vault/vault-fragment.ts
  kit/dapp/src/lib/queries/vault/vault-list.ts
  kit/dapp/src/lib/queries/vault/vault-schema.ts
Labels: feat

#1908 feat: approve, claim, cancel actions
  kit/dapp/src/app/[locale]/(private)/trades/xvp/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/[address]/loading.tsx
  kit/dapp/src/lib/mutations/asset/approve/approve-action.ts
  kit/dapp/src/lib/mutations/asset/approve/approve-function.ts
  kit/dapp/src/lib/mutations/asset/approve/approve-schema.ts
  kit/dapp/src/lib/mutations/xvp/approve/approve-action.ts
  kit/dapp/src/lib/mutations/xvp/approve/approve-function.ts
  kit/dapp/src/lib/mutations/xvp/approve/approve-schema.ts
  kit/dapp/src/lib/mutations/xvp/cancel/cancel-action.ts
  kit/dapp/src/lib/mutations/xvp/cancel/cancel-function.ts
  kit/dapp/src/lib/mutations/xvp/cancel/cancel-schema.ts
  kit/dapp/src/lib/mutations/xvp/claim/claim-action.ts
  kit/dapp/src/lib/mutations/xvp/claim/claim-function.ts
  kit/dapp/src/lib/mutations/xvp/claim/claim-schema.ts
  kit/dapp/src/lib/queries/xvp/xvp-fragment.ts
  kit/dapp/src/lib/queries/xvp/xvp-schema.ts
Labels: feat

#1913 feat: improve xvp details page, fix addresses
  kit/dapp/contract-addresses.sh
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/profile/page.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/(table)/columns.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/[address]/(approvals)/columns.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/[address]/(flows)/columns.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/[address]/page.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/_components/create-xvp/form.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/_components/create-xvp/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/_components/create-xvp/steps/configuration.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/_components/create-xvp/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/_components/create-xvp/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/page.tsx
  kit/dapp/src/components/blocks/xvp-status/approval-status-badge.tsx
  kit/dapp/src/lib/mutations/xvp/create/create-function.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#1923 chore: update elysia
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/lib/api/index.ts
  kit/dapp/src/lib/utils/elysia.ts
Labels: chore

#1921 fix: date serialization
  kit/dapp/src/components/blocks/transactions-table/transaction-table-detail-sheet.tsx
  kit/dapp/src/lib/queries/transactions/transaction-fragment.ts
  kit/dapp/src/lib/queries/transactions/transaction-schema.ts
  kit/dapp/src/lib/queries/transactions/transactions-recent.ts
  kit/dapp/src/lib/queries/transactions/transactions-timeline.ts
  kit/dapp/src/lib/queries/user/user-schema.ts
  kit/dapp/src/lib/utils/typebox/timestamp.ts
Labels: fix

#1932 feat: setup the ignition code for SMART
  kit/contracts/contracts/SMARTDeploymentRegistry.sol
  kit/contracts/contracts/SMARTProxy.sol
  kit/contracts/ignition/modules/implementations/compliance.ts
  kit/contracts/ignition/modules/implementations/configuration.ts
  kit/contracts/ignition/modules/implementations/deployment-registry.ts
  kit/contracts/ignition/modules/implementations/identity-registry-storage.ts
  kit/contracts/ignition/modules/implementations/identity-registry.ts
  kit/contracts/ignition/modules/implementations/trusted-issuer-registry.ts
  kit/contracts/ignition/modules/main.ts
  kit/contracts/ignition/modules/test.ts
  kit/contracts/package.json
  kit/contracts/test/SMARTDeploymentRegistry.t.sol
Labels: feat

#1934 feat: setup a deposit using ignition
  kit/contracts/contracts/SMARTBond.sol
  kit/contracts/contracts/SMARTConstants.sol
  kit/contracts/contracts/SMARTDeposit.sol
  kit/contracts/contracts/SMARTEquity.sol
  kit/contracts/contracts/SMARTFund.sol
  kit/contracts/contracts/SMARTIdentity.sol
  kit/contracts/contracts/SMARTIdentityImplementationAuthority.sol
  kit/contracts/contracts/SMARTStableCoin.sol
  kit/contracts/ignition/modules/implementations/identity-factory.ts
  kit/contracts/ignition/modules/implementations/token-registry.ts
  kit/contracts/ignition/modules/onboarding.ts
  kit/contracts/ignition/modules/test.ts
  kit/contracts/ignition/modules/tokens/deposit.ts
  kit/contracts/test/SMARTBond.t.sol
  kit/contracts/test/SMARTDeploymentRegistry.t.sol
  kit/contracts/test/SMARTDeposit.t.sol
  kit/contracts/test/SMARTEquity.t.sol
  kit/contracts/test/SMARTFund.t.sol
  kit/contracts/test/SMARTStableCoin.t.sol
Labels: feat

#1935 fix: token registry to use AccessControl + fix events to include initiator
  kit/contracts/contracts/SMARTDeploymentRegistry.sol
  kit/contracts/contracts/SMARTTokenRegistry.sol
  kit/contracts/test/SMARTDeploymentRegistry.t.sol
  kit/contracts/test/SMARTTokenRegistry.t.sol
Labels: fix

#1936 fix: subgraph error
  kit/subgraph/src/assets/bond.ts
Labels: fix

#1953 feat: use access control enumerable
  kit/contracts/contracts/SMARTBond.sol
  kit/contracts/contracts/SMARTDeploymentRegistry.sol
  kit/contracts/contracts/SMARTDeposit.sol
  kit/contracts/contracts/SMARTEquity.sol
  kit/contracts/contracts/SMARTFund.sol
  kit/contracts/contracts/SMARTStableCoin.sol
  kit/contracts/contracts/SMARTTokenRegistry.sol
Labels: feat

#1951 fix: asset creation
  kit/dapp/src/components/blocks/create-forms/bond/form.tsx
  kit/dapp/src/components/blocks/create-forms/common/summary/summary.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/form.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/form.tsx
  kit/dapp/src/components/blocks/create-forms/equity/form.tsx
  kit/dapp/src/components/blocks/create-forms/fund/form.tsx
  kit/dapp/src/lib/mutations/bond/create/create-function.ts
  kit/dapp/src/lib/mutations/user/two-factor/enable-two-factor-schema.ts
Labels: fix

#1960 chore: bump SMART to v8.0.10
  kit/contracts/foundry.toml
  kit/contracts/remappings.txt
  kit/contracts/soldeer.lock
Labels: chore

#1961 fix: rename initiator to sender
  kit/contracts/contracts/SMARTBond.sol
  kit/contracts/contracts/SMARTFund.sol
  kit/contracts/contracts/SMARTTokenRegistry.sol
Labels: fix

#1962 fix: SMART assets for ERC-165 extension interface registration
  kit/contracts/contracts/SMARTBond.sol
  kit/contracts/contracts/SMARTDeposit.sol
  kit/contracts/contracts/SMARTEquity.sol
  kit/contracts/contracts/SMARTFund.sol
  kit/contracts/contracts/SMARTStableCoin.sol
Labels: fix

#1964 fix: pincode setup
  kit/dapp/src/components/blocks/auth/setup-wallet-security-form/form.tsx
  kit/dapp/src/components/blocks/auth/setup-wallet-security-form/steps/select-method.tsx
  kit/dapp/src/components/blocks/form/form.tsx
Labels: fix

#1978 fix: XvP form table bugs
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/table/latest-events.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/loading.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/actions/loading.tsx
  kit/dapp/src/app/[locale]/(private)/assets/activity/events/loading.tsx
  kit/dapp/src/app/[locale]/(private)/assets/activity/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/platform/api/loading.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/latest-events/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/loading.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-actions/loading.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-activity/events/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/(table)/loading.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/_components/create-xvp/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/loading.tsx
  kit/dapp/src/app/[locale]/(private)/trades/xvp/page.tsx
  kit/dapp/src/components/blocks/actions-table/actions-skeleton.tsx
  kit/dapp/src/components/blocks/data-table/data-table-skeleton.tsx
  kit/dapp/src/components/blocks/xvp/approve-form/form.tsx
  kit/dapp/src/components/blocks/xvp/cancel-form/form.tsx
  kit/dapp/src/components/blocks/xvp/execute-form/form.tsx
  kit/dapp/src/components/blocks/xvp/status-pill.tsx
  kit/dapp/src/lib/queries/xvp/xvp-list.ts
  kit/dapp/src/lib/queries/xvp/xvp-schema.ts
  kit/subgraph/subgraph.yaml
Labels: fix

#1979 fix: validation errors in other step than the current disable the next button
  kit/dapp/src/components/blocks/create-forms/bond/form.tsx
  kit/dapp/src/components/blocks/create-forms/bond/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/bond/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/common/asset-admins/asset-admins.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/form.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/form.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/equity/form.tsx
  kit/dapp/src/components/blocks/create-forms/equity/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/equity/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/fund/form.tsx
  kit/dapp/src/components/blocks/create-forms/fund/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/fund/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/form.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/steps/configuration.tsx
  kit/dapp/src/lib/utils/form-steps.ts
Labels: fix

#1980 fix: update validation errors in bond test due to recent asset design…
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/create-asset-form.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/tests/create-bond-validation.spec.ts
  kit/e2e/tests/create-cryptocurrency-validation.spec.ts
  kit/e2e/tests/create-deposit-validation.spec.ts
  kit/e2e/tests/create-equity-validation.spec.ts
  kit/e2e/tests/create-fund-validation.spec.ts
  kit/e2e/tests/create-stablecoin-validation.spec.ts
Labels: fix

#1994 fix: remove XvP feature flag
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/trade-management.tsx
Labels: fix

#1999 fix: consistent asset designer modal size between steps
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
  kit/dapp/src/components/blocks/asset-designer/step-wizard/step-wizard.tsx
Labels: fix

#2001 fix: stray semicolon
  kit/dapp/src/app/[locale]/(private)/assets/actions/completed/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/actions/pending/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/actions/upcoming/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-actions/completed/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-actions/pending/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-actions/upcoming/page.tsx
Labels: fix

#2007 fix: sidebar background cuts out on screen
  kit/dapp/public/backgrounds/background-dm.svg
  kit/dapp/public/backgrounds/background-lm.svg
  kit/dapp/public/backgrounds/sidebar-bg.png
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
Labels: fix

#2010 fix: form validation rules
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-schema.ts
Labels: fix

#2008 fix: asset type selection spacing
  kit/dapp/src/components/blocks/asset-designer/steps/asset-type-selection.tsx
  kit/dapp/src/components/blocks/create-forms/fund/steps/configuration.tsx
Labels: fix

#2011 fix: asset designerno constraint in asset name field
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-schema.ts
  kit/dapp/src/lib/mutations/deposit/create/create-schema.ts
  kit/dapp/src/lib/mutations/equity/create/create-schema.ts
  kit/dapp/src/lib/mutations/fund/create/create-schema.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-schema.ts
Labels: fix

#2013 fix: update tests due to latest changes in asset designer
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/create-asset-form.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/test-data/success-msg-data.ts
  kit/e2e/tests/create-bond-validation.spec.ts
  kit/e2e/tests/create-cryptocurrency-validation.spec.ts
  kit/e2e/tests/create-deposit-validation.spec.ts
  kit/e2e/tests/create-equity-validation.spec.ts
  kit/e2e/tests/create-fund-validation.spec.ts
  kit/e2e/tests/create-stablecoin-validation.spec.ts
Labels: fix

#2012 fix: typo 'Issueing' in submission text
  kit/dapp/messages/en.json
Labels: fix

#2014 fix: remove placeholder create vault form
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/steps/configuration.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/_components/create-form/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/custody/vaults/page.tsx
Labels: fix

#2031 fix: make step wizard reusable
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/stablecoins.tsx
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
  kit/dapp/src/components/blocks/asset-designer/types.ts
  kit/dapp/src/components/blocks/asset-designer/utils.ts
  kit/dapp/src/components/blocks/create-forms/bond/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/bond/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/common/asset-admins/asset-admins.tsx
  kit/dapp/src/components/blocks/create-forms/common/summary/summary.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/equity/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/equity/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/fund/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/fund/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/steps/basics.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/steps/configuration.tsx
  kit/dapp/src/components/blocks/step-wizard/mini-progress-bar.tsx
  kit/dapp/src/components/blocks/step-wizard/step-content.tsx
  kit/dapp/src/components/blocks/step-wizard/step-wizard.tsx
  kit/dapp/src/lib/queries/asset-stats/asset-stats.ts
Labels: fix

#2039 fix: invalid expired at value for xvp
  kit/dapp/src/components/blocks/actions-table/action-status.tsx
  kit/dapp/src/components/blocks/actions-table/actions-client-table.tsx
  kit/dapp/src/components/blocks/actions-table/actions-dropdown-client-table.tsx
  kit/dapp/src/components/blocks/xvp/xvp-status.tsx
  kit/dapp/src/lib/queries/actions/action-calculated.ts
  kit/dapp/src/lib/queries/actions/action-detail.ts
  kit/dapp/src/lib/queries/actions/action-status.ts
  kit/dapp/src/lib/queries/actions/actions-list.ts
  kit/dapp/src/lib/queries/actions/actions-schema.ts
  kit/dapp/src/lib/queries/xvp/xvp-calculated.ts
  kit/dapp/src/lib/queries/xvp/xvp-detail.ts
  kit/dapp/src/lib/queries/xvp/xvp-schema.ts
  kit/dapp/src/lib/queries/xvp/xvp-status.ts
Labels: fix

#1989 feat: new file upload form element
  bun.lock
  kit/dapp/src/app/[locale]/(private)/storage-demo/_components/storage-demo.skeleton.tsx
  kit/dapp/src/app/[locale]/(private)/storage-demo/_components/storage-demo.tsx
  kit/dapp/src/app/[locale]/(private)/storage-demo/_components/uploader.tsx
  kit/dapp/src/app/[locale]/(private)/storage-demo/loading.tsx
  kit/dapp/src/app/[locale]/(private)/storage-demo/page.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/steps/documents.tsx
  kit/dapp/src/components/blocks/form/inputs/form-document-upload.tsx
  kit/dapp/src/hooks/use-file-upload.ts
  kit/dapp/src/lib/queries/actions/actions-list.ts
  kit/dapp/src/lib/queries/storage/file-storage.ts
Labels: feat

#2053 feat: compliance skeleton
  kit/subgraph/schema.graphql
  kit/subgraph/src/event-handlers/compliance.ts
  kit/subgraph/src/event-handlers/system-factory.ts
  kit/subgraph/src/event-handlers/system.ts
  kit/subgraph/src/fetch/compliance.ts
  kit/subgraph/src/fetch/system.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#2052 fix: price for bonds is 0 in portfolio dashboard, xvp list
  kit/dapp/src/lib/mutations/bond/create/create-function.ts
  kit/dapp/src/lib/queries/asset-price/asset-price.ts
  kit/dapp/src/lib/queries/bond/bond-calculated.ts
  kit/dapp/src/lib/utils/typebox/address.ts
Labels: fix

#2054 feat: system skeleton
  kit/subgraph/schema.graphql
  kit/subgraph/src/event-handlers/identity-factory.ts
  kit/subgraph/src/event-handlers/identity-registry-storage.ts
  kit/subgraph/src/event-handlers/identity-registry.ts
  kit/subgraph/src/event-handlers/system.ts
  kit/subgraph/src/event-handlers/trusted-issuers-registry.ts
  kit/subgraph/src/fetch/identity-factory.ts
  kit/subgraph/src/fetch/identity-registry-storage.ts
  kit/subgraph/src/fetch/identity-registry.ts
  kit/subgraph/src/fetch/trusted-issuers-registry.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#2056 feat: index identities
  kit/subgraph/schema.graphql
  kit/subgraph/src/event-handlers/identity-factory.ts
  kit/subgraph/src/event-handlers/identity.ts
  kit/subgraph/src/event-handlers/token-identity.ts
  kit/subgraph/src/fetch/identity.ts
  kit/subgraph/src/fetch/token-identity.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#2057 fix: update test due to latest changes for asset designer
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/create-asset-form.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/test-data/success-msg-data.ts
  kit/e2e/tests/create-bond-validation.spec.ts
  kit/e2e/tests/create-cryptocurrency-validation.spec.ts
  kit/e2e/tests/create-deposit-validation.spec.ts
  kit/e2e/tests/create-equity-validation.spec.ts
  kit/e2e/tests/create-fund-validation.spec.ts
  kit/e2e/tests/create-stablecoin-validation.spec.ts
Labels: fix

#2058 fix: table column header sizes are different
  kit/dapp/src/components/blocks/data-table/data-table-column-header.tsx
Labels: fix

#2059 fix: isin create asset error
  kit/dapp/src/app/globals.css
  kit/dapp/src/components/blocks/auth/auth-provider.tsx
  kit/dapp/src/components/ui/separator.tsx
  kit/dapp/src/lib/mutations/stablecoin/create/create-function.ts
Labels: fix

#2062 fix: portfolio sidebar background
  kit/dapp/public/backgrounds/sidebar-bg.png
Labels: fix

#2064 feat: empty states for recent transactions & events list
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/actions-table/actions-client-table.tsx
  kit/dapp/src/components/blocks/asset-events-table/asset-events-client-table.tsx
  kit/dapp/src/components/blocks/data-table/data-table-empty-state.tsx
  kit/dapp/src/components/blocks/data-table/data-table.tsx
  kit/dapp/src/components/blocks/transactions-table/transactions-table-client.tsx
  kit/dapp/src/components/blocks/transactions-table/transactions-table.tsx
Labels: feat

#2061 fix: operating modes icon should be white on blue
  kit/dapp/src/components/layout/nav-mode.tsx
Labels: fix

#2060 feat: schema for event names
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/asset-events-table/asset-events-columns.tsx
  kit/dapp/src/components/blocks/asset-events-table/detail-content.tsx
  kit/dapp/src/lib/api/asset-events.ts
  kit/dapp/src/lib/queries/asset-detail.ts
  kit/dapp/src/lib/queries/asset-events/asset-event-detail.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-list.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-schema.ts
  kit/dapp/src/lib/utils/number.ts
Labels: feat

#2068 fix: upgrade auth
  bun.lock
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/package.json
  kit/dapp/src/components/blocks/auth/auth-provider.tsx
  kit/dapp/src/lib/auth/plugins/utils.ts
Labels: fix

#2069 fix: need to click on start using my wallet twice in onboarding
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/_components/add-contact-form/form.tsx
  kit/dapp/src/components/blocks/auth/setup-wallet-security-form/form.tsx
  kit/dapp/src/components/blocks/create-forms/bond/form.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/form.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/form.tsx
  kit/dapp/src/components/blocks/create-forms/equity/form.tsx
  kit/dapp/src/components/blocks/create-forms/fund/form.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/form.tsx
  kit/dapp/src/components/blocks/form/form.tsx
Labels: fix

#2072 fix: cannot search for myself as a regular user
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/actions/update-kyc-status-action.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/(details)/_components/details-grid.tsx
  kit/dapp/src/components/blocks/form/inputs/form-users.tsx
  kit/dapp/src/lib/api/index.ts
  kit/dapp/src/lib/api/user.ts
  kit/dapp/src/lib/queries/user/user-count.ts
  kit/dapp/src/lib/queries/user/user-fragment.ts
  kit/dapp/src/lib/queries/user/user-schema.ts
  kit/dapp/src/lib/queries/user/user-search.ts
Labels: fix

#2073 feat: show mica compliance status on asset
  kit/dapp/src/app/[locale]/(private)/_components/detail-page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/features-enabled.ts
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mica-server.ts
  kit/dapp/src/components/blocks/regulation-pill/regulation-pill.tsx
  kit/dapp/src/lib/queries/regulations/regulation-list.ts
Labels: feat

#2071 feat: set up regulations dashboard
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/detail-page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/asset-tabs.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/features-enabled.ts
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/page.tsx
  kit/dapp/src/components/blocks/regulation-pill/regulation-pill.tsx
  kit/dapp/src/lib/queries/regulations/regulation-detail.ts
  kit/dapp/src/lib/queries/regulations/regulation-enabled.ts
  kit/dapp/src/lib/queries/regulations/regulation-list.ts
  kit/dapp/src/lib/utils/feature-flags.ts
Labels: feat

#2074 fix: move error messages to message-data add internal id field checks…
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/sign-in-page.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/test-data/message-data.ts
  kit/e2e/test-data/success-msg-data.ts
  kit/e2e/tests/create-bond-validation.spec.ts
  kit/e2e/tests/create-cryptocurrency-validation.spec.ts
  kit/e2e/tests/create-deposit-validation.spec.ts
  kit/e2e/tests/create-equity-validation.spec.ts
  kit/e2e/tests/create-fund-validation.spec.ts
  kit/e2e/tests/create-mint-burn-transfer-cryptocurrency.spec.ts
  kit/e2e/tests/create-mint-burn-transfer-equity.spec.ts
  kit/e2e/tests/create-mint-burn-transfer-fund.spec.ts
  kit/e2e/tests/create-stablecoin-validation.spec.ts
  kit/e2e/tests/create-top-up-mint-burn-transfer-bond.spec.ts
  kit/e2e/tests/create-update-mint-burn-transfer-deposit.spec.ts
  kit/e2e/tests/create-update-mint-burn-transfer-stablecoin.spec.ts
Labels: fix

#2075 feat: MiCA regulation step for create stablecoin form
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/form.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/form.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/steps/regulation.tsx
Labels: feat

#2085 fix: MiCA pill not rendering
  kit/dapp/src/app/[locale]/(private)/_components/detail-page-header.tsx
  kit/dapp/src/components/blocks/regulation-pill/regulation-pill.tsx
Labels: fix

#2106 fix: wizard merge issues
  kit/dapp/src/components/blocks/step-wizard/step-wizard.tsx
Labels: fix

#2093 feat: dashboard documentation
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/authorization-status/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/compliance-score/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/consumer-protection/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/documentation/documents-table.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/documentation/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/kyc-monitoring/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/reserve-status/layout.tsx
  kit/dapp/src/app/actions/upload-document.ts
  kit/dapp/src/app/api/documents/mica/[assetAddress]/route.ts
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
  kit/dapp/src/hooks/use-file-upload.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-function.ts
  kit/dapp/src/lib/queries/regulations/mica-documents.ts
  kit/dapp/src/lib/queries/storage/file-storage.ts
  kit/dapp/src/lib/utils/format.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#2103 fix: add xvp settlement test
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/base-page.ts
  kit/e2e/pages/pages.ts
  kit/e2e/pages/xvp-settlement-page.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/test-data/message-data.ts
  kit/e2e/test-data/user-data.ts
  kit/e2e/tests/create-mint-burn-transfer-cryptocurrency.spec.ts
  kit/e2e/tests/create-mint-burn-transfer-equity.spec.ts
  kit/e2e/tests/create-mint-burn-transfer-fund.spec.ts
  kit/e2e/tests/create-top-up-mint-burn-transfer-bond.spec.ts
  kit/e2e/tests/create-update-mint-burn-transfer-deposit.spec.ts
  kit/e2e/tests/create-update-mint-burn-transfer-stablecoin.spec.ts
  kit/e2e/tests/xvp-settlement.spec.ts
Labels: fix

#2115 fix: reserve status
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/reserve-status/edit-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/reserve-status/layout.tsx
  kit/dapp/src/app/api/regulations/mica/[assetAddress]/route.ts
Labels: fix

#2124 fix: offchain asset create mutations
  kit/dapp/src/lib/mutations/bond/create/create-function.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-function.ts
  kit/dapp/src/lib/mutations/deposit/create/create-function.ts
  kit/dapp/src/lib/mutations/equity/create/create-function.ts
  kit/dapp/src/lib/mutations/fund/create/create-function.ts
Labels: fix

#2136 fix: issues after merging main
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/detail-page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/index.ts
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/mica-config-missing.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/reserve-status/_components/reserve-details.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/reserve-status/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/page.tsx
  kit/dapp/src/app/api/regulations/mica/[assetAddress]/create/route.ts
  kit/dapp/src/app/api/regulations/mica/[assetAddress]/route.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-function.ts
  kit/dapp/src/lib/queries/regulations/regulation-detail.ts
  kit/dapp/src/lib/queries/regulations/regulation-enabled.ts
  kit/dapp/src/lib/utils/typebox/address.ts
Labels: fix

#2173 feat: Only show relevant MiCA documentation and authorization info to regular users
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/authorization-status/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/documentation/documents-table-columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/documentation/documents-table.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/documentation/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/layout.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/regulations/mica/_components/reserve-status/layout.tsx
Labels: feat

#2175 fix: disable mica on deposits
  kit/dapp/src/app/[locale]/(private)/_components/detail-page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/asset-tabs.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/features-enabled.ts
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/asset-tabs.tsx
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
  kit/dapp/src/components/blocks/create-forms/deposit/form.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/form.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/steps/regulation.tsx
  kit/dapp/src/lib/hooks/use-feature-enabled.ts
Labels: fix
