Repository settlemint/asset-tokenization-kit, pull requests merged in 2025-10, with the labels that each got.

#3764 feat: add ipfs cluster to the helm charts
  kit/charts/atk/Chart.lock
  kit/charts/atk/Chart.yaml
  kit/charts/atk/README.md
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/graph-node/templates/_helpers.tpl
  kit/charts/atk/charts/graph-node/templates/statefulset.yaml
  kit/charts/atk/charts/graph-node/values.yaml
  kit/charts/atk/charts/ipfs/Chart.yaml
  kit/charts/atk/charts/ipfs/README.md
  kit/charts/atk/charts/ipfs/templates/_helpers.tpl
  kit/charts/atk/charts/ipfs/templates/cluster.service.yaml
  kit/charts/atk/charts/ipfs/templates/cluster.statefulset.yaml
  kit/charts/atk/charts/ipfs/templates/ingress.yaml
  kit/charts/atk/charts/ipfs/templates/ipfs.init-d.configmap.yaml
  kit/charts/atk/charts/ipfs/templates/ipfs.service.p2p-nodeport.yaml
  kit/charts/atk/charts/ipfs/templates/ipfs.service.yaml
  kit/charts/atk/charts/ipfs/templates/ipfs.statefulset.yaml
  kit/charts/atk/charts/ipfs/templates/route.yaml
  kit/charts/atk/charts/ipfs/templates/secret.yaml
  kit/charts/atk/charts/ipfs/templates/serviceaccount.yaml
  kit/charts/atk/charts/ipfs/templates/tests/test-connection.yaml
  kit/charts/atk/charts/ipfs/values.yaml
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/support/charts/minio/README.md
  kit/charts/atk/templates/_waitforit.tpl
  kit/charts/atk/values.yaml
  kit/dapp/locales/en-US/onboarding.json
Labels: fix, qa:running, status:ready-for-review, size:XXL

#3767 fix: cannot assign default admin role
  packages/zod/src/access-control-roles.ts
Labels: fix, status:ready-for-review, qa:success, size:XS, lgtm

#3762 fix: timeseries values interpolation
  kit/dapp/src/components/charts/area-chart.tsx
  kit/dapp/src/components/dashboard/asset-overview/asset-overview-section.tsx
  kit/dapp/src/components/dashboard/identity-metrics/identity-metrics.tsx
  kit/dapp/src/components/dashboard/portfolio-details/portfolio-breakdown.tsx
  kit/dapp/src/components/stats/charts/asset-lifecycle-area-chart.test.tsx
  kit/dapp/src/components/stats/charts/asset-lifecycle-area-chart.tsx
  kit/dapp/src/components/stats/charts/identity-growth-area-chart.tsx
  kit/dapp/src/components/stats/charts/portfolio-value-area-chart.test.tsx
  kit/dapp/src/components/stats/charts/portfolio-value-area-chart.tsx
  kit/dapp/src/lib/utils/timeseries.ts
  kit/dapp/src/orpc/routes/system/stats/routes/asset-lifecycle.schema.ts
  kit/dapp/src/orpc/routes/system/stats/routes/asset-lifecycle.ts
  kit/dapp/src/orpc/routes/system/stats/routes/identity-stats-over-time.schema.ts
  kit/dapp/src/orpc/routes/system/stats/routes/identity-stats-over-time.ts
  kit/dapp/src/orpc/routes/system/stats/routes/portfolio.schema.ts
  kit/dapp/src/orpc/routes/system/stats/routes/portfolio.ts
Labels: fix, status:ready-for-review, qa:success, size:XL, lgtm

#3768 chore: add postfix examples to README
  kit/contracts/contracts/smart/modules/README.md
Labels: chore, status:ready-for-review, qa:success, size:M, lgtm

#3780 fix: table pagination
  kit/dapp/locales/en-US/data-table.json
  kit/dapp/src/components/data-table/data-table-pagination.tsx
  kit/dapp/src/components/data-table/data-table.tsx
  kit/dapp/src/components/tables/token-holders.tsx
  kit/dapp/src/components/tables/tokens.tsx
  kit/dapp/src/components/users/users-table.tsx
Labels: fix, status:ready-for-review, qa:success, size:S

#3781 fix: type casting
  kit/dapp/src/lib/i18n/index.ts
Labels: fix, status:ready-for-review, qa:success, size:XS

#3804 fix: hide airdrops / xvp addons
  kit/dapp/src/components/system-addons/management/addons-management.tsx
  kit/dapp/src/components/system-addons/onboarding/system-addons-selection.tsx
Labels: fix, status:ready-for-review, qa:success, size:M, lgtm

#3807 fix: isolate KYC list pagination test from concurrent inserts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.list.spec.ts
Labels: fix, status:ready-for-review, qa:success, test, size:M, lgtm

#3779 feat: demo environment setup script
  kit/dapp/test/fixtures/dapp.ts
  kit/dapp/test/fixtures/system-bootstrap.ts
  kit/dapp/test/fixtures/user.ts
  kit/dapp/test/scripts/demo/actions/mature-bonds.ts
  kit/dapp/test/scripts/demo/data/demo-assets.ts
  kit/dapp/test/scripts/demo/data/demo-country-codes.ts
  kit/dapp/test/scripts/demo/data/demo-users.ts
  kit/dapp/test/scripts/demo/setup-demo-environment.ts
Labels: feat, chore, status:ready-for-review, qa:success, test, size:L, size:XL

#3824 feat: [account/profile] show hasura/betterauth data on the users profile page
  kit/dapp/locales/en-US/user.json
  kit/dapp/src/components/user-dropdown/user-dropdown.tsx
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/account/onchain-identity.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/account/profile.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/account/wallet.tsx
Labels: feat, qa:success, status:mergeable, size:L, lgtm

#3836 fix: push codestudio image on tag pipeline
  .github/workflows/qa.yml
Labels: fix, ci, status:ready-for-review, qa:success, size:S

#3838 fix: run codestudion before release assets pull request
  .github/workflows/qa.yml
  kit/charts/atk/Chart.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/erpc/README.md
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/ipfs/README.md
  kit/charts/atk/charts/network/Chart.lock
  kit/charts/atk/charts/network/charts/network-bootstrapper/README.md
  kit/charts/atk/charts/network/charts/network-nodes/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/support/Chart.lock
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/support/charts/minio/README.md
  kit/charts/atk/charts/support/charts/postgresql/README.md
  kit/charts/atk/charts/support/charts/redis/README.md
  kit/charts/atk/charts/txsigner/README.md
Labels: fix, docs, ci, status:ready-for-review, qa:success, size:L
