Repository settlemint/asset-tokenization-kit, pull requests merged in 2025-09, with the labels that each got.

#3426 fix: burn form, create reusable useTokenLoaderQuery hook for token routes
  kit/charts/atk/README.md
  kit/charts/atk/charts/besu-network/charts/besu-node/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/erpc/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/dapp/locales/en-US/onboarding.json
  kit/dapp/src/components/manage-dropdown/sheets/burn-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/burn-sheet.tsx
  kit/dapp/src/components/onboarding/system/deployment-details.tsx
  kit/dapp/src/components/onboarding/system/system-deploy.tsx
  kit/dapp/src/components/onboarding/wallet/wallet-create.tsx
  kit/dapp/src/components/system-addons/onboarding/system-addons-selection.tsx
  kit/dapp/src/hooks/use-token-loader-query.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/burn/token.burn.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/blocklist.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/events.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/holders.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/permissions.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/yield.tsx
Labels: feat, fix, qa:success, status:mergeable, size:L, lgtm

#3433 feat: claim issuer role
  kit/contracts/contracts/system/ATKPeopleRoles.sol
  kit/contracts/scripts/hardhat/constants/roles.ts
  kit/dapp/src/lib/constants/roles.ts
  kit/dapp/src/lib/fragments/the-graph/access-control-fragment.test.ts
  kit/dapp/src/lib/fragments/the-graph/access-control-fragment.ts
  kit/dapp/src/orpc/helpers/role-validation.test.ts
  kit/dapp/src/orpc/helpers/role-validation.ts
  kit/dapp/src/orpc/routes/token/routes/token.permissions.spec.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/access-control/utils/role.ts
  packages/zod/src/access-control-roles.test.ts
  packages/zod/src/access-control-roles.ts
Labels: feat, status:ready-for-review, qa:success, size:M, lgtm

#3395 feat: identity and claims in users ORPC endpoints
  bun.lock
  kit/dapp/src/components/platform-settings/role-management/grant-role-form.tsx
  kit/dapp/src/components/platform-settings/role-management/view-user-roles.tsx
  kit/dapp/src/components/platform-settings/trusted-issuers/add-trusted-issuer-sheet.tsx
  kit/dapp/src/components/web3/web3-address.tsx
  kit/dapp/src/hooks/use-search-addresses.ts
  kit/dapp/src/orpc/context/context.ts
  kit/dapp/src/orpc/middlewares/auth/identity-permissions.middleware.test.ts
  kit/dapp/src/orpc/middlewares/auth/identity-permissions.middleware.ts
  kit/dapp/src/orpc/middlewares/auth/trusted-issuer.middleware.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.spec.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.ts
  kit/dapp/src/orpc/routes/user/routes/user.read.spec.ts
  kit/dapp/src/orpc/routes/user/routes/user.read.ts
  kit/dapp/src/orpc/routes/user/routes/user.search.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.search.spec.ts
  kit/dapp/src/orpc/routes/user/routes/user.search.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/admin/platform-settings/permissions.tsx
  kit/dapp/test/fixtures/user.ts
Labels: feat, qa:success, status:mergeable, test, size:XXL, lgtm

#3451 fix: trusted issuer stores the identity address, not the wallet
  kit/dapp/src/components/platform-settings/trusted-issuers/add-trusted-issuer-sheet.tsx
  kit/dapp/src/components/platform-settings/trusted-issuers/trusted-issuers-table.tsx
  kit/dapp/src/orpc/middlewares/auth/trusted-issuer.middleware.ts
  kit/dapp/src/orpc/routes/system/trusted-issuers/routes/trusted-issuer.list.schema.ts
  kit/dapp/src/orpc/routes/system/trusted-issuers/routes/trusted-issuer.list.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/trusted-issuers-registry/fetch/trusted-issuer.ts
Labels: fix, qa:success, status:mergeable, size:M, lgtm

#3453 fix: responsive ui issues
  kit/dapp/src/components/compliance/compliance-modules.tsx
  kit/dapp/src/components/form/multi-step/form-step-layout.tsx
  kit/dapp/src/components/form/multi-step/form-step.tsx
  kit/dapp/src/components/stepper/step-layout.tsx
Labels: fix, status:ready-for-review, qa:success, size:S, lgtm

#3460 fix: provide right network id
  kit/charts/atk/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/blockscout/values.yaml
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/dapp/values.yaml
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/graph-node/values.yaml
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/values.yaml
  kit/charts/tools/aws-marketplace-automation.ts
Labels: fix, chore, docs, status:ready-for-review, qa:success, size:L

#3461 fix: main layout broken at lower resolutions
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-class/select-asset-class.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/index.tsx
  kit/dapp/src/styles/app.css
Labels: fix, status:ready-for-review, qa:success, size:S

#3436 feat: user management - table component main page integration
  kit/dapp/locales/en-US/user.json
  kit/dapp/src/components/data-table/cells/date-cell.tsx
  kit/dapp/src/components/data-table/cells/user-display-cell.tsx
  kit/dapp/src/components/data-table/data-table.tsx
  kit/dapp/src/components/users/user-actions-menu.tsx
  kit/dapp/src/components/users/users-table.tsx
  kit/dapp/src/orpc/middlewares/auth/identity-permissions.middleware.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.spec.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.schema.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/admin/user-management.tsx
Labels: feat, status:ready-for-review, qa:success, size:XL, lgtm

#3476 feat: freeze and unfreeze actions
  bun.lock
  kit/contracts/contracts/addons/yield/ATKFixedYieldScheduleUpgradeable.sol
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/src/components/manage-dropdown/manage-asset-dropdown.test.tsx
  kit/dapp/src/components/manage-dropdown/manage-asset-dropdown.tsx
  kit/dapp/src/components/manage-dropdown/sheets/freeze-partial-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/unfreeze-partial-sheet.tsx
  kit/dapp/src/components/users/users-table.tsx
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/token.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/freeze/token.freeze-partial.contract.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/freeze/token.freeze-partial.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/freeze/token.freeze-partial.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/freeze/token.unfreeze-partial.contract.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/freeze/token.unfreeze-partial.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/freeze/token.unfreeze-partial.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/yield/token.set-yield-schedule.spec.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.spec.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.permissions.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar.tsx
  kit/dapp/test/fixtures/system-bootstrap.ts
Labels: feat, status:ready-for-review, qa:success, size:XXL

#3492 fix: showing of total price of an asset + add documentation for devs
  README.md
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.spec.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
  kit/dapp/test/fixtures/system-bootstrap.ts
Labels: fix, docs, qa:success, status:mergeable, size:L, lgtm

#3493 feat: add yield schedule modifier functionality
  kit/contracts/contracts/addons/yield/ATKFixedYieldScheduleUpgradeable.sol
  kit/contracts/test/addons/yield/ATKFixedYieldSchedule.t.sol
Labels: feat, status:ready-for-review, qa:success, test, size:M

#3494 fix: use extensions and enabled compliance modules to display tabs
  kit/charts/atk/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/observability/README.md
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-basics/asset-basics.tsx
  kit/dapp/src/components/assets/asset-tab-badge.tsx
  kit/dapp/src/components/assets/asset-tab-configuration.ts
  kit/dapp/src/components/manage-dropdown/core/action-form-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-roles-sheet.test.tsx
  kit/dapp/src/components/tab-navigation/asset-tab-configuration.tsx
  kit/dapp/src/hooks/use-token-loader-query.ts
  kit/dapp/src/lib/utils/features-enabled.test.ts
  kit/dapp/src/lib/utils/features-enabled.ts
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/token.list.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.search.schema.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/blocklist.tsx
  kit/dapp/src/types/bond-status.test.ts
  packages/zod/src/asset-extensions.ts
Labels: feat, fix, chore, status:ready-for-review, qa:success, size:XL

#3551 feat: improve role selection
  kit/dapp/locales/en-US/common.json
  kit/dapp/locales/en-US/components.json
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/locales/en-US/user.json
  kit/dapp/src/components/data-table/utils/auto-column.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-role/change-roles-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-role/change-roles-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-role/change-system-roles-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-role/change-token-roles-sheet.tsx
  kit/dapp/src/components/tables/token-permissions.tsx
  kit/dapp/src/components/users/users-permissions-table.tsx
  kit/dapp/src/lib/constants/roles.ts
  kit/dapp/src/lib/fragments/the-graph/access-control-fragment.test.ts
  kit/dapp/src/lib/fragments/the-graph/access-control-fragment.ts
  kit/dapp/src/lib/utils/format-value/format-option.tsx
  kit/dapp/src/lib/utils/format-value/types.ts
  kit/dapp/src/orpc/helpers/role-validation.test.ts
  kit/dapp/src/orpc/helpers/role-validation.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.spec.ts
  kit/dapp/test/fixtures/system-bootstrap.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/access-control/utils/role.ts
  packages/zod/src/access-control-roles.test.ts
  packages/zod/src/access-control-roles.ts
Labels: feat, status:ready-for-review, qa:success, size:XL

#3556 fix: calculation of total price of a bond
  kit/contracts/scripts/hardhat/assets/bond.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/identity/identity.ts
  kit/subgraph/src/stats/account-stats.ts
  kit/subgraph/src/stats/system-stats.ts
  kit/subgraph/src/stats/token-stats.ts
  kit/subgraph/src/stats/token-type-stats.ts
  kit/subgraph/src/token-assets/bond-factory/bond-factory.ts
  kit/subgraph/src/token-assets/bond/utils/bond-utils.ts
  kit/subgraph/src/token-factory/token-factory.ts
  kit/subgraph/test/stats/account-stats.spec.ts
  kit/subgraph/test/stats/system-stats.spec.ts
  kit/subgraph/test/stats/token-stats.spec.ts
  kit/subgraph/test/stats/token-type-stats.spec.ts
  kit/subgraph/test/utils/token-stats-test-utils.ts
Labels: fix, status:ready-for-review, qa:success, size:L, lgtm

#3572 feat: openshift compatibility
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/genesis-job-cleanup.yaml
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/genesis-job-init.yaml
  kit/charts/atk/charts/besu-network/charts/besu-genesis/values.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-hooks-pre-delete.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-hooks-pre-install.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-statefulset.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/values.yaml
  kit/charts/atk/charts/dapp/templates/deployment.yaml
  kit/charts/atk/charts/erpc/templates/deployment.yaml
  kit/charts/atk/charts/erpc/values.yaml
  kit/charts/atk/charts/graph-node/templates/statefulset.yaml
  kit/charts/atk/charts/portal/templates/deployment.yaml
  kit/charts/atk/charts/portal/values.yaml
  kit/charts/atk/charts/support/charts/postgresql/templates/deployment.yaml
  kit/charts/atk/charts/support/charts/postgresql/values.yaml
  kit/charts/atk/charts/support/charts/redis/templates/deployment.yaml
  kit/charts/atk/charts/support/charts/redis/values.yaml
  kit/charts/atk/charts/txsigner/templates/deployment.yaml
  kit/charts/atk/charts/txsigner/values.yaml
  kit/charts/atk/templates/_common-helpers.tpl
  kit/charts/atk/templates/_waitforit.tpl
  kit/charts/atk/values-openshift.yaml
  kit/charts/atk/values.yaml
  kit/charts/package.json
Labels: feat, qa:running, status:ready-for-review, size:XXL

#3552 fix: collateral ratio
  bun.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/besu-network/charts/besu-genesis/README.md
  kit/charts/atk/charts/besu-network/charts/besu-node/README.md
  kit/charts/atk/charts/erpc/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/support/charts/postgresql/README.md
  kit/charts/atk/charts/support/charts/redis/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/contracts/portal/abis/asset-tokenization/AirdropFactory.json
  kit/contracts/portal/abis/asset-tokenization/Bond.json
  kit/contracts/portal/abis/asset-tokenization/BondFactory.json
  kit/contracts/portal/abis/asset-tokenization/CryptoCurrency.json
  kit/contracts/portal/abis/asset-tokenization/CryptoCurrencyFactory.json
  kit/contracts/portal/abis/asset-tokenization/Deposit.json
  kit/contracts/portal/abis/asset-tokenization/DepositFactory.json
  kit/contracts/portal/abis/asset-tokenization/EAS.json
  kit/contracts/portal/abis/asset-tokenization/EASSchemaRegistry.json
  kit/contracts/portal/abis/asset-tokenization/Equity.json
  kit/contracts/portal/abis/asset-tokenization/EquityFactory.json
  kit/contracts/portal/abis/asset-tokenization/FixedYield.json
  kit/contracts/portal/abis/asset-tokenization/FixedYieldFactory.json
  kit/contracts/portal/abis/asset-tokenization/Forwarder.json
  kit/contracts/portal/abis/asset-tokenization/Fund.json
  kit/contracts/portal/abis/asset-tokenization/FundFactory.json
  kit/contracts/portal/abis/asset-tokenization/PushAirdrop.json
  kit/contracts/portal/abis/asset-tokenization/StableCoin.json
  kit/contracts/portal/abis/asset-tokenization/StableCoinFactory.json
  kit/contracts/portal/abis/asset-tokenization/StandardAirdrop.json
  kit/contracts/portal/abis/asset-tokenization/Vault.json
  kit/contracts/portal/abis/asset-tokenization/VaultFactory.json
  kit/contracts/portal/abis/asset-tokenization/VestingAirdrop.json
  kit/contracts/portal/abis/asset-tokenization/XvPSettlement.json
  kit/contracts/portal/abis/asset-tokenization/XvPSettlementFactory.json
  kit/contracts/test/system/ATKSystem.t.sol
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/src/components/percentage-progress/percentage-progress.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
  packages/zod/src/residency-status.ts
Labels: dependencies, feat, fix, docs, status:ready-for-review, qa:success, size:XL

#3585 fix: run besu nodes as non root user
  kit/charts/atk/values-openshift.yaml
  kit/charts/atk/values.yaml
Labels: chore, qa:success, status:mergeable, size:L, lgtm

#3586 chore: update ATK Helm chart documentation and configurations
  kit/charts/atk/README.md
  kit/charts/atk/README.md.gotmpl
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/erpc/README.md
  kit/charts/atk/charts/erpc/README.md.gotmpl
  kit/charts/atk/charts/erpc/templates/_helpers.tpl
  kit/charts/atk/charts/erpc/templates/configmap.yaml
  kit/charts/atk/charts/erpc/templates/deployment.yaml
  kit/charts/atk/charts/erpc/values.yaml
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/portal/README.md.gotmpl
  kit/charts/atk/charts/txsigner/README.md
  kit/charts/atk/charts/txsigner/README.md.gotmpl
  kit/charts/atk/values.yaml
Labels: chore, status:ready-for-review, qa:success, size:XL

#3588 feat: replace external blockscout-stack with local chart implementation
  kit/charts/atk/charts/blockscout/Chart.lock
  kit/charts/atk/charts/blockscout/Chart.yaml
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/blockscout/templates/_helpers.tpl
  kit/charts/atk/charts/blockscout/templates/blockscout-deployment.yaml
  kit/charts/atk/charts/blockscout/templates/blockscout-ingress.yaml
  kit/charts/atk/charts/blockscout/templates/blockscout-secret.yaml
  kit/charts/atk/charts/blockscout/templates/blockscout-service.yaml
  kit/charts/atk/charts/blockscout/templates/frontend-deployment.yaml
  kit/charts/atk/charts/blockscout/templates/frontend-ingress.yaml
  kit/charts/atk/charts/blockscout/templates/frontend-secret.yaml
  kit/charts/atk/charts/blockscout/templates/frontend-service.yaml
  kit/charts/atk/charts/blockscout/templates/serviceaccount.yaml
  kit/charts/atk/charts/blockscout/values.yaml
  kit/charts/atk/templates/NOTES.txt
  kit/charts/atk/values-openshift.yaml
  kit/charts/atk/values.yaml
Labels: feat, status:ready-for-review, qa:success, size:XXL

#3594 fix: add blockscouts openshift route
  kit/charts/atk/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/blockscout/templates/blockscout-deployment.yaml
  kit/charts/atk/charts/blockscout/templates/blockscout-route.yaml
  kit/charts/atk/charts/blockscout/templates/frontend-deployment.yaml
  kit/charts/atk/charts/blockscout/templates/frontend-route.yaml
  kit/charts/atk/charts/blockscout/values.yaml
  kit/charts/atk/values-openshift.yaml
Labels: fix, status:ready-for-review, qa:success, size:XL

#3596 feat: add portal openshift route
  kit/charts/atk/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/portal/templates/route.yaml
  kit/charts/atk/charts/portal/values.yaml
  kit/charts/atk/values-openshift.yaml
Labels: feat, status:ready-for-review, qa:success, size:L

#3593 fix: artifacts cleanup
  .gitignore
  kit/contracts/Dockerfile
  kit/contracts/genesis/genesis.json
  kit/contracts/portal/abis/asset-tokenization/AirdropFactory.json
  kit/contracts/portal/abis/asset-tokenization/Bond.json
  kit/contracts/portal/abis/asset-tokenization/BondFactory.json
  kit/contracts/portal/abis/asset-tokenization/CryptoCurrency.json
  kit/contracts/portal/abis/asset-tokenization/CryptoCurrencyFactory.json
  kit/contracts/portal/abis/asset-tokenization/Deposit.json
  kit/contracts/portal/abis/asset-tokenization/DepositFactory.json
  kit/contracts/portal/abis/asset-tokenization/EAS.json
  kit/contracts/portal/abis/asset-tokenization/EASSchemaRegistry.json
  kit/contracts/portal/abis/asset-tokenization/Equity.json
  kit/contracts/portal/abis/asset-tokenization/EquityFactory.json
  kit/contracts/portal/abis/asset-tokenization/FixedYield.json
  kit/contracts/portal/abis/asset-tokenization/FixedYieldFactory.json
  kit/contracts/portal/abis/asset-tokenization/Forwarder.json
  kit/contracts/portal/abis/asset-tokenization/Fund.json
  kit/contracts/portal/abis/asset-tokenization/FundFactory.json
  kit/contracts/portal/abis/asset-tokenization/PushAirdrop.json
  kit/contracts/portal/abis/asset-tokenization/StableCoin.json
  kit/contracts/portal/abis/asset-tokenization/StableCoinFactory.json
  kit/contracts/portal/abis/asset-tokenization/StandardAirdrop.json
  kit/contracts/portal/abis/asset-tokenization/Vault.json
  kit/contracts/portal/abis/asset-tokenization/VaultFactory.json
  kit/contracts/portal/abis/asset-tokenization/VestingAirdrop.json
  kit/contracts/portal/abis/asset-tokenization/XvPSettlement.json
  kit/contracts/portal/abis/asset-tokenization/XvPSettlementFactory.json
Labels: fix, chore, qa:success, status:mergeable, size:XXL, lgtm

#3597 feat: add hasura openshift route
  kit/charts/atk/README.md
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/hasura/templates/route.yaml
  kit/charts/atk/charts/hasura/values.yaml
  kit/charts/atk/values-openshift.yaml
  kit/charts/atk/values.yaml
Labels: feat, status:ready-for-review, qa:failed, size:L

#3598 feat(graph-node): add openshift routes
  kit/charts/atk/README.md
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/graph-node/templates/route.yaml
  kit/charts/atk/charts/graph-node/values.yaml
  kit/charts/atk/values-openshift.yaml
  kit/charts/atk/values.yaml
Labels: feat, qa:running, status:ready-for-review, size:L, lgtm

#3602 feat: openshift route for dapp
  kit/charts/atk/README.md
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/dapp/templates/route.yaml
  kit/charts/atk/charts/dapp/values.yaml
  kit/charts/atk/charts/txsigner/README.md
  kit/charts/atk/values-openshift.yaml
  kit/charts/atk/values.yaml
Labels: feat, status:draft, qa:success, size:L

#3603 fix: divide by zero err in subgraph
  kit/subgraph/src/stats/token-distribution-stats.ts
  kit/subgraph/src/stats/token-type-stats.ts
Labels: fix, status:ready-for-review, qa:success, size:S

#3610 fix: lazy loading of routes
  kit/dapp/src/orpc/middlewares/auth/session.middleware.ts
  kit/dapp/src/orpc/middlewares/auth/trusted-issuer.middleware.ts
  kit/dapp/src/orpc/middlewares/services/portal.middleware.ts
  kit/dapp/src/orpc/middlewares/services/the-graph.middleware.ts
  kit/dapp/src/orpc/orpc-client.ts
  kit/dapp/src/orpc/routes/router.ts
Labels: fix, qa:success, status:mergeable, size:S, lgtm

#3609 feat: [claim management] identity detail page
  kit/dapp/locales/ar-SA/identities.json
  kit/dapp/locales/de-DE/identities.json
  kit/dapp/locales/en-US/identities.json
  kit/dapp/locales/ja-JP/identities.json
  kit/dapp/src/components/identity/identity-status-badge.tsx
  kit/dapp/src/components/identity/identity-table.tsx
  kit/dapp/src/components/identity/identity-type-badge.tsx
  kit/dapp/src/components/manage-dropdown/core/action-form-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-role/change-roles-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/transfer-asset-sheet.tsx
  kit/dapp/src/components/tab-navigation/identity-tab-configuration.tsx
  kit/dapp/src/lib/auth/index.ts
  kit/dapp/src/lib/i18n/index.ts
  kit/dapp/src/lib/i18n/types.ts
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/system/identity/identity.router.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.create.spec.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.list.schema.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.list.spec.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.list.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.read.schema.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.read.spec.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.read.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.register.spec.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.search.schema.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.search.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/transfer/token.forced-transfer.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/admin/identity-management/$accountId.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/admin/identity-management/$accountId/index.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/admin/identity-management/$address.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/admin/identity-management/$address/claims.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/admin/identity-management/$address/index.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/admin/identity-management/index.tsx
  kit/dapp/src/types/bond-status.test.ts
Labels: feat, qa:success, status:mergeable, size:XXL, lgtm

#3611 fix: collateral ratio
  kit/dapp/src/components/percentage-progress/percentage-progress.tsx
  kit/dapp/src/orpc/routes/token/routes/stats/collateral-ratio.spec.ts
  kit/dapp/src/orpc/routes/token/routes/stats/collateral-ratio.ts
Labels: fix, status:ready-for-review, qa:success, test, size:M, lgtm

#3631 feat: added design documents
  claude_documentation_inputs.md
  documentation_sync.md
  kit/docs/content/docs/01-system-overview.md
  kit/docs/content/docs/02-smart-protocol-foundation.md
  kit/docs/content/docs/03-atk-system-contracts.md
  kit/docs/content/docs/04-development-environment.md
  kit/docs/content/docs/05-deployment-operations.md
  kit/docs/content/docs/06-asset-token-contracts.md
  kit/docs/content/docs/07-identity-compliance-system.md
  kit/docs/content/docs/08-addon-system-architecture.md
  kit/docs/content/docs/09-factory-proxy-patterns.md
  kit/docs/content/docs/10-smart-contract-testing.md
  kit/docs/content/docs/11-nextjs-dapp-architecture.md
  kit/docs/content/docs/12-ui-component-system.md
  kit/docs/content/docs/13-asset-management-interface.md
  kit/docs/content/docs/14-form-state-management.md
  kit/docs/content/docs/15-web3-wallet-integration.md
  kit/docs/content/docs/16-orpc-api-architecture.md
  kit/docs/content/docs/17-database-schema-design.md
  kit/docs/content/docs/18-subgraph-indexing-system.md
  kit/docs/content/docs/19-external-service-integrations.md
  kit/docs/content/docs/20-testing-quality-assurance.md
  kit/docs/content/docs/21-bond-workflows-user-stories.md
  kit/docs/content/docs/22-equity-workflows-user-stories.md
  kit/docs/content/docs/23-fund-workflows-user-stories.md
  kit/docs/content/docs/24-stablecoin-workflows-user-stories.md
  kit/docs/content/docs/25-deposit-workflows-user-stories.md
  kit/docs/content/docs/26-core-banking-integration-architecture.md
  kit/docs/content/docs/27-payment-rails-settlement-architecture.md
  kit/docs/content/docs/28-regulatory-reporting-compliance-architecture.md
  kit/docs/content/docs/29-custody-asset-servicing-architecture.md
  kit/docs/content/docs/30-fiat-token-bridge-architecture.md
  kit/docs/content/docs/README.md
Labels: feat, docs, status:ready-for-review, qa:success, size:XXL

#3633 feat: account stats per system
  kit/dapp/src/orpc/routes/system/stats/routes/assets.ts
  kit/dapp/src/orpc/routes/system/stats/routes/value.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/identity/identity.ts
  kit/subgraph/src/stats/account-stats.ts
  kit/subgraph/src/token-balance/fetch/token-balance.ts
  kit/subgraph/src/token-balance/utils/token-balance-utils.ts
  kit/subgraph/src/token-extensions/burnable/burnable.ts
  kit/subgraph/src/token-extensions/custodian/custodian.ts
  kit/subgraph/src/token/token.ts
  kit/subgraph/test/stats/account-stats.spec.ts
  kit/subgraph/tools/codegen-gql-tada.sh
Labels: feat, status:ready-for-review, qa:success, size:XL

#3605 fix: related actions
  bun.lock
  kit/dapp/locales/ar-SA/tokens.json
  kit/dapp/locales/de-DE/tokens.json
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/locales/ja-JP/tokens.json
  kit/dapp/src/components/manage-dropdown/sheets/redeem-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/set-cap-sheet.tsx
  kit/dapp/src/components/related/token-related-actions.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
Labels: feat, fix, qa:success, status:mergeable, size:XL, lgtm

#3667 fix: disable otp verification
  kit/dapp/locales/en-US/onboarding.json
  kit/dapp/src/components/onboarding/wallet-security/otp-setup-modal.tsx
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-modal.tsx
  kit/dapp/src/components/onboarding/wallet-security/security-method-selector.tsx
Labels: fix, qa:success, status:mergeable, size:L, lgtm

#3663 fix: optimize ORPC client for SSR performance
  kit/dapp/src/lib/orpc.server.ts
  kit/dapp/src/orpc/orpc-client.ts
  kit/dapp/src/orpc/routes/router.ts
  kit/dapp/src/router.tsx
  kit/dapp/src/routes/__root.tsx
Labels: fix, status:ready-for-review, qa:success, size:L

#3674 fix: minting fails for tokens with collateral
  kit/dapp/locales/en-US/common.json
  kit/dapp/src/components/manage-dropdown/sheets/blocklist-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/burn-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-role/change-roles-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/collateral-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/freeze-partial-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/mature-confirmation-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/mint-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/pause-unpause-confirmation-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/pause-unpause-confirmation-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/set-cap-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/set-yield-schedule-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/top-up-denomination-asset-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/transfer-asset-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/unfreeze-partial-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/withdraw-denomination-asset-sheet.tsx
  kit/dapp/src/orpc/routes/token/routes/mutations/collateral/token.update-collateral.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/collateral/token.update-collateral.spec.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/collateral/token.update-collateral.ts
  kit/dapp/src/orpc/routes/token/routes/stats/collateral-ratio.spec.ts
  kit/dapp/src/orpc/routes/user/routes/user.search.ts
Labels: fix, qa:success, status:mergeable, refactor, test, size:L, lgtm

#3683 fix: skeleton css styling
  kit/dapp/src/components/charts/chart-skeleton.tsx
  kit/dapp/src/components/ui/skeleton.tsx
Labels: fix, status:ready-for-review, qa:success, size:S

#3684 fix: space between related and table
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/index.tsx
Labels: fix, status:ready-for-review, qa:success, size:XS

#3688 fix: use bun --bun in dapp start command
  kit/dapp/package.json
Labels: fix, qa:success, status:mergeable, size:XS, lgtm

#3685 feat: recent events table
  kit/dapp/locales/ar-SA/dashboard.json
  kit/dapp/locales/de-DE/dashboard.json
  kit/dapp/locales/en-US/dashboard.json
  kit/dapp/locales/ja-JP/dashboard.json
  kit/dapp/src/components/dashboard/latest-events/latest-events-table.tsx
  kit/dapp/src/components/dashboard/latest-events/latest-events.tsx
  kit/dapp/src/components/dashboard/portfolio-details/portfolio-summary-card.tsx
  kit/dapp/src/orpc/routes/user/routes/user.events.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.events.ts
  kit/dapp/src/orpc/routes/user/user.contract.ts
  kit/dapp/src/orpc/routes/user/user.router.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/index.tsx
Labels: feat, status:ready-for-review, qa:success, size:XL, lgtm

#3701 feat: run via bun
  Dockerfile.dapp
  bun.lock
  kit/charts/atk/Chart.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/erpc/README.md
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/network/Chart.lock
  kit/charts/atk/charts/network/charts/network-bootstrapper/README.md
  kit/charts/atk/charts/network/charts/network-nodes/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/support/Chart.lock
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/support/charts/minio/README.md
  kit/charts/atk/charts/support/charts/postgresql/README.md
  kit/charts/atk/charts/support/charts/redis/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/dapp/package.json
  kit/dapp/postcss.config.ts
  kit/dapp/server.ts
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/vite.config.ts
  lefthook.yml
Labels: feat, status:ready-for-review, qa:success, size:XL

#3709 fix: downgrade to tanstack beta
  Dockerfile.dapp
  bun.lock
  kit/charts/atk/Chart.lock
  kit/charts/atk/charts/network/Chart.lock
  kit/charts/atk/charts/support/Chart.lock
  kit/contracts/scripts/hardhat/actions/set-global-blocked-addressess.ts
  kit/contracts/scripts/hardhat/actions/set-global-blocked-identities.ts
  kit/contracts/scripts/hardhat/assets/actions/core/approve.ts
  kit/contracts/scripts/hardhat/assets/actions/core/recover-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/custodian/forced-recover-tokens.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/set-yield-schedule.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/withdrawn-denomination-asset.ts
  kit/dapp/package.json
  kit/dapp/src/lib/auth/index.ts
  kit/dapp/src/lib/db/index.ts
  kit/dapp/src/orpc/context/context.ts
  kit/dapp/src/orpc/helpers/claims/issue-claim.ts
  kit/dapp/src/orpc/helpers/claims/revoke-claim.ts
  kit/dapp/src/orpc/orpc-client.ts
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/router.tsx
  kit/dapp/src/routes/api/$.ts
  kit/dapp/src/routes/api/auth/$.ts
  kit/dapp/src/routes/api/rpc.$.ts
  kit/dapp/tools/fix-noble-crypto.ts
  kit/dapp/vite.config.ts
Labels: fix, status:ready-for-review, qa:success, size:L

#3711 fix: use ethereumCompositeId in token.complianceModuleConfigs
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
Labels: fix, status:ready-for-review, qa:success, size:XS

#3712 fix: error when trying to add duplicate claim topic
  kit/dapp/locales/en-US/errors.json
  kit/dapp/src/components/form/text-field.tsx
  kit/dapp/src/components/platform-settings/claim-topics/add-topic-dialog.tsx
  kit/dapp/src/orpc/routes/system/claim-topics/routes/topic.create.ts
Labels: fix, status:ready-for-review, qa:success, size:L

#3713 feat: transfer asset sheet in manage dropdown
  kit/dapp/src/components/manage-dropdown/manage-asset-dropdown.tsx
Labels: feat, status:ready-for-review, qa:success, size:M
