Repository settlemint/asset-tokenization-kit, pull requests merged in 2025-08, with the labels that each got.

#2958 fix: add reset for dev
  .github/workflows/e2e-playwright-tests.yml
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/onboarding-page.ts
  kit/e2e/pages/sign-in-page.ts
  kit/e2e/playwright.ui.config.ts
  kit/e2e/test-data/user-data.ts
  kit/e2e/ui-tests/complete-onboarding-flow.spec.ts
  kit/e2e/ui-tests/sign-in.spec.ts
  kit/e2e/utils/onboarding-flow-helper.ts
Labels: feat, fix, run-playwright-tests, ci, status:ready-for-review, qa:success, test, size:XL

#3039 feat: wire compliance modules
  bun.lock
  kit/dapp/locales/en-US/compliance-modules.json
  kit/dapp/locales/en-US/form.json
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-designer-wizard.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/compliance-modules/compliance-module-detail.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/compliance-modules/compliance-modules.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/compliance-modules/country-allowlist-module-detail.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/compliance-modules/select-compliance-modules.tsx
  kit/dapp/src/components/compliance/compliance-modules.tsx
  kit/dapp/src/components/compliance/details/compliance-module-detail.tsx
  kit/dapp/src/components/compliance/details/country/country-allowlist-module-detail.tsx
  kit/dapp/src/components/compliance/details/country/country-blocklist-module-detail.tsx
  kit/dapp/src/components/compliance/details/country/country-restriction-module-detail.tsx
  kit/dapp/src/components/compliance/details/types.ts
  kit/dapp/src/components/country/country-multiselect.tsx
  kit/dapp/src/components/form/country-select-field.tsx
  kit/dapp/src/components/onboarding/wallet-security/otp-setup-modal.tsx
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-modal.tsx
  kit/dapp/src/hooks/use-countries.ts
  kit/dapp/src/lib/compliance/encoding/encode-address-params.ts
  kit/dapp/src/lib/compliance/encoding/encode-country-params.ts
  kit/dapp/src/lib/compliance/encoding/encode-identity-params.ts
  kit/dapp/src/lib/compliance/utils.ts
  kit/dapp/src/lib/utils/array.ts
  kit/dapp/src/lib/zod/validators/compliance.test.ts
  kit/dapp/src/lib/zod/validators/compliance.ts
  kit/dapp/src/lib/zod/validators/ethereum-hex.test.ts
  kit/dapp/src/lib/zod/validators/ethereum-hex.ts
  kit/dapp/src/lib/zod/validators/iso-country-code.ts
  kit/dapp/src/orpc/routes/system/compliance-module/compliance-module.contract.ts
  kit/dapp/src/orpc/routes/system/compliance-module/compliance-module.router.ts
  kit/dapp/src/orpc/routes/system/compliance-module/routes/compliance-module.config.schema.ts
  kit/dapp/src/orpc/routes/system/compliance-module/routes/compliance-module.list.schema.ts
  kit/dapp/src/orpc/routes/system/compliance-module/routes/compliance-module.list.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/bond.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/deposit.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/equity.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/fund.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/stablecoin.create.ts
  kit/dapp/src/routes/_private/_onboarded/asset-designer/index.tsx
Labels: feat, qa:success, status:mergeable, size:XXL, lgtm

#3050 feat: update helm chart docs
  kit/charts/atk/README.md
  kit/charts/atk/charts/besu-network/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/support/README.md
Labels: feat, docs, qa:success, status:mergeable, size:XXL, lgtm

#3048 fix: move imagePullSecrets outside of values.yaml
  kit/charts/CLAUDE.md
  kit/charts/atk/README.md
  kit/charts/atk/templates/_helpers.tpl
  kit/charts/atk/values.yaml
  kit/charts/tools/values-orbstack.1p.yaml
Labels: fix, docs, status:ready-for-review, qa:success, size:L

#3049 feat: add total volume chart for token analytics
  kit/dapp/locales/en-US/stats.json
  kit/dapp/src/components/stats/charts/asset-total-volume-area-chart.tsx
  kit/dapp/src/orpc/routes/token/routes/stats/volume.contract.ts
  kit/dapp/src/orpc/routes/token/routes/stats/volume.schema.ts
  kit/dapp/src/orpc/routes/token/routes/stats/volume.ts
  kit/dapp/src/orpc/routes/token/routes/stats/wallet-distribution.schema.test.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
Labels: feat, qa:success, status:mergeable, size:XL, lgtm

#3054 fix: genesis.json for besu nodes
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/genesis-job-init.yaml
Labels: fix, qa:success, status:mergeable, size:M, lgtm

#3051 feat: add collateral ratio chart for stablecoins and deposits
  kit/dapp/locales/en-US/stats.json
  kit/dapp/src/components/stats/charts/asset-collateral-ratio-chart.tsx
  kit/dapp/src/orpc/routes/token/routes/stats/collateral-ratio.contract.ts
  kit/dapp/src/orpc/routes/token/routes/stats/collateral-ratio.schema.ts
  kit/dapp/src/orpc/routes/token/routes/stats/collateral-ratio.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
Labels: feat, qa:success, status:mergeable, size:L, lgtm

#3055 feat: sdk for the graph fetchAll directive
  bun.lock
  kit/charts/package.json
  kit/dapp/package.json
  kit/dapp/src/lib/zod/validators/iso-country-code.ts
  kit/dapp/src/orpc/middlewares/services/the-graph.middleware.test.ts
  kit/dapp/src/orpc/middlewares/services/the-graph.middleware.ts
  kit/subgraph/package.json
  package.json
Labels: feat, qa:success, status:mergeable, size:XXL, lgtm

#3074 fix: empty subgraph env after compile
  kit/subgraph/tools/compile.sh
Labels: fix, qa:success, status:mergeable, size:S, lgtm

#3076 fix: copilot symlink
  .github/copilot-instructions.md
Labels: fix, status:ready-for-review, qa:success, size:XS

#3071 feat: index of tokenbond stats
  kit/dapp/src/orpc/routes/token/routes/stats/bond-status.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/stats/token-bond-stats.ts
  kit/subgraph/src/stats/utils/bond-stats-utils.ts
  kit/subgraph/src/token-balance/utils/token-balance-utils.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/fixed-yield-schedule.ts
  kit/subgraph/test/stats/token-bond-stats.spec.ts
Labels: feat, status:ready-for-review, qa:success, test, size:L

#3075 refactor(dapp): modernize component architecture with compound patterns and comprehensive testing
  kit/dapp/CLAUDE.md
  kit/dapp/src/components/related/related-grid-item.tsx
  kit/dapp/src/components/related/related-grid.test.tsx
  kit/dapp/src/components/related/related-grid.tsx
  kit/dapp/src/components/related/token-factory-related.test.tsx
  kit/dapp/src/components/related/token-factory-related.tsx
  kit/dapp/src/components/selectable-card/selectable-card.test.tsx
  kit/dapp/src/components/selectable-card/selectable-card.tsx
  kit/dapp/src/lib/zod/validators/fiat-currency.test.ts
  kit/dapp/src/lib/zod/validators/isin.test.ts
  kit/dapp/src/lib/zod/validators/isin.ts
  kit/dapp/src/lib/zod/validators/iso-country-code.test.ts
  kit/dapp/src/lib/zod/validators/price.test.ts
  kit/dapp/src/lib/zod/validators/price.ts
  kit/dapp/src/styles/app.css
  kit/dapp/test/setup.ts
  kit/dapp/vite.config.ts
  kit/dapp/vitest.config.ts
Labels: status:ready-for-review, qa:success, refactor, test, size:XXL

#3079 refactor(dapp): enhance component interactions and error handling
  .claude/commands/pr.md
  .claude/commands/test.md
  CLAUDE.md
  kit/dapp/src/components/compliance/details/country/country-restriction-module-detail.tsx
  kit/dapp/src/components/data-table/data-table-row-actions.tsx
  kit/dapp/src/components/error/component-error-boundary.tsx
  kit/dapp/src/components/form/multi-step/step-submit-button.tsx
  kit/dapp/src/components/manage-dropdown/asset.tsx
  kit/dapp/src/components/manage-dropdown/base-action-sheet.tsx
  kit/dapp/src/components/manage-dropdown/token.tsx
  kit/dapp/src/components/onboarding/assets/asset-deployment.tsx
  kit/dapp/src/components/onboarding/recovery-codes/recovery-codes-actions.tsx
  kit/dapp/src/components/onboarding/system-addons/system-addons-deployment.tsx
  kit/dapp/src/components/ui/error-display.tsx
  kit/dapp/src/components/verification-dialog/verification-dialog.tsx
  kit/dapp/src/orpc/middlewares/monitoring/error.middleware.ts
  kit/dapp/src/orpc/routes/user/routes/user.read.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/addon/$addonAddress.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-settings.tsx
  kit/dapp/src/styles/app.css
Labels: status:ready-for-review, qa:success, refactor, test, size:L

#3088 feat(dapp): add bond yield coverage chart
  kit/dapp/locales/en-US/stats.json
  kit/dapp/src/components/stats/charts/asset-bond-yield-coverage-chart.tsx
  kit/dapp/src/hooks/use-bond-yield-coverage-data.ts
  kit/dapp/src/orpc/routes/token/routes/stats/bond-yield-coverage.contract.ts
  kit/dapp/src/orpc/routes/token/routes/stats/bond-yield-coverage.schema.ts
  kit/dapp/src/orpc/routes/token/routes/stats/bond-yield-coverage.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
Labels: feat, qa:success, status:mergeable, size:L, lgtm

#3093 fix: sign in/out with onboarded user test
  .github/workflows/e2e-playwright-tests.yml
  kit/e2e/pages/portfolio-page.ts
  kit/e2e/pages/sign-in-page.ts
  kit/e2e/playwright.ui.config.ts
  kit/e2e/test-data/error-messages.ts
  kit/e2e/test-data/user-data.ts
  kit/e2e/test-data/validation-data.ts
  kit/e2e/ui-tests/complete-onboarding-flow.spec.ts
  kit/e2e/ui-tests/global-cleanup.spec.ts
  kit/e2e/ui-tests/sign-in.spec.ts
  kit/e2e/utils/setup-user.ts
  package.json
Labels: fix, run-playwright-tests, ci, status:ready-for-review, qa:success, test, size:L

#3077 fix: consolidate imagePullSecrets
  kit/charts/CLAUDE.md
  kit/charts/atk/README.md
  kit/charts/atk/charts/besu-network/charts/besu-genesis/README.md
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/_helpers.tpl
  kit/charts/atk/charts/besu-network/charts/besu-genesis/values.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/_helpers.tpl
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-hooks-pre-install.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-hooks-service-account.yaml
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/dapp/values.yaml
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/hasura/values.yaml
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/observability/values.yaml
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/portal/values.yaml
  kit/charts/atk/charts/support/Chart.lock
  kit/charts/atk/charts/support/Chart.yaml
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/support/charts/minio/.helmignore
  kit/charts/atk/charts/support/charts/minio/Chart.yaml
  kit/charts/atk/charts/support/charts/minio/README.md
  kit/charts/atk/charts/support/charts/minio/templates/NOTES.txt
  kit/charts/atk/charts/support/charts/minio/templates/_helper_create_bucket.txt
  kit/charts/atk/charts/support/charts/minio/templates/_helper_create_policy.txt
  kit/charts/atk/charts/support/charts/minio/templates/_helper_create_svcacct.txt
  kit/charts/atk/charts/support/charts/minio/templates/_helper_create_user.txt
  kit/charts/atk/charts/support/charts/minio/templates/_helper_custom_command.txt
  kit/charts/atk/charts/support/charts/minio/templates/_helper_policy.tpl
  kit/charts/atk/charts/support/charts/minio/templates/_helpers.tpl
  kit/charts/atk/charts/support/charts/minio/templates/ciliumnetworkpolicy.yaml
  kit/charts/atk/charts/support/charts/minio/templates/configmap.yaml
  kit/charts/atk/charts/support/charts/minio/templates/console-ingress.yaml
  kit/charts/atk/charts/support/charts/minio/templates/console-service.yaml
  kit/charts/atk/charts/support/charts/minio/templates/deployment.yaml
  kit/charts/atk/charts/support/charts/minio/templates/ingress.yaml
  kit/charts/atk/charts/support/charts/minio/templates/networkpolicy.yaml
  kit/charts/atk/charts/support/charts/minio/templates/poddisruptionbudget.yaml
  kit/charts/atk/charts/support/charts/minio/templates/post-job.yaml
  kit/charts/atk/charts/support/charts/minio/templates/pvc.yaml
  kit/charts/atk/charts/support/charts/minio/templates/secrets.yaml
  kit/charts/atk/charts/support/charts/minio/templates/securitycontextconstraints.yaml
  kit/charts/atk/charts/support/charts/minio/templates/service.yaml
  kit/charts/atk/charts/support/charts/minio/templates/serviceaccount.yaml
  kit/charts/atk/charts/support/charts/minio/templates/servicemonitor.yaml
  kit/charts/atk/charts/support/charts/minio/templates/statefulset.yaml
  kit/charts/atk/charts/support/charts/minio/values.yaml
  kit/charts/atk/charts/support/charts/postgresql/README.md
  kit/charts/atk/charts/support/charts/postgresql/templates/deployment.yaml
  kit/charts/atk/charts/support/charts/postgresql/values.yaml
  kit/charts/atk/charts/support/charts/redis/templates/deployment.yaml
  kit/charts/atk/charts/support/values.yaml
  kit/charts/atk/charts/txsigner/README.md
  kit/charts/atk/charts/txsigner/values.yaml
  kit/charts/atk/templates/_common-helpers.tpl
  kit/charts/atk/templates/_helpers.tpl
  kit/charts/atk/templates/image-pull-secrets.yaml
  kit/charts/atk/templates/image-pull.secrets.yaml
  kit/charts/atk/values.yaml
  kit/charts/tools/values-orbstack.1p.yaml
Labels: feat, fix, chore, docs, status:ready-for-review, qa:success, refactor, size:XXL

#3103 chore: upgrade zod
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/components/data-table/cells/actions-cell.test.tsx
  kit/dapp/src/components/data-table/columns/selection-column.test.tsx
  kit/dapp/src/components/data-table/data-table-action-bar.test.tsx
  kit/dapp/src/components/data-table/data-table-advanced-toolbar.test.tsx
  kit/dapp/src/components/data-table/data-table-column-cell.test.tsx
  kit/dapp/src/components/data-table/data-table-column-header.test.tsx
  kit/dapp/src/components/data-table/data-table-empty-state.test.tsx
  kit/dapp/src/components/data-table/data-table-export.test.tsx
  kit/dapp/src/components/data-table/data-table-filter.test.tsx
  kit/dapp/src/components/data-table/data-table-pagination.test.tsx
  kit/dapp/src/components/data-table/data-table-row-actions.test.tsx
  kit/dapp/src/components/data-table/data-table-selection.test.tsx
  kit/dapp/src/components/data-table/data-table-skeleton.test.tsx
  kit/dapp/src/components/data-table/data-table-toolbar.test.tsx
  kit/dapp/src/components/data-table/data-table-view-options.test.tsx
  kit/dapp/src/components/data-table/data-table.test.tsx
  kit/dapp/src/components/data-table/filters/debounced-input.test.tsx
  kit/dapp/src/components/data-table/filters/operators/operator-controller.test.tsx
  kit/dapp/src/components/data-table/filters/values/date-value-menu.test.tsx
  kit/dapp/src/components/data-table/filters/values/multi-option-value-menu.test.tsx
  kit/dapp/src/components/data-table/filters/values/number-value-menu.test.tsx
  kit/dapp/src/components/data-table/filters/values/option-items.test.tsx
  kit/dapp/src/components/data-table/filters/values/option-value-menu.test.tsx
  kit/dapp/src/components/data-table/filters/values/text-value-menu.test.tsx
  kit/dapp/src/components/data-table/filters/values/value-controller.test.tsx
  kit/dapp/src/components/data-table/test-utils.test.tsx
  kit/dapp/src/components/data-table/utils/auto-column.test.tsx
  kit/dapp/src/lib/db/schemas/exchange-rates.ts
  kit/dapp/src/orpc/routes/user/kyc/kyc.schema.ts
  kit/dapp/test/test-utils.tsx
Labels: chore, status:ready-for-review, qa:success, size:XL

#3106 feat: stable coin should be redeemable
  bun.lock
  kit/contracts/contracts/assets/stable-coin/ATKStableCoinImplementation.sol
  kit/contracts/contracts/assets/stable-coin/IATKStableCoin.sol
  kit/subgraph/test/extensions/redeemable.spec.ts
  kit/subgraph/test/token-factory.spec.ts
  kit/subgraph/test/token.spec.ts
Labels: chore, qa:success, status:mergeable, size:S, lgtm

#3105 chore: speed up by using tsgo
  bun.lock
  kit/contracts/package.json
  kit/dapp/eslint.config.mjs
  kit/dapp/package.json
  kit/dapp/test/system/addon-create.spec.ts
  kit/dapp/test/system/compliance-module-create.spec.ts
  kit/dapp/test/system/system-stats.spec.ts
  kit/dapp/test/token/token-permissions.spec.ts
  kit/dapp/tsconfig.json
  kit/dapp/turbo.json
  kit/dapp/vitest.config.integration.ts
  kit/dapp/vitest.config.ts
  kit/subgraph/package.json
  kit/subgraph/turbo.json
  package.json
Labels: chore, status:ready-for-review, qa:success, size:M

#3108 feat: consolidate images in the root values
  kit/charts/CLAUDE.md
  kit/charts/atk/README.md
  kit/charts/atk/charts/dapp/values.yaml
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/graph-node/values.yaml
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/hasura/values.yaml
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/observability/values.yaml
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/portal/values.yaml
  kit/charts/atk/charts/txsigner/README.md
  kit/charts/atk/charts/txsigner/values.yaml
  kit/charts/atk/values.yaml
  kit/charts/tools/values-orbstack.1p.yaml
Labels: feat, status:ready-for-review, qa:success, size:XL

#3121 feat: remove yield coverage chart
  kit/dapp/locales/en-US/stats.json
  kit/dapp/src/components/stats/charts/asset-bond-yield-coverage-chart.tsx
  kit/dapp/src/hooks/use-bond-yield-coverage-data.ts
  kit/dapp/src/orpc/routes/token/routes/stats/bond-yield-coverage.contract.ts
  kit/dapp/src/orpc/routes/token/routes/stats/bond-yield-coverage.schema.ts
  kit/dapp/src/orpc/routes/token/routes/stats/bond-yield-coverage.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
  kit/dapp/test/token/stats/token-stats-bond-yield-coverage.spec.ts
Labels: feat, chore, status:ready-for-review, qa:success, size:XL

#3123 chore: charts component tests
  .cursor/mcp.json
  .cursor/rules/agents.mdc
  .cursor/rules/charts.mdc
  .cursor/rules/code-reviewer.mdc
  .cursor/rules/commands.mdc
  .cursor/rules/contracts.mdc
  .cursor/rules/dapp.mdc
  .cursor/rules/e2e.mdc
  .cursor/rules/mcp.mdc
  .cursor/rules/orpc.mdc
  .cursor/rules/project.mdc
  .cursor/rules/researcher.mdc
  .cursor/rules/solidity-auditor.mdc
  .cursor/rules/subgraph.mdc
  bun.lock
  kit/contracts/contracts/assets/deposit/ATKDepositFactoryImplementation.sol
  kit/contracts/contracts/assets/deposit/IATKDeposit.sol
  kit/contracts/test/assets/ATKDeposit.t.sol
  kit/dapp/src/components/data-table/data-table-export.test.tsx
  kit/dapp/src/components/onboarding/system-addons/system-addons-selection.tsx
  kit/dapp/src/components/stats/charts/asset-collateral-ratio-chart.test.tsx
  kit/dapp/src/components/stats/charts/asset-supply-changes-area-chart.test.tsx
  kit/dapp/src/components/stats/charts/asset-supply-pie-chart.test.tsx
  kit/dapp/src/components/stats/charts/asset-total-supply-area-chart.test.tsx
  kit/dapp/src/components/stats/charts/asset-total-volume-area-chart.test.tsx
  kit/dapp/src/components/stats/charts/asset-wallet-distribution-chart.test.tsx
  kit/dapp/src/components/stats/charts/transaction-history-area-chart.test.tsx
  kit/dapp/src/components/stats/charts/user-growth-area-chart.test.tsx
  kit/dapp/src/orpc/routes/actions/actions.spec.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/token.create.spec.ts
  kit/dapp/src/orpc/routes/token/routes/token.list.spec.ts
  kit/dapp/test/helpers/test-utils.tsx
  kit/dapp/test/mocks/suspense-query.ts
  kit/dapp/vitest.config.ts
Labels: chore, status:ready-for-review, qa:success, test, size:XXL

#3143 fix: rename underlying asset to denomination asset
  kit/contracts/contracts/addons/yield/ATKFixedYieldScheduleUpgradeable.sol
  kit/contracts/contracts/assets/README.md
  kit/contracts/contracts/assets/bond/IATKBondFactory.sol
  kit/contracts/contracts/assets/deposit/ATKDepositImplementation.sol
  kit/contracts/contracts/smart/extensions/yield/schedules/fixed/ISMARTFixedYieldSchedule.sol
  kit/contracts/contracts/smart/extensions/yield/schedules/fixed/internal/SMARTFixedYieldScheduleLogic.sol
  kit/contracts/scripts/hardhat/assets/actions/yield/claim-yield.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/topup-denomination-asset.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/withdrawn-denomination-asset.ts
  kit/contracts/scripts/hardhat/assets/bond.ts
  kit/contracts/test/addons/yield/ATKFixedYieldSchedule.t.sol
  kit/contracts/test/assets/ATKBondReentrancyTest.t.sol
  kit/contracts/test/smart/extensions/SMARTYieldIntegrationTest.sol
  kit/contracts/test/utils/SMARTYieldHelpers.sol
  kit/dapp/locales/en-US/stats.json
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/src/components/stats/charts/asset-bond-status-progress-chart.tsx
  kit/dapp/src/lib/utils/features-enabled.test.ts
  kit/dapp/src/lib/utils/features-enabled.ts
  kit/dapp/src/orpc/routes/token/routes/stats/bond-status.contract.ts
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/create-asset-form.ts
  kit/e2e/test-data/message-data.ts
  kit/e2e/ui-tests/create-bond-validation.spec.ts
  kit/e2e/ui-tests/create-top-up-mint-burn-transfer-bond.spec.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/stats/utils/bond-stats-utils.ts
  kit/subgraph/src/token-balance/utils/token-balance-utils.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/fetch/fixed-yield-schedule.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/fixed-yield-schedule.ts
  kit/subgraph/subgraph.yaml
  kit/subgraph/test/extensions/fixed-yield.spec.ts
  kit/subgraph/test/stats/account-stats.spec.ts
  kit/subgraph/test/stats/token-bond-stats.spec.ts
  kit/subgraph/test/token-balance.spec.ts
Labels: fix, status:ready-for-review, qa:success, size:L

#3145 fix: kyc form submit button
  kit/dapp/src/components/form/verification-button.tsx
  kit/dapp/src/components/kyc/kyc-form.tsx
Labels: fix, status:ready-for-review, qa:success, build, size:S

#3119 feat: implement missing events from contracts in the graph
  kit/contracts/contracts/system/identity-registry-storage/ATKIdentityRegistryStorageImplementation.sol
  kit/contracts/scripts/hardhat/actions/add-to-bypass-list.ts
  kit/contracts/scripts/hardhat/actions/remove-from-bypass-list.ts
  kit/contracts/scripts/hardhat/actions/remove-identity-keys.ts
  kit/contracts/scripts/hardhat/actions/revoke-claims.ts
  kit/contracts/scripts/hardhat/entities/actor.ts
  kit/contracts/scripts/hardhat/main.ts
  kit/contracts/scripts/hardhat/utils/create-claim.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.update.ts
  kit/dapp/src/orpc/routes/system/token-factory/routes/factory.predict-address.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/token.create.schema.ts
  kit/subgraph/package.json
  kit/subgraph/schema.graphql
  kit/subgraph/src/account/fetch/account.ts
  kit/subgraph/src/compliance/compliance.ts
  kit/subgraph/src/compliance/fetch/compliance.ts
  kit/subgraph/src/event/fetch/event.ts
  kit/subgraph/src/identity-registry-storage/fetch/identity-registry-storage.ts
  kit/subgraph/src/identity-registry-storage/identity-registry-storage.ts
  kit/subgraph/src/identity-registry/fetch/identity-registry.ts
  kit/subgraph/src/identity-registry/identity-registry.ts
  kit/subgraph/src/identity/fetch/identity-claim.ts
  kit/subgraph/src/identity/fetch/identity-key.ts
  kit/subgraph/src/identity/fetch/identity.ts
  kit/subgraph/src/identity/identity.ts
  kit/subgraph/src/identity/utils/identity-key-utils.ts
  kit/subgraph/src/system-addons/fetch/system-addon.ts
  kit/subgraph/src/system/system.ts
  kit/subgraph/src/token-extensions/collateral/utils/collateral-utils.ts
  kit/subgraph/src/token/token.ts
  kit/subgraph/src/trusted-issuers-registry/fetch/trusted-issuer.ts
  kit/subgraph/src/trusted-issuers-registry/fetch/trusted-issuers-registry.ts
  kit/subgraph/src/trusted-issuers-registry/trusted-issuers-registry.ts
  kit/subgraph/subgraph.yaml
  kit/subgraph/test/accounts.spec.ts
  kit/subgraph/test/compliance/compliance-modules.spec.ts
  kit/subgraph/test/compliance/token-compliance-modules.spec.ts
  kit/subgraph/test/identity.spec.ts
  kit/subgraph/test/system-registries/identity-registry.spec.ts
  kit/subgraph/test/system-registries/trusted-issuer-registry.spec.ts
Labels: feat, status:ready-for-review, qa:success, size:XL

#3144 test: add comprehensive test coverage for role management
  .claude/commands/setup.md
  .cursor/mcp.json
  .github/actions/setup-dependencies/action.yml
  .gitignore
  AGENTS.md
  bun.lock
  kit/charts/AGENTS.md
  kit/contracts/AGENTS.md
  kit/contracts/package.json
  kit/dapp/AGENTS.md
  kit/dapp/package.json
  kit/dapp/src/components/data-table/data-table-pagination.test.tsx
  kit/dapp/src/orpc/routes/system/access-manager/access-manager.contract.ts
  kit/dapp/src/orpc/routes/system/access-manager/routes/grant-role.test.ts
  kit/dapp/src/orpc/routes/system/access-manager/routes/revoke-role.test.ts
  kit/dapp/src/orpc/routes/system/access-manager/routes/roles.list.contract.ts
  kit/dapp/src/orpc/routes/system/access-manager/routes/roles.list.spec.ts
  kit/dapp/src/orpc/routes/system/access-manager/routes/roles.list.test.ts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.delete.test.ts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.list.test.ts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.read.test.ts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.upsert.test.ts
  kit/dapp/src/test/orpc-route-helpers.ts
  kit/dapp/test/mocks/auth-client-mock.ts
  kit/dapp/test/mocks/auth-lib-mock.ts
  kit/dapp/test/mocks/better-auth-client-mocks.ts
  kit/dapp/test/setup/unit.ts
  kit/dapp/turbo.json
  kit/dapp/vitest.config.ts
  kit/e2e/AGENTS.md
  kit/subgraph/AGENTS.md
  kit/subgraph/turbo.json
  tools/dev-reset.sh
  turbo.json
Labels: status:ready-for-review, qa:success, test, size:XXL

#3159 chore(deps): update tanstack dependencies to v1.130.17
  bun.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/contracts/contracts/smart/extensions/yield/schedules/fixed/ISMARTFixedYieldSchedule.sol
  kit/contracts/test/smart/extensions/SMARTYieldIntegrationTest.sol
  kit/dapp/package.json
  kit/dapp/src/components/breadcrumb/router-breadcrumb.tsx
  kit/dapp/src/components/data-table/data-table-export.test.tsx
  kit/dapp/src/router.tsx
  kit/subgraph/tools/interfaceid.ts
Labels: dependencies, chore, status:ready-for-review, qa:success, size:L

#3162 feat(dapp): add permissions management UI with comprehensive test coverage
  kit/dapp/eslint.config.mjs
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/src/components/data-table/data-table-export.test.tsx
  kit/dapp/src/components/manage-dropdown/core/action-form-sheet.store.test.ts
  kit/dapp/src/components/manage-dropdown/core/action-form-sheet.store.ts
  kit/dapp/src/components/manage-dropdown/core/action-form-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/core/action-form-sheet.tsx
  kit/dapp/src/components/manage-dropdown/core/base-action-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/core/base-action-sheet.tsx
  kit/dapp/src/components/manage-dropdown/grant-role-sheet.tsx
  kit/dapp/src/components/manage-dropdown/manage-asset-dropdown.test.tsx
  kit/dapp/src/components/manage-dropdown/manage-asset-dropdown.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-roles-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-roles-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/pause-unpause-confirmation-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/pause-unpause-confirmation-sheet.tsx
  kit/dapp/src/components/tables/token-permissions.tsx
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/access/token.grant-role.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/access/token.grant-role.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/access/token.revoke-role.contract.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/access/token.revoke-role.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/access/token.revoke-role.ts
  kit/dapp/src/orpc/routes/token/routes/token.permissions.spec.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.permissions.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/permissions.tsx
  kit/dapp/src/routes/api/$.ts
  kit/dapp/src/routes/api/rpc.$.ts
Labels: feat, status:ready-for-review, qa:success, test, size:XXL

#3191 feat: dapp integration tests with coverage metrics
  .env.test
  .vscode/launch.json
  docker-compose.test.yml
  docker-compose.yml
  kit/dapp/.env.test
  kit/dapp/package.json
  kit/dapp/src/lib/auth/plugins/pincode-plugin/index.spec.ts
  kit/dapp/src/lib/auth/plugins/secret-codes-plugin/index.spec.ts
  kit/dapp/src/lib/auth/plugins/two-factor/index.spec.ts
  kit/dapp/src/orpc/server.ts
  kit/dapp/test/fixtures/auth-client.ts
  kit/dapp/test/fixtures/dapp.ts
  kit/dapp/test/fixtures/user.ts
  kit/dapp/test/setup/integration-global.ts
  kit/dapp/test/setup/integration.ts
  kit/dapp/vitest.config.ts
  package.json
  tools/test-reset.sh
  turbo.json
Labels: feat, status:ready-for-review, qa:success, test, size:L

#3190 fix: asset design formselect card
  bun.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/besu-network/charts/besu-genesis/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/src/components/form/radio-field.test.tsx
  kit/dapp/src/components/form/radio-field.tsx
  kit/dapp/src/components/manage-dropdown/sheets/blocklist-sheet.tsx
  kit/dapp/src/components/tables/token-blocklist.tsx
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/blocklist.tsx
Labels: fix, status:ready-for-review, qa:success, size:XL

#3226 chore(deps): update @daveyplate/better-auth-ui to v3.0.2
  bun.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/dapp/package.json
  kit/dapp/src/providers/auth.tsx
  kit/dapp/src/routes/auth.$pathname.tsx
Labels: dependencies, status:ready-for-review, qa:success, breaking, size:S

#3246 fix: aws-marketplace-automation script should use amd64 to docker com…
  kit/charts/tools/aws-marketplace-automation.ts
Labels: fix, status:ready-for-review, qa:success, size:M

#3275 fix: format symbol
  kit/dapp/locales/en-US/common.json
  kit/dapp/src/components/asset-designer/asset-designer-wizard/summary/bond.tsx
  kit/dapp/src/components/data-table/data-table-action-bar.test.tsx
  kit/dapp/src/components/data-table/utils/auto-column.tsx
  kit/dapp/src/components/detail-grid/detail-grid-item.tsx
  kit/dapp/src/components/form/select-field.tsx
  kit/dapp/src/components/stats/charts/asset-supply-changes-area-chart.tsx
  kit/dapp/src/components/stats/charts/asset-total-supply-area-chart.tsx
  kit/dapp/src/components/stats/charts/asset-total-volume-area-chart.tsx
  kit/dapp/src/lib/utils/format-value.tsx
  kit/dapp/src/lib/utils/format-value/format-address.tsx
  kit/dapp/src/lib/utils/format-value/format-boolean.tsx
  kit/dapp/src/lib/utils/format-value/format-currency.tsx
  kit/dapp/src/lib/utils/format-value/format-date.tsx
  kit/dapp/src/lib/utils/format-value/format-number.tsx
  kit/dapp/src/lib/utils/format-value/format-option.tsx
  kit/dapp/src/lib/utils/format-value/format-percentage.tsx
  kit/dapp/src/lib/utils/format-value/format-status.tsx
  kit/dapp/src/lib/utils/format-value/format-text.tsx
  kit/dapp/src/lib/utils/format-value/index.test.tsx
  kit/dapp/src/lib/utils/format-value/index.tsx
  kit/dapp/src/lib/utils/format-value/safe-to-number.ts
  kit/dapp/src/lib/utils/format-value/safe-to-string.ts
  kit/dapp/src/lib/utils/format-value/types.ts
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-settings.tsx
Labels: fix, status:ready-for-review, qa:success, refactor, test, size:XL

#3302 chore(config): modernize ESLint configs to use import.meta.dirname
  .gitignore
  bun.lock
  kit/dapp/eslint.config.ts
  packages/zod/eslint.config.ts
  tools/eslint-config/tsconfig.tsbuildinfo
  tools/prettier-config/package.json
Labels: chore, qa:running, status:ready-for-review, qa:success, size:M

#3290 feat(contracts): implement issuer identity management (SRT-821)
  kit/contracts/contracts/system/ATKPeopleRoles.sol
  kit/contracts/contracts/system/ATKSystemErrors.sol
  kit/contracts/contracts/system/ATKSystemImplementation.sol
  kit/contracts/contracts/system/ATKTopics.sol
  kit/contracts/contracts/system/IATKSystem.sol
  kit/contracts/contracts/system/token-factory/AbstractATKTokenFactoryImplementation.sol
  kit/contracts/scripts/hardhat/constants/roles.ts
  kit/contracts/test/system/ATKSystem.t.sol
  kit/contracts/test/system/token-factory/AbstractATKTokenFactoryImplementation.t.sol
  kit/contracts/test/utils/mocks/MockedIdentity.sol
  kit/dapp/src/lib/constants/roles.ts
  kit/dapp/src/lib/fragments/the-graph/access-control-fragment.test.ts
  kit/dapp/src/lib/fragments/the-graph/access-control-fragment.ts
  kit/dapp/src/orpc/helpers/role-validation.test.ts
  kit/dapp/src/orpc/helpers/role-validation.ts
  kit/dapp/src/orpc/routes/token/routes/token.permissions.spec.ts
  kit/dapp/turbo.json
  kit/subgraph/schema.graphql
  kit/subgraph/src/access-control/utils/role.ts
  kit/subgraph/src/system/system.ts
  kit/subgraph/subgraph.yaml
  kit/subgraph/test/identity.spec.ts
  packages/zod/src/access-control-roles.ts
  packages/zod/test/validators/access-control-roles.test.ts
Labels: feat, status:ready-for-review, qa:success, test, size:XL, lgtm

#3324 fix: aws markeplace script upload amd64 image tag
  kit/charts/atk/charts/graph-node/values.yaml
  kit/charts/atk/values.yaml
  kit/charts/tools/aws-marketplace-automation.ts
  kit/charts/tools/package-ecr.ts
Labels: fix, status:ready-for-review, qa:success, size:L

#3358 fix: compilation fixes for new sdk version
  .serena/project.yml
  bun.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/dapp/src/lib/auth/plugins/two-factor/queries.ts
  kit/dapp/src/orpc/middlewares/services/portal.middleware.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.create.spec.ts
  kit/dapp/src/orpc/routes/system/identity/routes/identity.register.spec.ts
  kit/subgraph/src/topic-scheme-registry/fetch/topic-scheme.ts
Labels: fix, status:ready-for-review, qa:success, size:L

#3337 feat: create yield schedule, yield details
  kit/dapp/locales/ar-SA/common.json
  kit/dapp/locales/ar-SA/tokens.json
  kit/dapp/locales/de-DE/common.json
  kit/dapp/locales/de-DE/tokens.json
  kit/dapp/locales/en-US/common.json
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/locales/ja-JP/common.json
  kit/dapp/locales/ja-JP/tokens.json
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-specific-details/bond.tsx
  kit/dapp/src/components/detail-grid/detail-grid-item.tsx
  kit/dapp/src/components/form/select-time-interval-field.tsx
  kit/dapp/src/components/manage-dropdown/manage-asset-dropdown.test.tsx
  kit/dapp/src/components/manage-dropdown/manage-asset-dropdown.tsx
  kit/dapp/src/components/manage-dropdown/sheets/set-yield-schedule-sheet.tsx
  kit/dapp/src/components/tables/fixed-yield-schedule-periods.tsx
  kit/dapp/src/hooks/use-app-form.ts
  kit/dapp/src/lib/utils/format-value/format-basis-points.tsx
  kit/dapp/src/lib/utils/format-value/format-currency.tsx
  kit/dapp/src/lib/utils/format-value/types.ts
  kit/dapp/src/orpc/routes/fixed-yield-schedule/routes/fixed-yield-schedule.create.schema.ts
  kit/dapp/src/orpc/routes/fixed-yield-schedule/routes/fixed-yield-schedule.create.spec.ts
  kit/dapp/src/orpc/routes/fixed-yield-schedule/routes/fixed-yield-schedule.create.ts
  kit/dapp/src/orpc/routes/fixed-yield-schedule/routes/fixed-yield-schedule.read.spec.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/yield/token.set-yield-schedule.spec.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/yield/token.set-yield-schedule.ts
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/blocklist.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/yield.tsx
  kit/dapp/test/fixtures/fixed-yield-schedule.ts
  packages/zod/src/time-interval.ts
Labels: feat, status:ready-for-review, qa:success, size:XXL

#3326 feat: token supply limit compliance module
  kit/contracts/contracts/smart/extensions/collateral/internal/_SMARTCollateralLogic.sol
  kit/contracts/contracts/smart/modules/AbstractComplianceModule.sol
  kit/contracts/contracts/smart/modules/TokenSupplyLimitComplianceModule.sol
  kit/contracts/contracts/system/ATKTopics.sol
  kit/contracts/ignition/modules/main.ts
  kit/contracts/ignition/modules/onboarding.ts
  kit/contracts/ignition/modules/onboarding/modules/token-supply-limit-module.ts
  kit/contracts/ignition/modules/predeployed/modules/token-supply-limit-module.ts
  kit/contracts/scripts/hardhat/assets/actions/compliance/add-token-supply-limit-compliance-module.ts
  kit/contracts/scripts/hardhat/assets/actions/setup-asset.ts
  kit/contracts/scripts/hardhat/constants/contracts.ts
  kit/contracts/scripts/hardhat/services/deployer.ts
  kit/contracts/scripts/hardhat/utils/claim-scheme-utils.ts
  kit/contracts/test/smart/modules/AbstractComplianceModuleTest.t.sol
  kit/contracts/test/smart/modules/AddressBlockListComplianceModule.t.sol
  kit/contracts/test/smart/modules/CountryAllowListComplianceModule.t.sol
  kit/contracts/test/smart/modules/CountryBlockListComplianceModule.t.sol
  kit/contracts/test/smart/modules/IdentityAllowListComplianceModule.t.sol
  kit/contracts/test/smart/modules/IdentityBlockListComplianceModule.t.sol
  kit/contracts/test/smart/modules/TokenSupplyLimitComplianceModule.t.sol
  kit/contracts/test/system/compliance/modules/AbstractComplianceModule.t.sol
  kit/contracts/test/system/token-factory/AbstractATKTokenFactoryImplementation.t.sol
  kit/contracts/test/utils/ClaimUtils.sol
  kit/contracts/tools/artifacts-genesis.ts
  kit/contracts/tools/codegen-types.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/compliance/fetch/compliance-module-parameters.ts
  kit/subgraph/src/compliance/modules/token-supply-limit-compliance-module.ts
  kit/subgraph/src/identity/utils/decode-claim.ts
  kit/subgraph/src/type-identifier/utils/typeids.ts
  kit/subgraph/test/compliance/compliance-modules.spec.ts
Labels: feat, qa:running, status:ready-for-review, size:XXL

#3363 feat: add investor count compliance module
  kit/contracts/contracts/smart/modules/InvestorCountComplianceModule.sol
  kit/contracts/ignition/modules/main.ts
  kit/contracts/ignition/modules/onboarding.ts
  kit/contracts/ignition/modules/onboarding/modules/investor-count-module.ts
  kit/contracts/ignition/modules/predeployed/modules/investor-count-module.ts
  kit/contracts/scripts/hardhat/constants/contracts.ts
  kit/contracts/test/smart/modules/InvestorCountComplianceModule.t.sol
  kit/contracts/test/utils/mocks/MockSMARTToken.sol
  kit/contracts/tools/artifacts-genesis.ts
  kit/contracts/tools/codegen-types.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/compliance/fetch/compliance-module-parameters.ts
  kit/subgraph/src/compliance/modules/investor-count-compliance-module.ts
  kit/subgraph/src/type-identifier/utils/typeids.ts
  kit/subgraph/test/compliance/compliance-modules.spec.ts
Labels: feat, status:ready-for-review, qa:success, test, size:XXL

#3364 fix: token balances, standardize data table formatting
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-designer-wizard.tsx
  kit/dapp/src/components/data-table/columns/selection-column.tsx
  kit/dapp/src/components/data-table/data-table-filter.test.tsx
  kit/dapp/src/components/data-table/filters/functions/auto-filter.test.ts
  kit/dapp/src/components/data-table/filters/functions/auto-filter.ts
  kit/dapp/src/components/data-table/filters/functions/filter-factory.test.ts
  kit/dapp/src/components/data-table/filters/functions/filter-factory.ts
  kit/dapp/src/components/data-table/filters/functions/flexible-filter-wrappers.test.ts
  kit/dapp/src/components/data-table/filters/functions/multi-option-filter.test.ts
  kit/dapp/src/components/data-table/filters/functions/option-filter.test.ts
  kit/dapp/src/components/data-table/filters/operators/operator-controller.test.tsx
  kit/dapp/src/components/data-table/filters/types/table-extensions.ts
  kit/dapp/src/components/data-table/filters/values/value-menu.test.tsx
  kit/dapp/src/components/data-table/utils/auto-column.test.tsx
  kit/dapp/src/components/data-table/utils/auto-column.tsx
  kit/dapp/src/components/data-table/utils/typed-column-helper.ts
  kit/dapp/src/components/kyc/kyc-form.tsx
  kit/dapp/src/components/manage-dropdown/sheets/blocklist-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/burn-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-roles-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-roles-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/mint-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/pause-unpause-confirmation-sheet.tsx
  kit/dapp/src/components/manage-dropdown/sheets/set-yield-schedule-sheet.tsx
  kit/dapp/src/components/onboarding/assets/asset-deployment.tsx
  kit/dapp/src/components/onboarding/assets/asset-type-selection.tsx
  kit/dapp/src/components/onboarding/identity-setup/identity-create.tsx
  kit/dapp/src/components/platform-settings/claim-topics/edit-topic-dialog.tsx
  kit/dapp/src/components/platform-settings/claim-topics/topic-actions-menu.tsx
  kit/dapp/src/components/platform-settings/claim-topics/topics-table.tsx
  kit/dapp/src/components/platform-settings/trusted-issuers/add-trusted-issuer-dialog.tsx
  kit/dapp/src/components/platform-settings/trusted-issuers/edit-issuer-topics-dialog.tsx
  kit/dapp/src/components/platform-settings/trusted-issuers/trusted-issuer-actions-menu.tsx
  kit/dapp/src/components/platform-settings/trusted-issuers/trusted-issuers-table.tsx
  kit/dapp/src/components/system-addons/onboarding/system-addons-deployment.tsx
  kit/dapp/src/components/system-addons/onboarding/system-addons-selection.tsx
  kit/dapp/src/components/tables/fixed-yield-schedule-periods.tsx
  kit/dapp/src/components/tables/token-blocklist.tsx
  kit/dapp/src/components/tables/token-events.tsx
  kit/dapp/src/components/tables/token-holders.tsx
  kit/dapp/src/components/tables/token-permissions.tsx
  kit/dapp/src/components/tables/tokens.tsx
  kit/dapp/src/hooks/use-settings.ts
  kit/dapp/src/lib/utils/format-value/format-currency.tsx
  kit/dapp/src/lib/utils/format-value/format-number.tsx
  kit/dapp/src/lib/utils/format-value/format-percentage.tsx
  kit/dapp/src/lib/utils/format-value/index.test.tsx
  kit/dapp/src/lib/utils/format-value/index.tsx
  kit/dapp/src/lib/utils/format-value/types.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/mint/token.mint.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-settings.tsx
  kit/dapp/src/test/anvil.ts
  kit/dapp/test/fixtures/system-bootstrap.ts
Labels: fix, status:ready-for-review, qa:success, size:XL, lgtm

#3309 feat: stablecoin update collateral action form
  kit/charts/atk/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/support/README.md
  kit/contracts/contracts/smart/README.md
  kit/contracts/contracts/smart/modules/TimeLockComplianceModule.sol
  kit/contracts/contracts/smart/modules/TokenSupplyLimitComplianceModule.sol
  kit/contracts/contracts/smart/modules/TransferApprovalComplianceModule.sol
  kit/contracts/ignition/modules/onboarding/modules/time-lock-module.ts
  kit/contracts/ignition/modules/onboarding/modules/transfer-approval-module.ts
  kit/contracts/ignition/modules/predeployed/modules/time-lock-module.ts
  kit/contracts/ignition/modules/predeployed/modules/transfer-approval-module.ts
  kit/contracts/test/smart/modules/InvestorCountComplianceModule.t.sol
  kit/contracts/test/smart/modules/TimeLockComplianceModule.t.sol
  kit/contracts/test/smart/modules/TransferApprovalComplianceModule.t.sol
  kit/contracts/test/utils/ClaimUtils.sol
  kit/contracts/tools/artifacts-genesis.ts
  kit/dapp/locales/en-US/tokens.json
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-designer-dialog.tsx
  kit/dapp/src/components/layout/fullscreen-dialog-layout.tsx
  kit/dapp/src/components/manage-dropdown/components/current-status-card.tsx
  kit/dapp/src/components/manage-dropdown/core/action-form-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/manage-asset-dropdown.tsx
  kit/dapp/src/components/manage-dropdown/sheets/change-roles-sheet.test.tsx
  kit/dapp/src/components/manage-dropdown/sheets/collateral-sheet.tsx
  kit/dapp/src/hooks/use-collateral-values.ts
  kit/dapp/src/orpc/middlewares/services/portal.middleware.test.ts
  kit/dapp/src/orpc/middlewares/services/portal.middleware.ts
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/collateral/token.update-collateral-simple.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/collateral/token.update-collateral.contract.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/collateral/token.update-collateral.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/collateral/token.update-collateral.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/token.create.spec.ts
  kit/dapp/src/orpc/routes/token/routes/stats/collateral-ratio.ts
  kit/dapp/src/orpc/routes/token/routes/token.list.ts
  kit/dapp/src/orpc/routes/token/routes/token.permissions.spec.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.search.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.permissions.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/orpc/standalone/collateral.ts
  kit/dapp/src/types/bond-status.test.ts
  kit/subgraph/src/compliance/fetch/compliance-module-parameters.ts
  kit/subgraph/src/compliance/modules/identity-verification-compliance-module.ts
  kit/subgraph/src/compliance/modules/investor-count-compliance-module.ts
  kit/subgraph/src/compliance/modules/time-lock-compliance-module.ts
  kit/subgraph/src/compliance/modules/transfer-approval-compliance-module.ts
  kit/subgraph/src/compliance/shared/expression-nodes.ts
Labels: feat, status:ready-for-review, qa:success, size:XXL

#3392 feat: add extra topics
  kit/contracts/contracts/system/ATKTopics.sol
  kit/contracts/scripts/hardhat/constants/topics.ts
  kit/contracts/test/system/topic-scheme-registry/ATKTopicSchemeRegistry.t.sol
  kit/dapp/locales/en-US/components.json
  kit/dapp/src/components/platform-settings/claim-topics/topics-table.tsx
  kit/subgraph/test/accounts.spec.ts
  kit/subgraph/test/compliance/token-compliance-modules.spec.ts
  kit/subgraph/test/system-registries/topic-scheme-registry.spec.ts
  packages/zod/src/compliance.test.ts
  packages/zod/src/topics.test.ts
  packages/zod/src/topics.ts
Labels: feat, status:ready-for-review, qa:success, size:L

#3365 fix: use denomination asset for yield calculations and indexing
  kit/contracts/contracts/smart/extensions/yield/schedules/fixed/internal/SMARTFixedYieldScheduleLogic.sol
  kit/contracts/scripts/hardhat/assets/bond.ts
  kit/contracts/scripts/hardhat/utils/decode-revert-reason.ts
  kit/contracts/scripts/hardhat/utils/wait-for-success.ts
  kit/contracts/test/addons/yield/ATKFixedYieldSchedule.t.sol
  kit/contracts/test/smart/SMARTYieldStandardTest.t.sol
  kit/contracts/test/smart/extensions/SMARTYieldBaseTest.sol
  kit/contracts/test/smart/extensions/SMARTYieldIntegrationTest.sol
  kit/contracts/test/utils/SMARTYieldHelpers.sol
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/bond.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/deposit.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/equity.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/fund.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/stablecoin.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/handler-map.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/token.create.spec.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/token.create.ts
  kit/subgraph/src/token-assets/bond-factory/bond-factory.ts
  kit/subgraph/src/token-assets/bond/fetch/bond.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/fixed-yield-schedule.ts
  kit/subgraph/src/token-extensions/fixed-yield-schedule/utils/fixed-yield-schedule-utils.ts
  kit/subgraph/test/assets/bond.spec.ts
  kit/subgraph/test/extensions/capped.spec.ts
  kit/subgraph/test/extensions/fixed-yield.spec.ts
  kit/subgraph/test/extensions/redeemable.spec.ts
  kit/subgraph/test/stats/token-stats.spec.ts
  kit/subgraph/test/token.spec.ts
Labels: fix, status:ready-for-review, qa:success, test, size:XL, lgtm
