Repository settlemint/asset-tokenization-kit, pull requests merged in 2025-07, with the labels that each got.

#2650 feat: indexing of token stats
  kit/contracts/scripts/hardhat/utils/wait-for-success.ts
  kit/dapp/the-graph-cache-kit.d.ts
  kit/dapp/the-graph-env-kit.d.ts
  kit/dapp/the-graph-schema-kit.graphql
  kit/subgraph/schema.graphql
  kit/subgraph/src/stats/token-stats.ts
  kit/subgraph/src/token-balance/fetch/token-balance.ts
  kit/subgraph/src/token-balance/utils/token-balance-utils.ts
  kit/subgraph/src/token-extensions/burnable/burnable.ts
  kit/subgraph/src/token-extensions/custodian/custodian.ts
  kit/subgraph/src/token/token.ts
  kit/subgraph/test/system-addons/xvp-settlement.spec.ts
  kit/subgraph/test/token-balance.spec.ts
  kit/subgraph/test/token-stats.spec.ts
Labels: feat, qa:success, status:mergeable

#2652 fix: improve user session typings
  kit/dapp/src/components/onboarding/onboarding-guard.tsx
  kit/dapp/src/lib/auth/index.ts
  kit/dapp/src/orpc/middlewares/auth/session.middleware.ts
Labels: fix, qa:success, status:mergeable

#2642 feat: create deposit form
  .vscode/launch.json
  kit/dapp/eslint.config.mjs
  kit/dapp/locales/ar/asset-designer.json
  kit/dapp/locales/ar/form.json
  kit/dapp/locales/de/asset-designer.json
  kit/dapp/locales/de/form.json
  kit/dapp/locales/en/asset-designer.json
  kit/dapp/locales/en/form.json
  kit/dapp/locales/en/onboarding.json
  kit/dapp/locales/ja/asset-designer.json
  kit/dapp/locales/ja/form.json
  kit/dapp/portal-cache.d.ts
  kit/dapp/src/components/asset-designer/deposit/form.tsx
  kit/dapp/src/components/form/inputs/form-input.tsx
  kit/dapp/src/components/form/inputs/types.ts
  kit/dapp/src/components/onboarding/steps/wallet-step.tsx
  kit/dapp/src/components/ui/alert.tsx
  kit/dapp/src/lib/auth/auth.client.ts
  kit/dapp/src/lib/auth/index.ts
  kit/dapp/src/lib/auth/plugins/utils.ts
  kit/dapp/src/lib/auth/plugins/wallet-plugin/client.ts
  kit/dapp/src/lib/auth/plugins/wallet-plugin/index.ts
  kit/dapp/src/lib/auth/wallet.ts
  kit/dapp/src/lib/i18n/index.ts
  kit/dapp/src/lib/i18n/types.ts
  kit/dapp/src/lib/zod/validators/asset-types.ts
  kit/dapp/src/orpc/helpers/challenge-response.ts
  kit/dapp/src/orpc/middlewares/auth/token-factory-permission.middleware.ts
  kit/dapp/src/orpc/middlewares/system/system.middleware.ts
  kit/dapp/src/orpc/middlewares/system/token-factory.middleware.ts
  kit/dapp/src/orpc/middlewares/system/user-claims.middleware.ts
  kit/dapp/src/orpc/routes/account/routes/account.me.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/dapp/src/orpc/routes/token/routes/bond/bond.create.ts
  kit/dapp/src/orpc/routes/token/routes/deposit/deposit.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/deposit/deposit.create.ts
  kit/dapp/src/orpc/routes/token/routes/factory.create.ts
  kit/dapp/src/orpc/routes/token/routes/token.mint.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.ts
  kit/dapp/src/routes/_private/_onboarded/index.tsx
  kit/dapp/src/routes/_private/onboarding/investor.tsx
  kit/dapp/src/routes/_private/onboarding/issuer.tsx
  kit/dapp/src/routes/_private/onboarding/platform.tsx
  kit/dapp/test/utils/auth-client.ts
  kit/dapp/test/utils/user.ts
  kit/dapp/the-graph-cache-kit.d.ts
  kit/dapp/tsconfig.json
Labels: feat, qa:success, status:mergeable

#2678 feat(data-table): add subtle animations for improved UX
  kit/dapp/src/components/data-table/data-table-column-header.tsx
  kit/dapp/src/components/data-table/data-table-empty-state.tsx
  kit/dapp/src/components/data-table/data-table-pagination.tsx
  kit/dapp/src/components/data-table/data-table-skeleton.tsx
  kit/dapp/src/components/data-table/data-table-toolbar.tsx
  kit/dapp/src/components/data-table/data-table.tsx
Labels: feat, status:ready-for-review, qa:success

#2703 fix(orpc): transform totalSupply from string to Dnum and improve numeric displays
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/dapp/locales/ar/general.json
  kit/dapp/locales/de/general.json
  kit/dapp/locales/en/general.json
  kit/dapp/locales/ja/general.json
  kit/dapp/src/components/copy-to-clipboard/copy-to-clipboard.tsx
  kit/dapp/src/components/data-table/cells/address-cell.tsx
  kit/dapp/src/components/data-table/cells/auto-cell.test.tsx
  kit/dapp/src/components/data-table/cells/auto-cell.tsx
  kit/dapp/src/components/tables/tokens.tsx
  kit/dapp/src/components/user-dropdown/user-dropdown.tsx
  kit/dapp/src/components/web3-avatar/web3-avatar.tsx
  kit/dapp/src/components/web3/web3-address.tsx
  kit/dapp/src/components/web3/web3-avatar.tsx
  kit/dapp/src/lib/utils/asset-pluralization.ts
  kit/dapp/src/lib/zod/validators/amount.test.ts
  kit/dapp/src/lib/zod/validators/amount.ts
  kit/dapp/src/lib/zod/validators/bigdecimal.test.ts
  kit/dapp/src/lib/zod/validators/bigdecimal.ts
  kit/dapp/src/lib/zod/validators/bigint.ts
  kit/dapp/src/lib/zod/validators/decimals.test.ts
  kit/dapp/src/lib/zod/validators/decimals.ts
  kit/dapp/src/lib/zod/validators/price.test.ts
  kit/dapp/src/lib/zod/validators/price.ts
  kit/dapp/src/lib/zod/validators/timestamp.ts
  kit/dapp/src/orpc/middlewares/services/the-graph.middleware.ts
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/account/routes/account.read.ts
  kit/dapp/src/orpc/routes/metrics/routes/metrics.summary.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/dapp/src/orpc/routes/system/routes/system.list.ts
  kit/dapp/src/orpc/routes/system/routes/system.read.ts
  kit/dapp/src/orpc/routes/token/routes/factory.list.ts
  kit/dapp/src/orpc/routes/token/routes/factory.read.ts
  kit/dapp/src/orpc/routes/token/routes/token.list.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.list.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.ts
  kit/dapp/src/routes/_private/_onboarded/token/$factoryAddress/index.tsx
  kit/dapp/src/routes/api/$.ts
  kit/dapp/src/routes/api/rpc.$.ts
Labels: fix, status:ready-for-review, qa:success, test, size:XXL

#2707 refactor(types): enhance type safety for factory schemas and GraphQL middleware
  kit/dapp/src/orpc/middlewares/services/the-graph.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/factory.list.schema.ts
  kit/dapp/src/orpc/routes/token/routes/factory.read.schema.ts
Labels: status:ready-for-review, qa:success, refactor, size:XS

#2708 feat(components): add InfoBox and RelatedBox components for list pages
  CLAUDE.local.md
  kit/dapp/languine.lock
  kit/dapp/locales/ar/asset-designer.json
  kit/dapp/locales/ar/assets.json
  kit/dapp/locales/ar/form.json
  kit/dapp/locales/ar/general.json
  kit/dapp/locales/ar/onboarding.json
  kit/dapp/locales/ar/tokens.json
  kit/dapp/locales/de/asset-designer.json
  kit/dapp/locales/de/assets.json
  kit/dapp/locales/de/form.json
  kit/dapp/locales/de/general.json
  kit/dapp/locales/de/onboarding.json
  kit/dapp/locales/de/tokens.json
  kit/dapp/locales/en/general.json
  kit/dapp/locales/en/tokens.json
  kit/dapp/locales/ja/asset-designer.json
  kit/dapp/locales/ja/form.json
  kit/dapp/locales/ja/general.json
  kit/dapp/locales/ja/onboarding.json
  kit/dapp/locales/ja/tokens.json
  kit/dapp/src/components/breadcrumb/router-breadcrumb.tsx
  kit/dapp/src/components/logo/logo.tsx
  kit/dapp/src/components/related/related-grid-item.tsx
  kit/dapp/src/components/related/related-grid.tsx
  kit/dapp/src/components/related/token-factory-related.tsx
  kit/dapp/src/components/sidebar/app-sidebar.tsx
  kit/dapp/src/components/sidebar/nav-asset.tsx
  kit/dapp/src/components/sidebar/nav-main.tsx
  kit/dapp/src/components/sidebar/nav-projects.tsx
  kit/dapp/src/components/tables/tokens.tsx
  kit/dapp/src/components/top-info/top-info.tsx
  kit/dapp/src/lib/zod/validators/asset-types.ts
  kit/dapp/src/orpc/middlewares/services/portal.middleware.ts
  kit/dapp/src/orpc/middlewares/services/the-graph.middleware.ts
  kit/dapp/src/orpc/routes/common/schemas/list.schema.ts
  kit/dapp/src/orpc/routes/token/routes/bond/bond.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/bond/bond.create.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/orpc/routes/user/routes/user.list.ts
  kit/dapp/src/routes/_private/_onboarded/token/$factoryAddress/index.tsx
  kit/dapp/src/routes/_private/_onboarded/token/stats.tsx
  kit/dapp/tsconfig.json
Labels: feat, status:ready-for-review, qa:success, size:XXL

#2716 refactor: cleaner use of the context
  kit/dapp/src/routes/_private/_onboarded.tsx
  kit/dapp/src/routes/_private/_onboarded/index.tsx
  kit/dapp/src/routes/_private/_onboarded/token/$factoryAddress/$tokenAddress.tsx
  kit/dapp/src/routes/_private/_onboarded/token/$factoryAddress/index.tsx
  kit/dapp/src/routes/_private/_onboarded/token/stats.tsx
  kit/dapp/src/routes/_private/onboarding/index.tsx
  kit/dapp/src/routes/_private/onboarding/investor.tsx
  kit/dapp/src/routes/_private/onboarding/issuer.tsx
  kit/dapp/src/routes/_private/onboarding/platform.tsx
Labels: status:ready-for-review, qa:success, refactor, size:L

#2717 fix: user claims not found in token details
  kit/dapp/src/orpc/routes/token/routes/token.read.ts
Labels: fix, qa:success, status:mergeable, size:S, lgtm

#2719 fix: besu deprecate ws flags
  kit/charts/atk/charts/besu-network/charts/besu-node/values.yaml
Labels: fix, qa:success, status:mergeable, size:XS, lgtm

#2722 fix: erpc add initContainer
  kit/charts/atk/charts/erpc/templates/deployment.yaml
  kit/charts/atk/charts/erpc/values.yaml
Labels: fix, qa:success, status:mergeable, size:M, lgtm

#2720 feat: implement exchange rates functionality with ORPC routes
  CLAUDE.md
  bun.lock
  kit/charts/atk/charts/support/README.md
  kit/dapp/drizzle/0000_perpetual_joseph.sql
  kit/dapp/drizzle/meta/0000_snapshot.json
  kit/dapp/drizzle/meta/_journal.json
  kit/dapp/src/lib/db/schema.ts
  kit/dapp/src/lib/db/schemas/exchange-rates.ts
  kit/dapp/src/lib/zod/validators/fiat-currency.test.ts
  kit/dapp/src/lib/zod/validators/fiat-currency.ts
  kit/dapp/src/orpc/routes/contract.ts
  kit/dapp/src/orpc/routes/exchange-rates/exchange-rates.contract.ts
  kit/dapp/src/orpc/routes/exchange-rates/exchange-rates.router.ts
  kit/dapp/src/orpc/routes/exchange-rates/exchange-rates.test.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.delete.schema.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.delete.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.history.schema.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.history.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.list.schema.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.list.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.read.schema.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.read.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.sync.schema.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.sync.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.update.schema.ts
  kit/dapp/src/orpc/routes/exchange-rates/routes/exchange-rates.update.ts
  kit/dapp/src/orpc/routes/exchange-rates/schemas.ts
  kit/dapp/src/orpc/routes/router.ts
  package.json
Labels: feat, status:ready-for-review, qa:success, size:XXL

#2732 fix: less aggressive timeouts on waitForSuccess
  kit/contracts/scripts/hardhat/utils/wait-for-success.ts
Labels: fix, status:ready-for-review, qa:success, refactor, size:XL

#2733 feat(charts): enhance dashboard charts with currency support and improved UX
  kit/dapp/locales/en/issuer-dashboard.json
  kit/dapp/src/components/charts/area-chart.tsx
  kit/dapp/src/components/charts/bar-chart.tsx
  kit/dapp/src/components/charts/pie-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/asset-activity-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/asset-supply-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/chart-skeleton.tsx
  kit/dapp/src/components/issuer-dashboard/charts/transaction-history-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/user-growth-chart.tsx
  kit/dapp/src/components/issuer-dashboard/dashboard.tsx
  kit/dapp/src/components/issuer-dashboard/widgets/asset-stats-widget.tsx
  kit/dapp/src/components/issuer-dashboard/widgets/transaction-stats-widget.tsx
  kit/dapp/src/components/issuer-dashboard/widgets/user-stats-widget.tsx
  kit/dapp/src/components/issuer-dashboard/widgets/value-stats-widget.tsx
  kit/dapp/src/lib/db/schemas/exchange-rates.ts
  kit/dapp/src/orpc/routes/contract.ts
  kit/dapp/src/orpc/routes/exchange-rates/exchange-rates.test.ts
  kit/dapp/src/orpc/routes/metrics/metrics.contract.ts
  kit/dapp/src/orpc/routes/metrics/metrics.router.ts
  kit/dapp/src/orpc/routes/metrics/routes/metrics.summary.schema.ts
  kit/dapp/src/orpc/routes/metrics/routes/metrics.summary.ts
  kit/dapp/src/orpc/routes/router.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.assets.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.assets.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.transactions.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.transactions.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.value.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.value.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/orpc/routes/user/routes/user.stats.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.stats.ts
  kit/dapp/src/orpc/routes/user/user.contract.ts
  kit/dapp/src/orpc/routes/user/user.router.ts
  kit/dapp/tsconfig.json
Labels: feat, docs, qa:success, status:mergeable, size:XXL, lgtm

#2737 docs: update CLAUDE.md and command documentation for improved guidelines
  .claude/commands/code-review.md
  .claude/commands/quality-assurance.md
  CLAUDE.md
Labels: qa:running, size:XL

#2734 feat: add asset designer route
  .vscode/settings.json
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/components/layout/dialog.tsx
  kit/dapp/src/components/sidebar/sidebar-logo.tsx
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/routes/_private/_onboarded.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/index.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/index.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/stats.tsx
  kit/dapp/src/routes/_private/_onboarded/asset-designer/index.tsx
Labels: feat, qa:success, status:mergeable, build, size:L, lgtm

#2747 feat(dapp): enhance data tables with empty states and token holder functionality
  .claude/settings.json
  kit/dapp/locales/ar/tokens.json
  kit/dapp/locales/de/tokens.json
  kit/dapp/locales/en/data-table.json
  kit/dapp/locales/en/tokens.json
  kit/dapp/locales/ja/tokens.json
  kit/dapp/src/components/data-table/cells/actions-cell.tsx
  kit/dapp/src/components/data-table/data-table-error-boundary.test.tsx
  kit/dapp/src/components/data-table/data-table-error-boundary.tsx
  kit/dapp/src/components/data-table/data-table.tsx
  kit/dapp/src/components/data-table/filters/values/option-item.tsx
  kit/dapp/src/components/detail-grid/detail-grid-error-boundary.tsx
  kit/dapp/src/components/detail-grid/detail-grid.tsx
  kit/dapp/src/components/detail-grid/index.ts
  kit/dapp/src/components/issuer-dashboard/charts/asset-activity-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/asset-supply-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/transaction-history-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/user-growth-chart.tsx
  kit/dapp/src/components/multistep-form/index.tsx
  kit/dapp/src/components/multistep-form/multistep-wizard.tsx
  kit/dapp/src/components/multistep-form/wizard-error-boundary.tsx
  kit/dapp/src/components/tab-navigation/tab-item.tsx
  kit/dapp/src/components/tab-navigation/tab-navigation.tsx
  kit/dapp/src/components/tables/token-holders.tsx
  kit/dapp/src/components/tables/tokens.tsx
  kit/dapp/src/orpc/routes/token/routes/token.holders.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.holders.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/holders.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/index.tsx
Labels: feat, status:ready-for-review, qa:success, breaking, size:XXL

#2677 fix: onboarded check for user
  kit/dapp/src/lib/auth/plugins/utils.ts
  kit/dapp/test/auth/secret-codes.spec.ts
  kit/dapp/test/utils/user.ts
Labels: fix, status:ready-for-review, qa:success, size:S

#2756 refactor: consolidate value formatting and enhance UI components
  CLAUDE.md
  bun.lock
  kit/dapp/eslint.config.mjs
  kit/dapp/languine.lock
  kit/dapp/locales/ar/data-table.json
  kit/dapp/locales/ar/tokens.json
  kit/dapp/locales/de/data-table.json
  kit/dapp/locales/de/tokens.json
  kit/dapp/locales/en/tokens.json
  kit/dapp/locales/ja/data-table.json
  kit/dapp/locales/ja/tokens.json
  kit/dapp/src/components/breadcrumb/router-breadcrumb.tsx
  kit/dapp/src/components/data-table/cells/auto-cell.test.tsx
  kit/dapp/src/components/data-table/filters/date-utils.ts
  kit/dapp/src/components/data-table/filters/types/table-extensions.ts
  kit/dapp/src/components/data-table/filters/values/value-controller.tsx
  kit/dapp/src/components/data-table/utils/auto-column.tsx
  kit/dapp/src/components/detail-grid/detail-grid-item.tsx
  kit/dapp/src/components/issuer-dashboard/charts/asset-activity-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/asset-supply-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/transaction-history-chart.tsx
  kit/dapp/src/components/issuer-dashboard/charts/user-growth-chart.tsx
  kit/dapp/src/components/issuer-dashboard/widgets/asset-stats-widget.tsx
  kit/dapp/src/components/multistep-form/multistep-wizard.tsx
  kit/dapp/src/components/multistep-form/wizard-field.tsx
  kit/dapp/src/components/onboarding/steps/index.ts
  kit/dapp/src/components/sidebar/nav-asset.tsx
  kit/dapp/src/lib/db/schemas/exchange-rates.ts
  kit/dapp/src/lib/utils/date.ts
  kit/dapp/src/lib/utils/format-value.tsx
  kit/dapp/src/lib/zod/validators/fiat-currency.ts
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/factory.create.ts
  kit/dapp/src/orpc/routes/token/routes/token.list.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.assets.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.transactions.ts
  kit/dapp/src/orpc/routes/token/routes/token.stats.value.ts
  kit/dapp/src/orpc/routes/user/routes/user.stats.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
  kit/dapp/src/routes/_private/onboarding/platform-new.tsx
Labels: status:ready-for-review, qa:success, refactor, size:XL

#2767 feat(token): add pause/unpause functionality and route reorganization
  kit/dapp/locales/en/common.json
  kit/dapp/locales/en/tokens.json
  kit/dapp/src/components/asset-designer/deposit/form.tsx
  kit/dapp/src/components/manage-dropdown/token.tsx
  kit/dapp/src/components/onboarding/steps/asset-selection-step.tsx
  kit/dapp/src/orpc/helpers/token/handler-map.ts
  kit/dapp/src/orpc/routes/common/schemas/mutation.schema.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/factory/factory.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/factory/factory.create.ts
  kit/dapp/src/orpc/routes/token/routes/factory/factory.list.schema.ts
  kit/dapp/src/orpc/routes/token/routes/factory/factory.list.ts
  kit/dapp/src/orpc/routes/token/routes/factory/factory.read.schema.ts
  kit/dapp/src/orpc/routes/token/routes/factory/factory.read.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/bond.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/bond.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/deposit.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/deposit.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/equity.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/equity.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/fund.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/fund.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/stablecoin.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/stablecoin.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/handler-map.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/token.base-create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/token.base-create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/token.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/token.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/pause/token.pause.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/pause/token.pause.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/pause/token.unpause.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/pause/token.unpause.ts
  kit/dapp/src/orpc/routes/token/routes/token.mint.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.mint.ts
  kit/dapp/src/orpc/routes/token/token.contract.ts
  kit/dapp/src/orpc/routes/token/token.router.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress.tsx
  kit/dapp/tsconfig.json
Labels: feat, status:ready-for-review, qa:success, breaking, size:XL

#2768 feat(token): add extended token information and percentage formatting
  kit/dapp/languine.lock
  kit/dapp/locales/ar/common.json
  kit/dapp/locales/ar/tokens.json
  kit/dapp/locales/de/common.json
  kit/dapp/locales/de/tokens.json
  kit/dapp/locales/en/tokens.json
  kit/dapp/locales/ja/common.json
  kit/dapp/locales/ja/tokens.json
  kit/dapp/src/lib/utils/format-value.tsx
  kit/dapp/src/orpc/middlewares/system/token.middleware.ts
  kit/dapp/src/orpc/routes/token/routes/token.list.schema.ts
  kit/dapp/src/orpc/routes/token/routes/token.read.schema.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/token/$factoryAddress/$tokenAddress/index.tsx
Labels: feat, status:ready-for-review, qa:success, size:L

#2769 feat: add CLAUDE.md for helm chart
  kit/charts/CLAUDE.md
Labels: feat, docs, qa:success, status:mergeable, size:L, lgtm

#2771 chore(dapp): fix TypeScript unnecessary optional chain warnings
  .claude/CLAUDE.md
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/hooks/use-onboarding-steps.tsx
  kit/dapp/src/routes/_private/onboarding/platform-new.tsx
  kit/dapp/vite.config.ts
Labels: chore, status:ready-for-review, qa:success, style, size:M

#2772 fix: add proxy-busy-buffers-size for ingress-nginx
  kit/charts/atk/charts/support/values.yaml
Labels: fix, status:ready-for-review, qa:success, size:XS

#2773 feat: radio cards + wizard group for select asset type
  kit/dapp/src/components/asset-designer/asset-designer-wizard.tsx
  kit/dapp/src/components/breadcrumb/metadata.ts
  kit/dapp/src/components/multistep-form/types.ts
  kit/dapp/src/components/multistep-form/wizard-field.tsx
  kit/dapp/src/components/multistep-form/wizard-group.tsx
  kit/dapp/src/components/multistep-form/wizard-step.tsx
  kit/dapp/src/components/sidebar/nav-asset.tsx
  kit/dapp/src/lib/zod/validators/asset-types.ts
  kit/dapp/tsconfig.json
Labels: feat, status:ready-for-review, qa:success, size:L

#2776 chore: Add claude GitHub actions 1752178380702
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  bun.lock
  docker-compose.yml
  kit/charts/atk/charts/support/README.md
Labels: chore, ci, qa:running, status:ready-for-review, size:L

#2774 fix: onboarding wizard improvements
  kit/contracts/genesis/genesis.json
  kit/dapp/src/components/multistep-form/wizard-sidebar.tsx
  kit/dapp/src/components/onboarding/onboarding-guard.tsx
  kit/dapp/src/components/onboarding/steps/asset-type-selection/asset-selection-component.tsx
  kit/dapp/src/components/onboarding/steps/asset-type-selection/asset-type-checkbox.tsx
  kit/dapp/src/components/onboarding/steps/platform-settings-step.tsx
  kit/dapp/src/components/onboarding/steps/recovery-codes-step.tsx
  kit/dapp/src/components/onboarding/steps/security/horizontal-stepper.tsx
  kit/dapp/src/components/onboarding/steps/security/otp-setup-component.tsx
  kit/dapp/src/components/onboarding/steps/security/pin-setup-component.tsx
  kit/dapp/src/components/onboarding/steps/security/security-method-selector.tsx
  kit/dapp/src/components/onboarding/steps/security/security-success.tsx
  kit/dapp/src/components/onboarding/steps/security/wallet-security-main.tsx
  kit/dapp/src/components/onboarding/steps/system-bootstrap-step.tsx
  kit/dapp/src/components/onboarding/steps/system/deployment-details.tsx
  kit/dapp/src/components/onboarding/steps/system/deployment-progress.tsx
  kit/dapp/src/components/onboarding/steps/system/system-bootstrap-main.tsx
  kit/dapp/src/components/onboarding/steps/wallet-security-step.tsx
  kit/dapp/src/components/web3/web3-avatar.tsx
  kit/dapp/src/hooks/use-onboarding-steps.tsx
  kit/dapp/src/lib/utils/asset-pluralization.ts
  kit/dapp/src/orpc/routes/token/routes/factory/factory.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/factory/factory.create.ts
  kit/dapp/src/routes/_private/onboarding/platform-new.tsx
  kit/subgraph/test/stats/token-stats.spec.ts
Labels: fix, status:draft, qa:success, size:XXL

#2746 feat: db migrations as part of the dapp
  .github/workflows/qa.yml
  README.md
  bun.lock
  docker-compose.yml
  kit/charts/atk/charts/dapp/templates/job-migrate-hasura-db.yaml
  kit/dapp/Dockerfile
  kit/dapp/package.json
  kit/dapp/src/lib/db/index.ts
  kit/dapp/test/scripts/setup.ts
  kit/dapp/tools/export-database.ts
  kit/dapp/tools/tsconfig.json
  kit/dapp/turbo.json
  package.json
Labels: feat, ci, qa:success, status:mergeable, size:L, lgtm

#2789 fix(auth): validate user presence in auth context
  kit/dapp/src/orpc/middlewares/auth/auth.middleware.ts
Labels: fix, status:ready-for-review, qa:success, size:XS

#2790 feat: datetime wizard field
  kit/dapp/locales/en/asset-designer.json
  kit/dapp/src/components/asset-designer/asset-designer-wizard.tsx
  kit/dapp/src/components/multistep-form/types.ts
  kit/dapp/src/components/multistep-form/wizard-field.tsx
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/bond.create.schema.ts
Labels: feat, status:ready-for-review, qa:success, size:L

#2795 fix(dapp): prevent password managers from triggering on pincode input
  kit/dapp/src/components/onboarding/pincode-input.tsx
Labels: fix, status:ready-for-review, qa:success, size:XS

#2801 fix: query client needs to be created per request
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/components/onboarding/steps/asset-selection-step.tsx
  kit/dapp/src/components/onboarding/steps/security/otp-setup-component.tsx
  kit/dapp/src/components/onboarding/steps/security/pin-setup-component.tsx
  kit/dapp/src/components/onboarding/steps/system-step.tsx
  kit/dapp/src/components/onboarding/steps/system/system-bootstrap-main.tsx
  kit/dapp/src/hooks/use-settings.ts
  kit/dapp/src/lib/query.client.ts
  kit/dapp/src/providers/auth.tsx
  kit/dapp/src/router.tsx
  kit/dapp/tsconfig.json
Labels: fix, status:ready-for-review, qa:success, size:XL

#2802 fix: critical KYC implementation issues - async encryption, indexes, and data integrity
  kit/dapp/drizzle/0001_melted_maverick.sql
  kit/dapp/drizzle/0002_known_valeria_richards.sql
  kit/dapp/drizzle/0003_good_the_executioner.sql
  kit/dapp/drizzle/0004_vengeful_carlie_cooper.sql
  kit/dapp/drizzle/meta/0001_snapshot.json
  kit/dapp/drizzle/meta/0002_snapshot.json
  kit/dapp/drizzle/meta/0003_snapshot.json
  kit/dapp/drizzle/meta/0004_snapshot.json
  kit/dapp/drizzle/meta/_journal.json
  kit/dapp/src/components/user-dropdown/user-dropdown.tsx
  kit/dapp/src/lib/db/schema.ts
  kit/dapp/src/lib/db/schemas/kyc.ts
  kit/dapp/src/orpc/routes/user/kyc/kyc.contract.ts
  kit/dapp/src/orpc/routes/user/kyc/kyc.router.ts
  kit/dapp/src/orpc/routes/user/kyc/kyc.schema.ts
  kit/dapp/src/orpc/routes/user/kyc/kyc.utils.ts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.delete.ts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.list.ts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.read.ts
  kit/dapp/src/orpc/routes/user/kyc/routes/kyc.upsert.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.ts
  kit/dapp/src/orpc/routes/user/user.contract.ts
  kit/dapp/src/orpc/routes/user/user.router.ts
  kit/dapp/tsconfig.json
Labels: fix, status:ready-for-review, qa:success, perf, size:XXL

#2811 fox: change erpc initContainer timeout
  kit/charts/atk/charts/erpc/values.yaml
Labels: chore, status:ready-for-review, qa:success, size:XS

#2822 fix(dapp): update import paths in onboarding components
  kit/dapp/src/components/form/inputs/pincode-input.tsx
  kit/dapp/src/components/onboarding/old/steps/add-personal-information-step.tsx
  kit/dapp/src/components/onboarding/old/steps/asset-selection-step.tsx
  kit/dapp/src/components/onboarding/old/steps/asset-type-selection/asset-selection-component.tsx
  kit/dapp/src/components/onboarding/old/steps/asset-type-selection/asset-type-checkbox.tsx
  kit/dapp/src/components/onboarding/old/steps/create-onchainid-step.tsx
  kit/dapp/src/components/onboarding/old/steps/finish-step.tsx
  kit/dapp/src/components/onboarding/old/steps/otp-setup-screen.tsx
  kit/dapp/src/components/onboarding/old/steps/pin-setup-screen.tsx
  kit/dapp/src/components/onboarding/old/steps/platform-addons-step.tsx
  kit/dapp/src/components/onboarding/old/steps/platform-settings-step.tsx
  kit/dapp/src/components/onboarding/old/steps/recovery-codes-step.tsx
  kit/dapp/src/components/onboarding/old/steps/security-method-selector.tsx
  kit/dapp/src/components/onboarding/old/steps/security/horizontal-stepper.tsx
  kit/dapp/src/components/onboarding/old/steps/security/otp-setup-component.tsx
  kit/dapp/src/components/onboarding/old/steps/security/pin-setup-component.tsx
  kit/dapp/src/components/onboarding/old/steps/security/security-method-selector.tsx
  kit/dapp/src/components/onboarding/old/steps/security/security-success.tsx
  kit/dapp/src/components/onboarding/old/steps/security/wallet-security-main.tsx
  kit/dapp/src/components/onboarding/old/steps/system-bootstrap-step.tsx
  kit/dapp/src/components/onboarding/old/steps/system-step.tsx
  kit/dapp/src/components/onboarding/old/steps/system/deployment-details.tsx
  kit/dapp/src/components/onboarding/old/steps/system/deployment-progress.tsx
  kit/dapp/src/components/onboarding/old/steps/system/system-bootstrap-main.tsx
  kit/dapp/src/components/onboarding/old/steps/wallet-display-step.tsx
  kit/dapp/src/components/onboarding/old/steps/wallet-security-step.tsx
  kit/dapp/src/components/onboarding/old/steps/wallet-step.tsx
  kit/dapp/src/components/onboarding/old/steps/welcome-screen.tsx
  kit/dapp/src/components/onboarding/old/use-onboarding-steps.tsx
  kit/dapp/src/components/onboarding/onboarding-layout.tsx
  kit/dapp/src/components/onboarding/state-machine.ts
  kit/dapp/src/components/onboarding/wallet-security/otp-setup-component.tsx
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-component.tsx
  kit/dapp/src/components/onboarding/wallet-security/security-method-selector.tsx
  kit/dapp/src/components/onboarding/wallet-security/security-success.tsx
  kit/dapp/src/components/onboarding/wallet-security/wallet-security-main.tsx
  kit/dapp/src/components/ui/verification-dialog.tsx
  kit/dapp/src/routes/_private/onboarding/identity.tsx
  kit/dapp/src/routes/_private/onboarding/index.tsx
  kit/dapp/src/routes/_private/onboarding/system.tsx
  kit/dapp/src/routes/_private/onboarding/wallet-recovery-codes.tsx
  kit/dapp/src/routes/_private/onboarding/wallet-security.tsx
  kit/dapp/src/routes/_private/onboarding/wallet.tsx
  kit/dapp/tsconfig.json
Labels: fix, status:ready-for-review, qa:success, size:S

#2810 feat: pre-bound fields setup
  kit/dapp/eslint.config.mjs
  kit/dapp/src/components/asset-designer/asset-designer-form.tsx
  kit/dapp/src/components/asset-designer/basics.tsx
  kit/dapp/src/components/asset-designer/select-asset-type.tsx
  kit/dapp/src/components/asset-designer/shared-form.ts
  kit/dapp/src/components/form/checkbox-field.tsx
  kit/dapp/src/components/form/datetime-field.tsx
  kit/dapp/src/components/form/field.tsx
  kit/dapp/src/components/form/inputs/form-input.tsx
  kit/dapp/src/components/form/inputs/types.ts
  kit/dapp/src/components/form/radio-field.tsx
  kit/dapp/src/components/form/select-field.tsx
  kit/dapp/src/components/form/text-field.tsx
  kit/dapp/src/components/form/textarea-field.tsx
  kit/dapp/src/components/multistep-form/calculate-wizard-height.ts
  kit/dapp/src/components/multistep-form/multistep-wizard.tsx
  kit/dapp/src/components/multistep-form/types.ts
  kit/dapp/src/components/multistep-form/use-multistep-wizard-state.ts
  kit/dapp/src/components/multistep-form/wizard-field.tsx
  kit/dapp/src/components/multistep-form/wizard-step.tsx
  kit/dapp/src/hooks/use-app-form.ts
  kit/dapp/src/hooks/use-form-contexts.ts
  kit/dapp/src/lib/utils/noop.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/index.tsx
  kit/dapp/tsconfig.json
Labels: feat, qa:success, status:mergeable, size:XXL, lgtm

#2835 feat: store step in form
  kit/dapp/src/components/asset-designer/asset-basics.tsx
  kit/dapp/src/components/asset-designer/asset-designer-form.tsx
  kit/dapp/src/components/asset-designer/select-asset-type.tsx
  kit/dapp/src/components/asset-designer/shared-form.ts
  kit/dapp/src/components/asset-designer/steps.ts
  kit/dapp/src/components/form/text-field.tsx
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/bond.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/fund.create.schema.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/token.base-create.schema.ts
Labels: feat, qa:success, status:mergeable, size:L, lgtm

#2839 feat: plan slash command
  .claude/commands/plan.md
Labels: feat, docs, qa:success, status:mergeable, size:M, lgtm

#2840 feat: stepper component
  kit/dapp/locales/en/asset-designer.json
  kit/dapp/src/components/asset-designer/asset-basics.tsx
  kit/dapp/src/components/asset-designer/asset-designer-form.tsx
  kit/dapp/src/components/asset-designer/select-asset-type.tsx
  kit/dapp/src/components/asset-designer/steps.ts
  kit/dapp/src/components/stepper/step-group.tsx
  kit/dapp/src/components/stepper/step-layout.tsx
  kit/dapp/src/components/stepper/step.tsx
  kit/dapp/src/components/stepper/stepper.tsx
  kit/dapp/src/components/stepper/types.ts
  kit/dapp/src/components/stepper/utils.test.ts
  kit/dapp/src/components/stepper/utils.ts
  kit/dapp/src/components/ui/collapsible-chevron.tsx
  kit/dapp/src/lib/interface-ids.ts
  kit/dapp/src/lib/utils/array.ts
  kit/dapp/tsconfig.json
Labels: feat, qa:success, status:mergeable, refactor, size:XL, lgtm

#2841 feat: better state management in onboarding
  .prettierignore
  bun.lock
  bunfig.toml
  kit/charts/atk/charts/besu-network/charts/besu-node/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/erpc/README.md
  kit/contracts/package.json
  kit/dapp/package.json
  kit/dapp/src/components/breadcrumb/router-breadcrumb.tsx
  kit/dapp/src/components/multistep-form/example-wizard.tsx
  kit/dapp/src/components/onboarding/state-machine.ts
  kit/dapp/src/components/onboarding/system/deployment-progress.tsx
  kit/dapp/src/components/onboarding/system/system-bootstrap-main.tsx
  kit/dapp/src/components/onboarding/wallet-security/otp-setup-component.tsx
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-component.tsx
  kit/dapp/src/components/onboarding/wallet-security/recovery-code-item.tsx
  kit/dapp/src/components/onboarding/wallet-security/recovery-codes-actions.tsx
  kit/dapp/src/components/onboarding/wallet-security/recovery-codes-complete.tsx
  kit/dapp/src/components/onboarding/wallet-security/recovery-codes-display.tsx
  kit/dapp/src/components/onboarding/wallet-security/recovery-codes-warning.tsx
  kit/dapp/src/components/onboarding/wallet-security/wallet-security-main.tsx
  kit/dapp/src/components/onboarding/wallet/wallet-created.tsx
  kit/dapp/src/components/onboarding/wallet/wallet-intro.tsx
  kit/dapp/src/components/onboarding/wallet/wallet-progress.tsx
  kit/dapp/src/hooks/use-auth.ts
  kit/dapp/src/lib/auth/index.ts
  kit/dapp/src/lib/interface-ids.ts
  kit/dapp/src/orpc/middlewares/auth/wallet.middleware.ts
  kit/dapp/src/orpc/procedures/base.contract.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/dapp/src/orpc/routes/user/routes/mutations/create-wallet.contract.ts
  kit/dapp/src/orpc/routes/user/routes/mutations/create-wallet.schema.ts
  kit/dapp/src/orpc/routes/user/routes/mutations/create-wallet.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.schema.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.ts
  kit/dapp/src/orpc/routes/user/user.contract.ts
  kit/dapp/src/orpc/routes/user/user.router.ts
  kit/dapp/src/routeTree.gen.ts
  kit/dapp/src/routes/_private/onboarding/_sidebar.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/identity.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-addons.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-assets.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-deploy.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-settings.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet-recovery-codes.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet-security.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet.tsx
  kit/dapp/src/routes/_private/onboarding/index.tsx
  kit/dapp/src/routes/_private/onboarding/system-addons.tsx
  kit/dapp/src/routes/_private/onboarding/system-assets.tsx
  kit/dapp/src/routes/_private/onboarding/system-deploy.tsx
  kit/dapp/src/routes/_private/onboarding/system-settings.tsx
  kit/dapp/src/routes/_private/onboarding/wallet-recovery-codes.tsx
  kit/dapp/src/routes/_private/onboarding/wallet-security.tsx
  kit/dapp/src/routes/_private/onboarding/wallet.tsx
  kit/dapp/tsconfig.json
  package.json
Labels: feat, chore, status:ready-for-review, qa:success, refactor, size:XXL

#2851 feat(onboarding): add navigation helpers for unified route handling
  .vscode/settings.json
  kit/dapp/src/components/onboarding/route-helpers.ts
  kit/dapp/src/components/onboarding/system/system-bootstrap-main.tsx
  kit/dapp/src/components/onboarding/use-onboarding-navigation.ts
  kit/dapp/src/components/onboarding/wallet-security/otp-setup-component.tsx
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-component.tsx
  kit/dapp/src/components/onboarding/wallet-security/recovery-codes-complete.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/identity.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-addons.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-assets.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-deploy.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-settings.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet-recovery-codes.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet-security.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet.tsx
  kit/dapp/test/utils/user.ts
Labels: feat, status:ready-for-review, qa:success, size:XXL

#2852 refactor(onboarding): update navigation methods in system settings and wallet recovery codes
  .github/workflows/qa.yml
  kit/contracts/contracts/assets/deposit/ATKDepositFactoryImplementation.sol
  kit/contracts/contracts/assets/equity/ATKEquityFactoryImplementation.sol
  kit/contracts/contracts/assets/stable-coin/ATKStableCoinFactoryImplementation.sol
  kit/dapp/src/lib/interface-ids.ts
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-settings.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet-recovery-codes.tsx
  kit/dapp/test/scripts/setup.ts
  kit/subgraph/subgraph.yaml
Labels: status:ready-for-review, qa:success, refactor, size:L

#2859 refactor(onboarding): improve PIN setup validation and wallet creation UX
  bun.lock
  kit/charts/atk/charts/blockscout/README.md
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-component.tsx
  kit/dapp/src/lib/interface-ids.ts
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet.tsx
Labels: dependencies, chore, status:ready-for-review, qa:success, refactor, size:L

#2871 feat(dapp): add TanStack Form package and form utilities
  AGENT.md
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/components/form/tanstack-form.tsx
  kit/dapp/src/components/manage-dropdown/token.tsx
  kit/dapp/src/components/onboarding/wallet-security/wallet-security-main.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-assets.tsx
Labels: dependencies, feat, status:ready-for-review, qa:success, size:XL

#2872 fix: remove auto-advancement in onboarding wizard
  kit/dapp/src/components/onboarding/system/system-bootstrap-main.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-assets.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-settings.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet.tsx
Labels: fix, status:ready-for-review, qa:success, size:S

#2873 feat(dapp): integrate oxlint for enhanced linting performance
  .vscode/settings.json
  bun.lock
  kit/contracts/scripts/hardhat/assets/actions/yield/claim-yield.ts
  kit/dapp/eslint.config.mjs
  kit/dapp/oxlint.config.json
  kit/dapp/package.json
  kit/dapp/src/components/data-table/utils/data-table-url-state.ts
  kit/dapp/src/lib/i18n/index.ts
  kit/e2e/api-global-setup.ts
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/portfolio-page.ts
  kit/e2e/pages/xvp-settlement-page.ts
  kit/e2e/ui-tests/create-mint-burn-transfer-cryptocurrency.spec.ts
  kit/e2e/ui-tests/create-mint-burn-transfer-equity.spec.ts
  kit/e2e/ui-tests/create-update-mint-burn-transfer-deposit.spec.ts
  kit/e2e/ui-tests/create-update-mint-burn-transfer-stablecoin.spec.ts
  kit/e2e/utils/page-utils.ts
  kit/subgraph/test/stats/event-stats.spec.ts
  kit/subgraph/tools/interfaceid.ts
Labels: dependencies, feat, status:ready-for-review, qa:success, perf, size:L

#2901 fix: use correct hooks in tanstack-form components
  kit/dapp/src/components/form/field.tsx
  kit/dapp/src/components/form/tanstack-form.tsx
  kit/dapp/src/components/onboarding/assets/asset-type-card.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/system-assets.tsx
Labels: fix, qa:success, status:mergeable, refactor, size:M, lgtm

#2882 feat: form level validation
  kit/dapp/src/components/asset-designer/asset-basics.tsx
  kit/dapp/src/components/asset-designer/asset-basics/asset.tsx
  kit/dapp/src/components/asset-designer/asset-basics/bond.tsx
  kit/dapp/src/components/asset-designer/asset-basics/common.tsx
  kit/dapp/src/components/asset-designer/asset-basics/fund.tsx
  kit/dapp/src/components/asset-designer/asset-designer-form.tsx
  kit/dapp/src/components/asset-designer/select-asset-type.tsx
  kit/dapp/src/components/asset-designer/shared-form.ts
  kit/dapp/src/components/form/step-submit-button.tsx
  kit/dapp/src/hooks/use-app-form.ts
  kit/dapp/src/lib/utils/schema-field.test.ts
  kit/dapp/src/lib/utils/schema-field.ts
  kit/dapp/src/lib/utils/union.ts
Labels: feat, status:ready-for-review, qa:success, size:XL

#2860 feat: atk system centralized access manager
  bun.lock
  kit/contracts/contracts/system/ATKSystemErrors.sol
  kit/contracts/contracts/system/ATKSystemFactory.sol
  kit/contracts/contracts/system/ATKSystemImplementation.sol
  kit/contracts/contracts/system/ATKSystemRoles.sol
  kit/contracts/contracts/system/IATKSystem.sol
  kit/contracts/contracts/system/access-manager/ATKSystemAccessManagerImplementation.sol
  kit/contracts/contracts/system/access-manager/ATKSystemAccessManagerProxy.sol
  kit/contracts/contracts/system/access-manager/IATKSystemAccessManager.sol
  kit/contracts/ignition/modules/predeployed/system-access-manager.ts
  kit/contracts/ignition/modules/predeployed/system-factory.ts
  kit/contracts/test/system/ATKSystem.t.sol
  kit/contracts/test/system/ATKSystemFactory.t.sol
  kit/contracts/test/utils/SystemUtils.sol
  kit/contracts/tools/artifacts-genesis.ts
  kit/dapp/src/components/asset-designer/select-asset-type.tsx
  kit/subgraph/src/system/system.ts
  kit/subgraph/subgraph.yaml
Labels: feat, status:ready-for-review, qa:success, test, size:XL

#2909 fix: welcome screen height
  kit/dapp/src/components/onboarding/welcome.tsx
  kit/dapp/src/providers/auth.tsx
  kit/dapp/src/styles/app.css
Labels: fix, status:ready-for-review, qa:success, size:XS, lgtm

#2928 chore(deps): update dependencies in bun.lock and Helm charts
  .claude/commands/code-review.md
  .github/workflows/claude-code-review.yml
  bun.lock
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/support/README.md
  kit/dapp/drizzle/meta/0005_snapshot.json
  kit/dapp/drizzle/meta/_journal.json
  kit/dapp/src/styles/app.css
Labels: dependencies, status:ready-for-review, qa:success, size:L

#2931 fix: onboarding UI secure wallet
  kit/dapp/locales/en/onboarding.json
  kit/dapp/src/components/onboarding/onboarding-step-layout.tsx
  kit/dapp/src/components/onboarding/wallet-security/security-method-selector.tsx
  kit/dapp/src/components/onboarding/wallet/wallet-create.tsx
Labels: fix, status:ready-for-review, qa:success, size:L

#2930 feat: contract identities can add claims, identity factory adds contract claim
  kit/contracts/contracts/onchainid/ERC734KeyPurposes.sol
  kit/contracts/contracts/onchainid/ERC734KeyTypes.sol
  kit/contracts/contracts/onchainid/ERC735ClaimSchemes.sol
  kit/contracts/contracts/onchainid/IContractIdentity.sol
  kit/contracts/contracts/onchainid/README.md
  kit/contracts/contracts/onchainid/extensions/ERC735.sol
  kit/contracts/contracts/onchainid/extensions/OnChainContractIdentity.sol
  kit/contracts/contracts/onchainid/extensions/OnChainIdentity.sol
  kit/contracts/contracts/onchainid/extensions/OnChainIdentityWithRevocation.sol
  kit/contracts/contracts/system/ATKSystemImplementation.sol
  kit/contracts/contracts/system/ATKTopics.sol
  kit/contracts/contracts/system/README.md
  kit/contracts/contracts/system/identity-factory/ATKIdentityFactoryImplementation.sol
  kit/contracts/contracts/system/identity-factory/IATKIdentityFactory.sol
  kit/contracts/contracts/system/identity-factory/identities/ATKContractIdentityImplementation.sol
  kit/contracts/contracts/system/identity-factory/identities/IATKContractIdentity.sol
  kit/contracts/contracts/system/trusted-issuers-registry/ATKTrustedIssuersRegistryImplementation.sol
  kit/contracts/contracts/system/trusted-issuers-registry/IATKTrustedIssuersRegistry.sol
  kit/contracts/scripts/hardhat/main.ts
  kit/contracts/test/system/identity-factory/ATKIdentityFactoryImplementation.t.sol
  kit/contracts/test/system/identity-factory/ATKIdentityFactoryTrustedIssuerRoundTrip.t.sol
  kit/contracts/test/system/identity-factory/identities/ATKContractIdentityImplementation.t.sol
  kit/contracts/test/system/identity-factory/identities/ClaimAuthorizationSystem.t.sol
  kit/contracts/test/system/trusted-issuers-registry/ATKTrustedIssuersRegistryImplementation.t.sol
  kit/contracts/test/utils/ClaimUtils.sol
  kit/contracts/test/utils/SystemUtils.sol
  kit/subgraph/test/identity-claims.spec.ts
  kit/subgraph/test/identity.spec.ts
Labels: feat, status:ready-for-review, qa:success, refactor, test, size:XXL, lgtm

#2938 fix: common step layout for asset designer and onboarding
  bun.lock
  kit/dapp/locales/ar/compliance-modules.json
  kit/dapp/locales/ar/country-multiselect.json
  kit/dapp/locales/de/compliance-modules.json
  kit/dapp/locales/de/country-multiselect.json
  kit/dapp/locales/en/asset-designer.json
  kit/dapp/locales/en/compliance-modules.json
  kit/dapp/locales/en/country-multiselect.json
  kit/dapp/locales/en/form.json
  kit/dapp/locales/en/onboarding.json
  kit/dapp/locales/ja/compliance-modules.json
  kit/dapp/locales/ja/country-multiselect.json
  kit/dapp/package.json
  kit/dapp/src/components/asset-designer/asset-basics/asset.tsx
  kit/dapp/src/components/asset-designer/asset-basics/bond.tsx
  kit/dapp/src/components/asset-designer/asset-basics/common.tsx
  kit/dapp/src/components/asset-designer/asset-basics/fund.tsx
  kit/dapp/src/components/asset-designer/asset-designer-form.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard.tsx
  kit/dapp/src/components/asset-designer/compliance-modules/compliance-module-detail.tsx
  kit/dapp/src/components/asset-designer/compliance-modules/compliance-modules.tsx
  kit/dapp/src/components/asset-designer/compliance-modules/country-allowlist-module-detail.tsx
  kit/dapp/src/components/asset-designer/select-asset-type.tsx
  kit/dapp/src/components/asset-designer/shared-form.ts
  kit/dapp/src/components/asset-designer/steps.ts
  kit/dapp/src/components/asset-designer/summary/summary.tsx
  kit/dapp/src/components/compliance/compliance-modules-grid.tsx
  kit/dapp/src/components/compliance/config.tsx
  kit/dapp/src/components/country/country-multiselect.tsx
  kit/dapp/src/components/form/errors.tsx
  kit/dapp/src/components/form/multi-step/form-step.tsx
  kit/dapp/src/components/form/multi-step/step-submit-button.tsx
  kit/dapp/src/components/form/radio-field.tsx
  kit/dapp/src/components/form/submit-button.tsx
  kit/dapp/src/components/form/tanstack-form.tsx
  kit/dapp/src/components/layout/dialog.tsx
  kit/dapp/src/components/onboarding/onboarding-step-layout.tsx
  kit/dapp/src/components/onboarding/use-onboarding-steps.ts
  kit/dapp/src/components/selectable-card/selectable-card.tsx
  kit/dapp/src/components/stepper/step-group.tsx
  kit/dapp/src/components/stepper/step-layout.tsx
  kit/dapp/src/components/stepper/step.tsx
  kit/dapp/src/components/stepper/types.ts
  kit/dapp/src/components/stepper/utils.test.ts
  kit/dapp/src/components/stepper/utils.ts
  kit/dapp/src/components/ui/multiselect.tsx
  kit/dapp/src/hooks/use-app-form.ts
  kit/dapp/src/lib/i18n/index.ts
  kit/dapp/src/lib/i18n/types.ts
  kit/dapp/src/lib/zod/validators/compliance.test.ts
  kit/dapp/src/lib/zod/validators/compliance.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/token.base-create.schema.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar/index.tsx
  kit/dapp/src/routes/_private/_onboarded/asset-designer/index.tsx
  kit/dapp/src/routes/_private/onboarding.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar.tsx
Labels: feat, fix, status:ready-for-review, qa:success, refactor, size:XXL

#2937 feat: refactor PIN and OTP setup to use modal dialogs
  .gitignore
  kit/dapp/locales/en/onboarding.json
  kit/dapp/src/components/onboarding/wallet-security/otp-setup-component.tsx
  kit/dapp/src/components/onboarding/wallet-security/otp-setup-modal.tsx
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-component.tsx
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-modal.tsx
  kit/dapp/src/components/onboarding/wallet-security/security-method-selector.tsx
Labels: feat, fix, status:ready-for-review, qa:success, refactor, size:XL

#2932 fix: use cn
  kit/dapp/src/components/form/multi-step/form-step.tsx
Labels: dependencies, feat, chore, qa:success, status:mergeable, refactor, size:XS, lgtm

#2952 feat: remove bitnami common chart dependency
  kit/charts/atk/charts/erpc/Chart.lock
  kit/charts/atk/charts/erpc/Chart.yaml
  kit/charts/atk/charts/portal/Chart.lock
  kit/charts/atk/charts/portal/Chart.yaml
  kit/charts/atk/charts/support/Chart.lock
  kit/charts/atk/charts/support/values.yaml
  kit/charts/atk/charts/txsigner/Chart.lock
  kit/charts/atk/charts/txsigner/Chart.yaml
Labels: dependencies, feat, chore, docs, status:ready-for-review, qa:success, size:S

#2959 refactor: consolidate artifacts Docker packaging
  bun.lock
  kit/artifacts/README.md
  kit/artifacts/package.json
  kit/artifacts/turbo.json
  kit/charts/atk/README.md
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/genesis-job-init.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-statefulset.yaml
  kit/charts/atk/charts/erpc/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/contracts/Dockerfile
  kit/contracts/package.json
  kit/dapp/package.json
  kit/dapp/src/components/onboarding/wallet-security/otp-setup-modal.tsx
  kit/dapp/src/components/onboarding/wallet-security/pin-setup-modal.tsx
  kit/dapp/src/components/onboarding/wallet-security/security-success.tsx
  kit/dapp/src/lib/zod/validators/verification-type.ts
  kit/dapp/src/orpc/routes/user/routes/user.me.ts
  turbo.json
Labels: status:ready-for-review, qa:success, refactor, size:L

#2957 fix: wizard with origin ui components
  kit/dapp/locales/en/onboarding.json
  kit/dapp/src/components/form/multi-step/form-step.tsx
  kit/dapp/src/components/layout/dialog.tsx
  kit/dapp/src/components/stepper/step-group.tsx
  kit/dapp/src/components/stepper/step-item.tsx
  kit/dapp/src/components/stepper/step-layout.tsx
  kit/dapp/src/components/stepper/step.tsx
  kit/dapp/src/components/stepper/utils.ts
  kit/dapp/src/styles/app.css
Labels: fix, docs, qa:success, status:mergeable, size:L, lgtm

#2982 fix: run publish:docker on main branch
  kit/dapp/vitest.config.ts
  turbo.json
Labels: fix, qa:success, status:mergeable, size:XS, lgtm

#2983 feat: deprecate bitnami redis helm chart
  kit/charts/atk/Chart.lock
  kit/charts/atk/Chart.yaml
  kit/charts/atk/charts/hasura/values.yaml
  kit/charts/atk/charts/portal/values.yaml
  kit/charts/atk/charts/redis/Chart.yaml
  kit/charts/atk/charts/redis/templates/_helpers.tpl
  kit/charts/atk/charts/redis/templates/configmap.yaml
  kit/charts/atk/charts/redis/templates/deployment.yaml
  kit/charts/atk/charts/redis/templates/networkpolicy.yaml
  kit/charts/atk/charts/redis/templates/pvc.yaml
  kit/charts/atk/charts/redis/templates/secret.yaml
  kit/charts/atk/charts/redis/templates/service.yaml
  kit/charts/atk/charts/redis/values.yaml
  kit/charts/atk/charts/support/Chart.lock
  kit/charts/atk/charts/support/Chart.yaml
  kit/charts/atk/charts/support/values.yaml
  kit/charts/atk/values.yaml
Labels: feat, qa:success, status:mergeable, size:XL, lgtm

#2990 chore: fix ssr issues globally
  .claude/agents/code-reviewer.md
  .claude/agents/orpc-expert.md
  .claude/agents/planner.md
  .claude/agents/solidity-expert.md
  .claude/agents/subgraph-dev.md
  .claude/agents/test-dev.md
  .claude/commands/pr.md
  .claude/commands/test.md
  AGENT.md
  kit/charts/atk/README.md
  kit/charts/atk/charts/blockscout/README.md
  kit/charts/atk/charts/dapp/README.md
  kit/charts/atk/charts/hasura/README.md
  kit/charts/atk/charts/observability/README.md
  kit/charts/atk/charts/portal/README.md
  kit/charts/atk/charts/support/README.md
  kit/charts/atk/charts/support/charts/postgresql/README.md
  kit/charts/atk/charts/support/charts/redis/README.md
  kit/charts/atk/charts/thegraph/README.md
  kit/charts/atk/charts/txsigner/README.md
  kit/dapp/src/routes/_private.tsx
Labels: chore, status:ready-for-review, qa:success, size:XXL

#2987 fix: consolidate _helper helm function
  kit/charts/CLAUDE.md
  kit/charts/atk/charts/dapp/templates/_helpers.tpl
  kit/charts/atk/charts/erpc/templates/_helpers.tpl
  kit/charts/atk/charts/portal/templates/_helpers.tpl
  kit/charts/atk/charts/thegraph/templates/_helpers.tpl
  kit/charts/atk/charts/txsigner/templates/_helpers.tpl
  kit/charts/atk/templates/_common-helpers.tpl
Labels: fix, status:ready-for-review, qa:success, refactor, size:XXL

#2967 fix: wizard layout issues
  bun.lock
  kit/dapp/locales/en-US/onboarding.json
  kit/dapp/src/components/form/multi-step/form-step.tsx
  kit/dapp/src/components/layout/dialog.tsx
  kit/dapp/src/components/onboarding/recovery-codes/recovery-code-item.tsx
  kit/dapp/src/components/onboarding/recovery-codes/recovery-codes.tsx
  kit/dapp/src/components/onboarding/wallet-security/security-method-selector.tsx
  kit/dapp/src/components/stepper/step-layout.tsx
  kit/dapp/src/providers/auth.tsx
  kit/dapp/src/styles/app.css
Labels: fix, status:ready-for-review, qa:success, size:L

#2933 feat: topic registry with centralized access system
  kit/contracts/contracts/system/ATKSystemImplementation.sol
  kit/contracts/contracts/system/ATKSystemRoles.sol
  kit/contracts/contracts/system/access-manager/ATKSystemAccessManagerImplementation.sol
  kit/contracts/contracts/system/access-manager/IATKSystemAccessManager.sol
  kit/contracts/contracts/system/compliance/ATKComplianceImplementation.sol
  kit/contracts/contracts/system/identity-registry-storage/ATKIdentityRegistryStorageImplementation.sol
  kit/contracts/contracts/system/token-factory/ATKTokenFactoryRegistryImplementation.sol
  kit/contracts/contracts/system/token-factory/AbstractATKTokenFactoryImplementation.sol
  kit/contracts/contracts/system/token-factory/IATKTokenFactoryRegistry.sol
  kit/contracts/contracts/system/topic-scheme-registry/ATKTopicSchemeRegistryImplementation.sol
  kit/contracts/contracts/system/topic-scheme-registry/IATKTopicSchemeRegistry.sol
  kit/contracts/contracts/system/trusted-issuers-registry/ATKTrustedIssuersRegistryImplementation.sol
  kit/contracts/ignition/modules/onboarding/assets/bond.ts
  kit/contracts/ignition/modules/onboarding/assets/deposit.ts
  kit/contracts/ignition/modules/onboarding/assets/equity.ts
  kit/contracts/ignition/modules/onboarding/assets/fund.ts
  kit/contracts/ignition/modules/onboarding/assets/stablecoin.ts
  kit/contracts/ignition/modules/onboarding/system.ts
  kit/contracts/scripts/hardhat/assets/actions/yield/set-yield-schedule.ts
  kit/contracts/scripts/hardhat/constants/roles.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/push-airdrop.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/timebound-airdrop.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/utils/permissions.ts
  kit/contracts/scripts/hardhat/system-addons/airdrop/vesting-airdrop.ts
  kit/contracts/scripts/hardhat/system-addons/xvp/utils/permissions.ts
  kit/contracts/scripts/hardhat/system-addons/xvp/xvp-settlement.ts
  kit/contracts/test/addons/airdrop/ATKPushAirdropImplementation.t.sol
  kit/contracts/test/addons/airdrop/ATKTimeBoundAirdropImplementation.t.sol
  kit/contracts/test/addons/airdrop/ATKVestingAirdropImplementation.t.sol
  kit/contracts/test/addons/xvp/ATKXvPSettlement.t.sol
  kit/contracts/test/assets/ATKBond.t.sol
  kit/contracts/test/assets/AbstractATKAssetTest.sol
  kit/contracts/test/smart/extensions/SMARTYieldBaseTest.sol
  kit/contracts/test/smart/modules/AbstractComplianceModuleTest.t.sol
  kit/contracts/test/system/compliance/ATKComplianceImplementation.t.sol
  kit/contracts/test/system/identity-factory/identities/ClaimAuthorizationSystem.t.sol
  kit/contracts/test/system/identity-registry-storage/ATKIdentityRegistryStorageImplementation.t.sol
  kit/contracts/test/system/token-factory/ATKTokenFactoryRegistry.t.sol
  kit/contracts/test/system/topic-scheme-registry/ATKTopicSchemeRegistry.t.sol
  kit/contracts/test/system/trusted-issuers-registry/ATKTrustedIssuersRegistryImplementation.t.sol
  kit/contracts/test/utils/SystemUtils.sol
  kit/dapp/test/scripts/setup.ts
  kit/dapp/test/token-factory/token-factory-create.spec.ts
  kit/dapp/test/token/token-create.spec.ts
  kit/dapp/test/token/token-permissions.spec.ts
  kit/dapp/test/utils/system-bootstrap.ts
  kit/dapp/test/utils/token.ts
Labels: feat, status:ready-for-review, qa:success, test, size:XXL

#3000 feat: create the graph chart based on the public helm chart
  kit/charts/CLAUDE.md
  kit/charts/atk/Chart.yaml
  kit/charts/atk/charts/graph-node/Chart.yaml
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/graph-node/templates/NOTES.txt
  kit/charts/atk/charts/graph-node/templates/_helpers.tpl
  kit/charts/atk/charts/graph-node/templates/configmap.yaml
  kit/charts/atk/charts/graph-node/templates/hpa.yaml
  kit/charts/atk/charts/graph-node/templates/ingress.yaml
  kit/charts/atk/charts/graph-node/templates/networkpolicy.yaml
  kit/charts/atk/charts/graph-node/templates/poddisruptionbudget.yaml
  kit/charts/atk/charts/graph-node/templates/rbac.yaml
  kit/charts/atk/charts/graph-node/templates/secret-pg.yaml
  kit/charts/atk/charts/graph-node/templates/service.yaml
  kit/charts/atk/charts/graph-node/templates/serviceaccount.yaml
  kit/charts/atk/charts/graph-node/templates/statefulset.yaml
  kit/charts/atk/charts/graph-node/values.yaml
  kit/charts/atk/charts/thegraph/Chart.lock
  kit/charts/atk/charts/thegraph/Chart.yaml
  kit/charts/atk/charts/thegraph/templates/_helpers.tpl
  kit/charts/atk/charts/thegraph/templates/ingress-thegraph.yaml
  kit/charts/atk/charts/thegraph/templates/secret-thegraph.yaml
  kit/charts/atk/charts/thegraph/values.yaml
  kit/charts/atk/templates/NOTES.txt
  kit/charts/atk/values.yaml
Labels: feat, status:ready-for-review, qa:success, size:XXL

#3003 fix: generate recovery codes
  bun.lock
  kit/charts/atk/Chart.lock
  kit/charts/atk/README.md
  kit/charts/atk/charts/graph-node/README.md
  kit/charts/atk/charts/hasura/README.md
  kit/dapp/src/components/onboarding/recovery-codes/recovery-codes-warning.tsx
  kit/dapp/src/components/onboarding/recovery-codes/recovery-codes.tsx
  kit/dapp/src/components/onboarding/system/system-deploy.tsx
  kit/dapp/src/components/onboarding/wallet/wallet-created.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar/wallet-recovery-codes.tsx
  kit/dapp/src/styles/app.css
  kit/dapp/tsconfig.json
Labels: fix, qa:success, status:mergeable, size:L, lgtm

#3007 feat: input asset country
  kit/dapp/locales/ar-SA/asset-designer.json
  kit/dapp/locales/de-DE/asset-designer.json
  kit/dapp/locales/en-US/asset-designer.json
  kit/dapp/locales/ja-JP/asset-designer.json
  kit/dapp/src/components/asset-designer/asset-basics/common.tsx
  kit/dapp/src/components/form/country-select-field.tsx
  kit/dapp/src/lib/zod/validators/iso-country-code.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/bond.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/deposit.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/equity.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/fund.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/create-handlers/stablecoin.create.ts
  kit/dapp/src/orpc/routes/token/routes/mutations/create/helpers/token.base-create.schema.ts
  kit/dapp/test/token/token-create.spec.ts
  kit/dapp/test/token/token-permissions.spec.ts
  kit/dapp/test/token/token-supply.spec.ts
Labels: feat, status:ready-for-review, qa:success, size:L

#3002 feat: asset designer modal + wizard
  kit/dapp/locales/ar-SA/asset-class.json
  kit/dapp/locales/ar-SA/asset-designer.json
  kit/dapp/locales/ar-SA/asset-types.json
  kit/dapp/locales/de-DE/asset-class.json
  kit/dapp/locales/de-DE/asset-designer.json
  kit/dapp/locales/de-DE/asset-types.json
  kit/dapp/locales/en-US/asset-class.json
  kit/dapp/locales/en-US/asset-designer.json
  kit/dapp/locales/en-US/asset-types.json
  kit/dapp/locales/ja-JP/asset-class.json
  kit/dapp/locales/ja-JP/asset-designer.json
  kit/dapp/locales/ja-JP/asset-types.json
  kit/dapp/src/components/asset-designer/asset-class-modal/asset-class-modal.tsx
  kit/dapp/src/components/asset-designer/asset-class-modal/select-asset-class.tsx
  kit/dapp/src/components/asset-designer/asset-class-modal/select-asset-type.tsx
  kit/dapp/src/components/asset-designer/asset-class-modal/shared-form.ts
  kit/dapp/src/components/asset-designer/asset-class-modal/steps.ts
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-basics/asset.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-basics/bond.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-basics/common.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-basics/fund.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/asset-designer-wizard.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/compliance-modules/compliance-module-detail.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/compliance-modules/compliance-modules.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/compliance-modules/country-allowlist-module-detail.tsx
  kit/dapp/src/components/asset-designer/asset-designer-wizard/shared-form.ts
  kit/dapp/src/components/asset-designer/asset-designer-wizard/steps.ts
  kit/dapp/src/components/asset-designer/asset-designer-wizard/summary/summary.tsx
  kit/dapp/src/components/asset-designer/select-asset-type.tsx
  kit/dapp/src/components/asset-tokenization-kit-logo.tsx
  kit/dapp/src/components/confirmation-modal.tsx
  kit/dapp/src/components/form/field.tsx
  kit/dapp/src/components/form/radio-field.tsx
  kit/dapp/src/components/layout/dialog.tsx
  kit/dapp/src/components/sidebar/nav-addons.tsx
  kit/dapp/src/components/sidebar/nav-asset.tsx
  kit/dapp/src/components/sidebar/sidebar-logo.tsx
  kit/dapp/src/components/stepper/step-layout.tsx
  kit/dapp/src/components/stepper/utils.test.ts
  kit/dapp/src/components/stepper/utils.ts
  kit/dapp/src/hooks/use-asset-class.ts
  kit/dapp/src/hooks/use-go-back.ts
  kit/dapp/src/lib/i18n/index.ts
  kit/dapp/src/lib/i18n/types.ts
  kit/dapp/src/routes/_private/_onboarded/_sidebar.tsx
  kit/dapp/src/routes/_private/_onboarded/_sidebar/index.tsx
  kit/dapp/src/routes/_private/_onboarded/asset-designer/index.tsx
  kit/dapp/src/routes/_private/onboarding/_sidebar.tsx
  kit/dapp/turbo.json
Labels: feat, status:ready-for-review, qa:success, size:XL

#3019 fix: country allow/block list should fail for unknown identities
  kit/contracts/contracts/smart/modules/CountryAllowListComplianceModule.sol
  kit/contracts/contracts/smart/modules/CountryBlockListComplianceModule.sol
  kit/contracts/test/smart/modules/CountryAllowListComplianceModule.t.sol
  kit/contracts/test/smart/modules/CountryBlockListComplianceModule.t.sol
Labels: fix, status:ready-for-review, qa:success, size:L

#3004 fix: deploy system
  kit/dapp/locales/ar-SA/onboarding.json
  kit/dapp/locales/de-DE/onboarding.json
  kit/dapp/locales/en-US/onboarding.json
  kit/dapp/locales/ja-JP/onboarding.json
  kit/dapp/src/components/onboarding/system/system-deploy.tsx
Labels: fix, docs, qa:success, status:mergeable, size:M

#3028 fox: imagePullSecrets for common helm charts
  kit/charts/atk/charts/erpc/templates/deployment.yaml
  kit/charts/atk/charts/portal/templates/deployment.yaml
  kit/charts/atk/charts/txsigner/templates/deployment.yaml
Labels: chore, qa:success, status:mergeable, size:XS, lgtm

#3025 feat: deploy compliance modules after system create
  kit/dapp/src/components/layout/dialog.tsx
  kit/dapp/src/orpc/routes/system/compliance-module/compliance-module.contract.ts
  kit/dapp/src/orpc/routes/system/compliance-module/compliance-module.router.ts
  kit/dapp/src/orpc/routes/system/compliance-module/routes/compliance-module.create.schema.ts
  kit/dapp/src/orpc/routes/system/compliance-module/routes/compliance-module.create.ts
  kit/dapp/src/orpc/routes/system/routes/system.create.ts
  kit/dapp/test/system/compliance-module-create.spec.ts
Labels: feat, qa:success, status:mergeable, size:L, lgtm

#3029 feat: index of token type stats
  kit/dapp/src/orpc/routes/system/stats/routes/assets.schema.ts
  kit/dapp/src/orpc/routes/system/stats/routes/assets.ts
  kit/dapp/test/system/system-stats.spec.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/identity/identity.ts
  kit/subgraph/src/stats/account-stats.ts
  kit/subgraph/src/stats/system-stats.ts
  kit/subgraph/src/stats/token-type-stats.ts
  kit/subgraph/src/token-extensions/burnable/burnable.ts
  kit/subgraph/src/token-factory/token-factory.ts
  kit/subgraph/src/token/token.ts
  kit/subgraph/src/token/utils/token-utils.ts
  kit/subgraph/test/stats/system-stats.spec.ts
  kit/subgraph/test/stats/token-type-stats.spec.ts
Labels: feat, docs, qa:success, status:mergeable, test, size:XL, lgtm

#3036 fix: erpc successfully start
  kit/charts/CLAUDE.md
  kit/charts/atk/charts/erpc/values.yaml
  kit/charts/atk/values.yaml
Labels: fix, status:ready-for-review, qa:success, size:XL
