Repository settlemint/asset-tokenization-kit, pull requests merged in 2025-04, with the labels that each got.

#1327 fix: first time setup 2FA
  kit/dapp/src/lib/auth/two-factor.ts
  kit/dapp/src/lib/mutations/user/enable-two-factor-function.ts
  kit/dapp/src/lib/queries/user/wallet-security.tsx
Labels: fix

#1339 fix: 2fa improvements and fixes for auditor role
  kit/dapp/src/app/[locale]/auth/2fa/page.tsx
  kit/dapp/src/components/blocks/form/form.tsx
  kit/dapp/src/components/blocks/form/inputs/form-otp-dialog.tsx
  kit/dapp/src/lib/queries/asset/asset-users-detail.tsx
  kit/dapp/src/lib/queries/asset/asset-users-fragment.ts
  kit/dapp/src/lib/queries/asset/asset-users-schema.ts
Labels: fix

#1305 fix: cap and face value of bond can be 0
  bun.lock
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/top-up-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/withdraw-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/actions/freeze-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/redeem-form/form.tsx
  kit/dapp/src/components/blocks/create-forms/bond/form.tsx
  kit/dapp/src/components/blocks/create-forms/cryptocurrency/form.tsx
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/mutations/bond/redeem/redeem-schema.ts
  kit/dapp/src/lib/mutations/bond/top-up/top-up-schema.ts
  kit/dapp/src/lib/mutations/burn/burn-schema.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-schema.ts
  kit/dapp/src/lib/mutations/freeze/freeze-schema.ts
  kit/dapp/src/lib/mutations/mint/mint-schema.ts
  kit/dapp/src/lib/mutations/transfer/transfer-schema.ts
  kit/dapp/src/lib/mutations/update-collateral/update-collateral-schema.ts
  kit/dapp/src/lib/mutations/withdraw/withdraw-schema.ts
  kit/dapp/src/lib/utils/typebox/amount.ts
Labels: fix

#1341 fix: related actions
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/components/blocks/create-forms/bond/form.tsx
  kit/dapp/src/components/blocks/create-forms/bond/steps/configuration.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
  kit/dapp/src/lib/auth/utils.ts
  kit/dapp/src/lib/queries/asset-balance/asset-balance-detail.tsx
Labels: fix

#1353 fix: allow empty asset admins array as default
  kit/dapp/src/components/blocks/create-forms/deposit/form.tsx
  kit/dapp/src/components/blocks/create-forms/equity/form.tsx
  kit/dapp/src/components/blocks/create-forms/fund/form.tsx
Labels: fix

#1352 fix: long detail grid item text overflows in next column
  kit/dapp/src/components/blocks/detail-grid/detail-grid-item.tsx
Labels: fix

#1357 fix: create bond validation test
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/create-asset-form.ts
  kit/e2e/pages/sign-up-page.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/tests/create-bond-validation.spec.ts
Labels: fix

#1356 fix: asset permissions
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/burn-form/form.tsx
Labels: fix

#1342 fix: roles facet filter
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/permissions/_components/columns.tsx
  kit/dapp/src/components/blocks/data-table/data-table-toolbar.tsx
  kit/dapp/src/components/blocks/data-table/data-table.tsx
Labels: fix

#1358 fix: move suplly manager check to util
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/update-collateral-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/_components/transfer-form/select-asset.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/burn-form/form.tsx
  kit/dapp/src/components/blocks/create-forms/common/asset-admins/asset-admins-card.tsx
  kit/dapp/src/components/blocks/create-forms/stablecoin/steps/summary.tsx
  kit/dapp/src/components/layout/user-dropdown.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-detail.tsx
  kit/dapp/src/lib/queries/cryptocurrency-factory/cryptocurrency-factory-predict-address.tsx
  kit/dapp/src/lib/utils/error-handler.ts
  kit/dapp/src/lib/utils/has-role.ts
Labels: fix

#1354 fix: user search for regular users should be in the contact list
  kit/dapp/src/app/[locale]/(private)/portfolio/my-contacts/(table)/page.tsx
  kit/dapp/src/components/blocks/evm-address/evm-address.tsx
  kit/dapp/src/components/blocks/form/inputs/form-users.tsx
  kit/dapp/src/components/blocks/my-contacts-table/my-contacts-table.tsx
  kit/dapp/src/components/blocks/search/search.tsx
  kit/dapp/src/lib/api/user.ts
  kit/dapp/src/lib/queries/contact/contact-list.tsx
  kit/dapp/src/lib/queries/user/user-search.tsx
  kit/dapp/src/lib/queries/user/wallet-security.tsx
Labels: fix

#1377 feat: create cleanup script for atk helm chart
  package.json
Labels: feat

#1376 fix: hide update user actions for non admins
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/layout.tsx
Labels: fix

#1375 fix: create cryptocurrency form validate test
  kit/e2e/pages/create-asset-form.ts
  kit/e2e/tests/create-cryptocurrency-validation.spec.ts
Labels: fix

#1340 feat: clawback function
  kit/contracts/contracts/Bond.sol
  kit/contracts/contracts/Deposit.sol
  kit/contracts/contracts/Equity.sol
  kit/contracts/contracts/Fund.sol
  kit/contracts/contracts/StableCoin.sol
  kit/contracts/remappings.txt
  kit/contracts/test/Bond.t.sol
  kit/contracts/test/Deposit.t.sol
  kit/contracts/test/Equity.t.sol
  kit/contracts/test/Fund.t.sol
  kit/contracts/test/StableCoin.t.sol
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/asset-activity.tsx
  kit/dapp/src/lib/queries/asset-activity/asset-activity-fragment.ts
  kit/dapp/src/lib/queries/asset-activity/asset-activity-schema.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/bond.ts
  kit/subgraph/src/assets/deposit.ts
  kit/subgraph/src/assets/equity.ts
  kit/subgraph/src/assets/events/clawback.ts
  kit/subgraph/src/assets/fetch/assets.ts
  kit/subgraph/src/assets/fund.ts
  kit/subgraph/src/assets/stablecoin.ts
  kit/subgraph/src/utils/enums.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#1374 feat: new facet filter
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/columns/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table-columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/allowlist/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/blocklist/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/permissions/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/underlying-assets/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/_components/api-key-columns.tsx
  kit/dapp/src/components/blocks/asset-events-table/asset-events-columns.tsx
  kit/dapp/src/components/blocks/asset-info/column-asset-type.ts
  kit/dapp/src/components/blocks/data-table/data-table-filter.tsx
  kit/dapp/src/components/blocks/data-table/data-table-toolbar.tsx
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table-columns-small.tsx
  kit/dapp/src/components/blocks/my-assets-table/my-assets-table-columns.tsx
  kit/dapp/src/components/blocks/my-contacts-table/my-contacts-table-columns.tsx
  kit/dapp/src/components/blocks/transactions-table/transactions-table-columns.tsx
  kit/dapp/src/components/blocks/user-assets-table/user-assets-table-columns.tsx
  kit/dapp/src/components/ui/calendar.tsx
  kit/dapp/src/components/ui/slider.tsx
  kit/dapp/src/lib/array.ts
  kit/dapp/src/lib/filters.ts
Labels: feat

#1391 feat: store pincode verification id
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/db/schema-auth.ts
Labels: feat

#1393 feat: send verification id when creating transactions
  .cursor/rules/graphql.mdc
  bun.lock
  kit/contracts/remappings.txt
  kit/dapp/src/components/blocks/data-table/data-table-filter.tsx
  kit/dapp/src/components/blocks/data-table/data-table-toolbar.tsx
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/auth/plugins/two-factor.ts
  kit/dapp/src/lib/challenge.ts
  kit/dapp/src/lib/filters.ts
  kit/dapp/src/lib/mutations/allow-user/allow-user-function.ts
  kit/dapp/src/lib/mutations/asset/access-control/grant-role/grant-role-function.ts
  kit/dapp/src/lib/mutations/asset/access-control/revoke-role/revoke-role-function.ts
  kit/dapp/src/lib/mutations/block-user/block-user-function.ts
  kit/dapp/src/lib/mutations/bond/create/create-function.ts
  kit/dapp/src/lib/mutations/bond/mature/mature-function.ts
  kit/dapp/src/lib/mutations/bond/redeem/redeem-function.ts
  kit/dapp/src/lib/mutations/bond/set-yield-schedule/set-yield-schedule-function.ts
  kit/dapp/src/lib/mutations/bond/top-up/top-up-function.ts
  kit/dapp/src/lib/mutations/burn/burn-function.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-function.ts
  kit/dapp/src/lib/mutations/deposit/create/create-function.ts
  kit/dapp/src/lib/mutations/disallow-user/disallow-user-function.ts
  kit/dapp/src/lib/mutations/equity/create/create-function.ts
  kit/dapp/src/lib/mutations/freeze/freeze-function.ts
  kit/dapp/src/lib/mutations/fund/create/create-function.ts
  kit/dapp/src/lib/mutations/mint/mint-function.ts
  kit/dapp/src/lib/mutations/pause/pause-function.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-function.ts
  kit/dapp/src/lib/mutations/transfer/transfer-function.ts
  kit/dapp/src/lib/mutations/unblock-user/unblock-user-function.ts
  kit/dapp/src/lib/mutations/unpause/unpause-function.ts
  kit/dapp/src/lib/mutations/update-collateral/update-collateral-function.ts
  kit/dapp/src/lib/mutations/user/enable-two-factor-function.ts
  kit/dapp/src/lib/mutations/user/set-pincode-function.ts
  kit/dapp/src/lib/mutations/withdraw/withdraw-function.ts
Labels: feat

#1394 feat: add bun helm:install and bun helm:reset commands
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-statefulset.yaml
  kit/charts/atk/charts/erpc/templates/deployment.yaml
  kit/charts/atk/charts/portal/templates/deployment.yaml
  kit/charts/atk/templates/_helpers.tpl
  package.json
Labels: feat

#1397 fix: update sign up and filter
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/sign-up-page.ts
Labels: fix

#1396 fix: add delete namespace to helm:delete
  package.json
Labels: fix

#1399 fix: responsive table
  kit/dapp/src/app/globals.css
Labels: fix

#1402 feat: genesis confimap merge with predeployed contract
  kit/charts/atk/charts/besu-network/charts/besu-genesis/files/genesis-output.json
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/_helpers.tpl
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/contracts-genesis.yaml
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/genesis-job-cleanup.yaml
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/genesis-job-init.yaml
  kit/contracts/genesis-output.sh
  package.json
Labels: feat

#1392 fix: bond maturity date validation
  bun.lock
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/_components/create-api-key-form.tsx
  kit/dapp/src/app/[locale]/auth/2fa/page.tsx
  kit/dapp/src/components/blocks/auth/pincode-form.tsx
  kit/dapp/src/components/blocks/create-forms/bond/form.tsx
  kit/dapp/src/components/blocks/create-forms/bond/steps/configuration.tsx
  kit/dapp/src/components/blocks/form/form-field-translatable-message.tsx
  kit/dapp/src/components/blocks/form/form.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
  kit/dapp/src/components/blocks/form/inputs/form-checkbox.tsx
  kit/dapp/src/components/blocks/form/inputs/form-input.tsx
  kit/dapp/src/components/blocks/form/inputs/form-otp-dialog.tsx
  kit/dapp/src/components/blocks/form/inputs/form-select.tsx
  kit/dapp/src/components/blocks/form/inputs/form-switch.tsx
  kit/dapp/src/components/blocks/form/types.ts
  kit/dapp/src/components/ui/form.tsx
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-schema.ts
  kit/dapp/src/lib/utils/date.ts
Labels: fix

#1422 fix: update test creatre mint stablecoin due to changes
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/portfolio-page.ts
  kit/e2e/tests/create-update-mint-transfer-stablecoin.spec.ts
Labels: fix, run-playwright-tests

#1420 fix: isin validation
  kit/dapp/src/components/blocks/form/inputs/form-input.tsx
  kit/dapp/src/lib/mutations/deposit/create/create-schema.ts
  kit/dapp/src/lib/utils/typebox/isin.ts
Labels: fix

#1425 fix: besu service pod selector
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-service.yaml
  kit/charts/atk/charts/thegraph/values.yaml
Labels: fix

#1443 fix: redirect after setting up wallet verification
  kit/dapp/src/components/blocks/auth/setup-wallet-security-form/form.tsx
  kit/dapp/src/lib/queries/user/wallet-security.tsx
Labels: fix

#1442 fix: improve mint form validation and feedback when no collateral available
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/burn-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/[assettype]/[address]/_components/manage-dropdown.tsx
Labels: fix

#1451 fix: localisation of dates
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/allowlist/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/blocklist/_components/columns.tsx
  kit/dapp/src/components/blocks/charts/assets/total-supply-changed.tsx
  kit/dapp/src/components/blocks/charts/assets/total-supply.tsx
  kit/dapp/src/components/blocks/charts/assets/total-transfers.tsx
  kit/dapp/src/components/blocks/charts/assets/total-volume.tsx
  kit/dapp/src/components/blocks/data-table/data-table-filter.tsx
  kit/dapp/src/components/blocks/language/language-menu-item.tsx
  kit/dapp/src/lib/charts.ts
  kit/dapp/src/lib/queries/user/current-user-detail.ts
  kit/dapp/src/lib/utils/date.ts
Labels: fix

#1446 fix: show app name in authenticator app
  kit/dapp/src/components/blocks/auth/two-factor/setup-two-factor-dialog.tsx
  kit/dapp/src/lib/mutations/user/two-factor/enable-two-factor-function.ts
Labels: fix

#1453 feat: my assets page transfer button
  kit/dapp/src/app/[locale]/(private)/portfolio/my-assets/(table)/page.tsx
Labels: feat

#1455 fix: registered users chart
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/users-history.tsx
  kit/dapp/src/lib/queries/user/user-count.tsx
Labels: fix

#1464 feat: platform deploy with ignition
  kit/contracts/contracts/shared/PlatformFactory.sol
  kit/contracts/contracts/shared/erc3643/factory/ITREXFactory.sol
  kit/contracts/contracts/shared/erc3643/factory/TREXFactory.sol
  kit/contracts/contracts/shared/onchainid/Identity.sol
  kit/contracts/ignition/modules/smart.ts
  kit/contracts/test/ERC3643.t.sol
Labels: feat

#1452 feat: allow search for asset and user name in events table
  kit/dapp/src/components/blocks/asset-events-table/asset-events-client-table.tsx
  kit/dapp/src/components/blocks/asset-events-table/asset-events-columns.tsx
  kit/dapp/src/components/blocks/asset-events-table/asset-events-table.tsx
  kit/dapp/src/components/blocks/evm-address/evm-address.tsx
  kit/dapp/src/lib/utils/address-name-cache.tsx
Labels: feat

#1469 fix: run dapp on node.js
  kit/dapp/Dockerfile
  kit/dapp/src/components/blocks/tab-navigation/tab-item.tsx
Labels: fix

#1470 feat: add mint, freeze and block actions to user detail holdings tab
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/user-assets-table/user-assets-table-columns.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-fragment.ts
  kit/dapp/src/lib/queries/asset-balance/asset-balance-schema.ts
Labels: feat

#1473 feat: automate subgraph deployment
  kit/charts/atk/Chart.lock
  kit/charts/atk/charts/observability/values.yaml
  kit/charts/atk/charts/thegraph/Chart.lock
  kit/charts/atk/charts/thegraph/templates/job-deploy-subgraph.yaml
  kit/charts/atk/charts/thegraph/templates/pvc-workspace.yaml
  kit/charts/atk/charts/thegraph/values.yaml
  kit/charts/atk/values.yaml
  package.json
Labels: feat

#1454 feat: change/remove pincode
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/loading.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/api/_components/create-api-key-form.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/profile/_components/pincode-card.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/profile/_components/two-factor-card.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/settings/profile/page.tsx
  kit/dapp/src/components/blocks/auth/password-dialog.tsx
  kit/dapp/src/components/blocks/auth/pincode/disable-pincode-dialog.tsx
  kit/dapp/src/components/blocks/auth/pincode/pincode-form.tsx
  kit/dapp/src/components/blocks/auth/pincode/set-pincode-dialog.tsx
  kit/dapp/src/components/blocks/auth/pincode/setup-pincode-dialog.tsx
  kit/dapp/src/components/blocks/auth/two-factor/setup-two-factor-dialog.tsx
  kit/dapp/src/components/blocks/auth/two-factor/setup-two-factor-form.tsx
  kit/dapp/src/components/blocks/auth/wallet-security-setup-dialog.tsx
  kit/dapp/src/lib/api/user.ts
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/auth/client.ts
  kit/dapp/src/lib/auth/plugins/pincode-plugin/client.ts
  kit/dapp/src/lib/auth/plugins/pincode-plugin/index.ts
  kit/dapp/src/lib/auth/plugins/two-factor.ts
  kit/dapp/src/lib/auth/plugins/utils.ts
  kit/dapp/src/lib/auth/redirect.ts
  kit/dapp/src/lib/auth/utils.ts
  kit/dapp/src/lib/db/schema-auth.ts
  kit/dapp/src/lib/mutations/safe-action.ts
  kit/dapp/src/lib/mutations/user/pincode/remove-pincode-function.ts
  kit/dapp/src/lib/mutations/user/pincode/set-pincode-function.ts
  kit/dapp/src/lib/mutations/user/pincode/update-pincode-function.ts
  kit/dapp/src/lib/mutations/user/set-pincode-action.ts
  kit/dapp/src/lib/mutations/user/set-pincode-schema.ts
  kit/dapp/src/lib/mutations/user/wallet/setup-wallet-security-function.ts
  kit/dapp/src/lib/queries/user/user-count.tsx
  kit/dapp/src/lib/queries/user/wallet-security.tsx
Labels: feat

#1476 feat: price formatter
  bun.lock
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/utils/format-compact.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/price.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/transactions.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/users.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/widget.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-count.tsx
Labels: feat

#1478 fix: default range takes into account the age of the asset
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/components/blocks/charts/assets/total-supply-changed.tsx
  kit/dapp/src/components/blocks/charts/assets/total-supply.tsx
  kit/dapp/src/components/blocks/charts/assets/total-transfers.tsx
  kit/dapp/src/components/blocks/charts/assets/total-volume.tsx
  kit/dapp/src/components/blocks/charts/portfolio/portfolio-value.tsx
  kit/dapp/src/components/blocks/charts/time-series/index.tsx
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-fragment.ts
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-schema.ts
  kit/dapp/src/lib/queries/deposit/deposit-fragment.ts
  kit/dapp/src/lib/queries/deposit/deposit-schema.ts
  kit/dapp/src/lib/queries/equity/equity-fragment.ts
  kit/dapp/src/lib/queries/equity/equity-schema.ts
  kit/dapp/src/lib/queries/fund/fund-fragment.ts
  kit/dapp/src/lib/queries/fund/fund-schema.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-fragment.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-schema.ts
  kit/dapp/src/utils/timeRange.ts
Labels: fix

#1480 fix: price format portfolio value chart
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/utils/format-compact.tsx
  kit/dapp/src/components/blocks/charts/area-chart.tsx
  kit/dapp/src/components/blocks/charts/bar-charts/horizontal-bar-chart.tsx
  kit/dapp/src/components/blocks/charts/portfolio/portfolio-value.tsx
  kit/dapp/src/components/blocks/charts/time-series/index.tsx
Labels: fix

#1479 fix: currency conversion performance improvements
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/lib/queries/asset-price/asset-price-fragment.ts
  kit/dapp/src/lib/queries/asset-price/asset-price.tsx
  kit/dapp/src/lib/queries/asset-price/total-assets-price.tsx
  kit/dapp/src/lib/queries/bond/bond-calculated.ts
  kit/dapp/src/lib/queries/bond/bond-detail.tsx
  kit/dapp/src/lib/queries/bond/bond-list.tsx
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-calculated.ts
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-detail.tsx
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-list.tsx
  kit/dapp/src/lib/queries/deposit/deposit-calculated.ts
  kit/dapp/src/lib/queries/deposit/deposit-detail.tsx
  kit/dapp/src/lib/queries/deposit/deposit-list.tsx
  kit/dapp/src/lib/queries/equity/equity-calculated.ts
  kit/dapp/src/lib/queries/equity/equity-detail.tsx
  kit/dapp/src/lib/queries/equity/equity-list.tsx
  kit/dapp/src/lib/queries/fund/fund-calculated.ts
  kit/dapp/src/lib/queries/fund/fund-detail.tsx
  kit/dapp/src/lib/queries/fund/fund-list.tsx
  kit/dapp/src/lib/queries/stablecoin/stablecoin-calculated.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-detail.tsx
  kit/dapp/src/lib/queries/stablecoin/stablecoin-list.tsx
Labels: fix

#1489 fix: portfolio dashboard pricing and graph
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/lib/queries/asset-price/asset-price.tsx
Labels: fix

#1491 feat: add error checking for off-the-shelf version
  bun.lock
  kit/dapp/.gitignore
  kit/dapp/next.config.ts
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/error.tsx
  kit/dapp/src/app/layout.tsx
  kit/dapp/src/components/PostHogProvider.tsx
  kit/dapp/src/lib/posthog.ts
  kit/dapp/src/middleware.ts
Labels: feat

#1492 feat: make use of suspense to improve initial rendering time
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/charts.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/collateral.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-header.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/transactions-chart.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/page.tsx
  kit/dapp/src/components/blocks/skeleton/detail-grid-skeleton.tsx
Labels: feat

#1493 fix: update portfolio asset balance in test due to recent changes
  kit/e2e/pages/portfolio-page.ts
Labels: fix, run-playwright-tests

#1497 fix: emitter of fixed yield event should be an asset
  kit/subgraph/src/assets/fixedyield.ts
Labels: fix

#1501 fix: big int error
  bun.lock
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/components/blocks/tab-navigation/tab-item.tsx
  kit/dapp/src/lib/queries/bond/bond-schema.ts
  kit/dapp/src/lib/utils/typebox/bigint.ts
Labels: fix

#1503 feat: telemetry setup
  .docker/otel-collector-config.yaml
  .docker/prometheus.yaml
  README.md
  bun.lock
  docker-compose.yml
  kit/dapp/package.json
  kit/dapp/src/instrumentation.ts
Labels: feat

#1505 fix: create right besu configmap when dev mode used
  kit/charts/atk/charts/besu-network/charts/besu-genesis/values.yaml
  kit/charts/atk/charts/thegraph/templates/job-deploy-subgraph.yaml
  kit/charts/atk/charts/thegraph/values.yaml
  kit/charts/atk/values-prod.yaml
  kit/charts/atk/values.yaml
Labels: fix

#1507 fix: add indexes to hasura tables
  kit/dapp/src/lib/db/schema-asset-tokenization.ts
  kit/dapp/src/lib/db/schema-auth.ts
  kit/dapp/src/lib/db/schema-exchange-rates.ts
Labels: fix

#1514 fix: add caching
  bun.lock
  kit/dapp/next.config.ts
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/components/layout/user-dropdown.tsx
  kit/dapp/src/lib/auth/auth.ts
  kit/dapp/src/lib/auth/utils.ts
  kit/dapp/src/lib/mutations/contact/add-contact-function.ts
  kit/dapp/src/lib/queries/asset-activity/asset-activity.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-detail.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-list.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-user.tsx
  kit/dapp/src/lib/queries/asset-events/asset-events-list.tsx
  kit/dapp/src/lib/queries/asset-price/asset-price.tsx
  kit/dapp/src/lib/queries/asset-price/total-assets-price.tsx
  kit/dapp/src/lib/queries/asset-stats/asset-stats.tsx
  kit/dapp/src/lib/queries/asset/asset-search.tsx
  kit/dapp/src/lib/queries/asset/asset-users-detail.tsx
  kit/dapp/src/lib/queries/bond-factory/bond-factory-address-available.tsx
  kit/dapp/src/lib/queries/bond-factory/bond-factory-predict-address.tsx
  kit/dapp/src/lib/queries/bond/bond-detail.tsx
  kit/dapp/src/lib/queries/bond/bond-list.tsx
  kit/dapp/src/lib/queries/bond/bond-yield-distribution.ts
  kit/dapp/src/lib/queries/contact/contact-detail.tsx
  kit/dapp/src/lib/queries/contact/contact-list.tsx
  kit/dapp/src/lib/queries/cryptocurrency-factory/cryptocurrency-factory-address-available.tsx
  kit/dapp/src/lib/queries/cryptocurrency-factory/cryptocurrency-factory-predict-address.tsx
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-detail.tsx
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-list.tsx
  kit/dapp/src/lib/queries/deposit-factory/deposit-factory-address-available.tsx
  kit/dapp/src/lib/queries/deposit-factory/deposit-factory-predict-address.tsx
  kit/dapp/src/lib/queries/deposit/deposit-detail.tsx
  kit/dapp/src/lib/queries/deposit/deposit-list.tsx
  kit/dapp/src/lib/queries/equity-factory/equity-factory-address-available.tsx
  kit/dapp/src/lib/queries/equity-factory/equity-factory-predict-address.tsx
  kit/dapp/src/lib/queries/equity/equity-detail.tsx
  kit/dapp/src/lib/queries/equity/equity-list.tsx
  kit/dapp/src/lib/queries/fixed-yield/fixed-yield-detail.tsx
  kit/dapp/src/lib/queries/fixed-yield/fixed-yield-list.tsx
  kit/dapp/src/lib/queries/fund-factory/fund-factory-address-available.tsx
  kit/dapp/src/lib/queries/fund-factory/fund-factory-predict-address.tsx
  kit/dapp/src/lib/queries/fund/fund-detail.tsx
  kit/dapp/src/lib/queries/fund/fund-list.tsx
  kit/dapp/src/lib/queries/portfolio/portfolio-history.ts
  kit/dapp/src/lib/queries/portfolio/portfolio-stats.tsx
  kit/dapp/src/lib/queries/setting/setting-detail.tsx
  kit/dapp/src/lib/queries/sidebar-assets/sidebar-assets.tsx
  kit/dapp/src/lib/queries/stablecoin-factory/stablecoin-factory-address-available.tsx
  kit/dapp/src/lib/queries/stablecoin-factory/stablecoin-factory-predict-address.tsx
  kit/dapp/src/lib/queries/stablecoin/stablecoin-detail.tsx
  kit/dapp/src/lib/queries/stablecoin/stablecoin-list.tsx
  kit/dapp/src/lib/queries/transactions/transaction-detail.tsx
  kit/dapp/src/lib/queries/transactions/transaction-list.tsx
  kit/dapp/src/lib/queries/transactions/transactions-processed.tsx
  kit/dapp/src/lib/queries/transactions/transactions-recent.tsx
  kit/dapp/src/lib/queries/transactions/transactions-timeline.tsx
  kit/dapp/src/lib/queries/user/user-count.tsx
  kit/dapp/src/lib/queries/user/user-detail.tsx
  kit/dapp/src/lib/queries/user/user-search.tsx
Labels: fix

#1520 fix: add access control and caching
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/lib/auth/utils.ts
  kit/dapp/src/lib/config/settings.ts
  kit/dapp/src/lib/providers/asset-price/asset-price-api.ts
  kit/dapp/src/lib/providers/asset-price/asset-price.ts
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates.ts
  kit/dapp/src/lib/queries/asset/asset-users-detail.tsx
  kit/dapp/src/lib/queries/setting/setting-detail.tsx
  kit/dapp/src/lib/queries/user/wallet-security.tsx
  kit/dapp/src/lib/utils/tracing.ts
Labels: fix

#1521 fix: asset withdraw
  bun.lock
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/withdraw-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/withdraw-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/withdraw-form/steps/target.tsx
  kit/dapp/src/components/blocks/form/inputs/form-otp-dialog.tsx
Labels: fix

#1526 feat: move the tabs out of the critical path
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/asset-tabs.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/badge-loader.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/layout.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/_components/user-badge-loader.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/_components/user-tabs.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/layout.tsx
  kit/dapp/src/components/blocks/tab-navigation/tab-item.tsx
Labels: feat

#1527 fix: create stablecoin validation form test
  kit/e2e/pages/create-asset-form.ts
  kit/e2e/tests/create-stablecoin-validation.spec.ts
Labels: run-playwright-tests

#1529 fix: onboarding issues
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/badge-loader.tsx
  kit/dapp/src/components/blocks/asset-events-table/asset-events-table.tsx
  kit/dapp/src/lib/auth/plugins/utils.ts
  kit/dapp/src/lib/auth/redirect.ts
  kit/dapp/src/lib/auth/utils.ts
  kit/dapp/src/lib/mutations/safe-action.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-list.tsx
  kit/dapp/src/lib/queries/setting/setting-detail.tsx
  kit/dapp/src/lib/queries/user/user-search.tsx
  kit/dapp/src/lib/queries/user/wallet-security.tsx
Labels: fix

#1530 fix: first signup
  kit/dapp/src/lib/queries/user/wallet-security.tsx
Labels: fix

#1541 chore: cleanup unused files and dependencies
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table-columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table-data.ts
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/page.tsx
  kit/dapp/src/app/api/[[...slugs]]/route.ts
  kit/dapp/src/app/forbidden.tsx
  kit/dapp/src/components/blocks/data-table/data-table-faceted-filter.tsx
  kit/dapp/src/components/blocks/data-table/data-table-filter.tsx
  kit/dapp/src/components/blocks/data-table/data-table-toolbar.tsx
  kit/dapp/src/lib/posthog.ts
  kit/dapp/src/lib/queries/transactions/wait-for-transaction.test.ts
  kit/dapp/src/lib/utils/error-handler.ts
  kit/dapp/src/lib/utils/test-preload.ts
  kit/dapp/src/types/translations.ts
Labels: chore

#1542 feat: improve loading behaviour when the backend is slow
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/asset-management-skeleton.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/sidebar.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/asset-activity-skeleton.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/assets-supply-skeleton.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/transactions-history-skeleton.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/users-history-skeleton.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/charts/users-history.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/table/latest-events-skeleton.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/widget-skeleton.tsx
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/layout.tsx
  kit/dapp/src/app/[locale]/(private)/loading.tsx
  kit/dapp/src/components/blocks/auth/wallet-security-client.tsx
  kit/dapp/src/components/blocks/auth/wallet-security.tsx
  kit/dapp/src/components/blocks/charts/chart-skeleton.tsx
  kit/dapp/src/components/layout/header.tsx
  kit/dapp/src/lib/queries/user/wallet-security-schema.ts
  kit/dapp/src/lib/queries/user/wallet-security.tsx
Labels: feat

#1543 feat: typesafe api client
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/page.tsx
  kit/dapp/src/app/api/[[...slugs]]/route.ts
  kit/dapp/src/components/blocks/evm-address/evm-address-balances.tsx
  kit/dapp/src/components/blocks/evm-address/evm-address.tsx
  kit/dapp/src/components/layout/header.tsx
  kit/dapp/src/components/layout/user-dropdown.tsx
  kit/dapp/src/lib/api/client.ts
  kit/dapp/src/lib/api/index.ts
  kit/dapp/src/lib/hooks/use-pending-transactions.ts
  kit/dapp/src/lib/queries/asset-detail.ts
  kit/dapp/src/lib/queries/asset-events/asset-events-list.tsx
  kit/dapp/src/lib/queries/sidebar-assets/sidebar-assets.tsx
Labels: feat

#1545 fix: limit the amount of data that is transferred for sidebar assets
  kit/dapp/src/lib/queries/sidebar-assets/sidebar-assets.ts
Labels: fix

#1546 fix: speed up total assets price
  bun.lock
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/greeting/greeting.tsx
  kit/dapp/src/lib/auth/utils.ts
  kit/dapp/src/lib/queries/asset-price/total-assets-price.ts
Labels: fix

#1557 fix: show page after setting up wallet verification
  kit/dapp/src/components/blocks/auth/setup-wallet-security-form/form.tsx
  kit/dapp/src/components/blocks/auth/wallet-security-client.tsx
  kit/dapp/src/components/blocks/auth/wallet-security-setup-dialog.tsx
  kit/dapp/src/components/blocks/form/form.tsx
Labels: fix

#1560 fix: add random timeout to job setup to not overlap migration
  kit/charts/atk/charts/thegraph/templates/job-deploy-subgraph.yaml
  kit/charts/atk/charts/thegraph/values.yaml
  kit/charts/atk/values-prod.yaml
  kit/charts/atk/values.yaml
  package.json
Labels: fix

#1562 feat: cache the full pages and a little api improvement
  .vscode/settings.json
  kit/dapp/src/app/[locale]/(private)/layout.tsx
  kit/dapp/src/lib/api/transaction.ts
Labels: feat

#1575 fix: remove units over time as it is the same as total supply
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/charts.tsx
  kit/dapp/src/components/blocks/charts/assets/bond/bond-units-over-time.tsx
  kit/dapp/src/components/blocks/charts/assets/total-supply.tsx
Labels: fix

#1576 fix: run graph random-delay container only for prod setup
  kit/charts/atk/charts/thegraph/values.yaml
  kit/charts/atk/values-prod.yaml
Labels: fix

#1578 fix: only show secured ui if user is signed in
  kit/dapp/src/components/blocks/auth/setup-wallet-security-form/form.tsx
  kit/dapp/src/components/blocks/auth/setup-wallet-security-form/steps/summary.tsx
  kit/dapp/src/components/blocks/auth/wallet-security-client.tsx
  kit/dapp/src/components/blocks/auth/wallet-security-setup-dialog.tsx
  kit/dapp/src/lib/queries/user/wallet-security-schema.ts
  kit/dapp/src/lib/queries/user/wallet-security.tsx
Labels: fix

#1579 fix: updating user currency doesnt update amounts on dashboard
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/price.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/collateral.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/page.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/(dashboard)/_components/header/my-assets-header.tsx
  kit/dapp/src/components/blocks/charts/assets/bond/bond-status-progress.tsx
  kit/dapp/src/components/blocks/charts/assets/bond/bond-yield-distribution.tsx
  kit/dapp/src/components/blocks/currency/currency-menu-item.tsx
  kit/dapp/src/components/layout/user-dropdown.tsx
  kit/dapp/src/lib/api/bond.ts
  kit/dapp/src/lib/api/cryptocurrency.ts
  kit/dapp/src/lib/api/deposit.ts
  kit/dapp/src/lib/api/equity.ts
  kit/dapp/src/lib/api/fund.ts
  kit/dapp/src/lib/api/stablecoin.ts
  kit/dapp/src/lib/mutations/bond/redeem/redeem-function.ts
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates-update-api.ts
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates.ts
  kit/dapp/src/lib/queries/asset-detail.ts
  kit/dapp/src/lib/queries/asset-price/asset-price.ts
  kit/dapp/src/lib/queries/asset-price/total-assets-price.ts
  kit/dapp/src/lib/queries/bond/bond-calculated.ts
  kit/dapp/src/lib/queries/bond/bond-detail.ts
  kit/dapp/src/lib/queries/bond/bond-list.ts
  kit/dapp/src/lib/queries/bond/bond-yield-coverage.ts
  kit/dapp/src/lib/queries/bond/bond-yield-distribution.ts
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-calculated.ts
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-detail.ts
  kit/dapp/src/lib/queries/cryptocurrency/cryptocurrency-list.ts
  kit/dapp/src/lib/queries/deposit/deposit-calculated.ts
  kit/dapp/src/lib/queries/deposit/deposit-detail.ts
  kit/dapp/src/lib/queries/deposit/deposit-list.ts
  kit/dapp/src/lib/queries/equity/equity-calculated.ts
  kit/dapp/src/lib/queries/equity/equity-detail.ts
  kit/dapp/src/lib/queries/equity/equity-list.ts
  kit/dapp/src/lib/queries/fund/fund-calculated.ts
  kit/dapp/src/lib/queries/fund/fund-detail.ts
  kit/dapp/src/lib/queries/fund/fund-list.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-calculated.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-detail.ts
  kit/dapp/src/lib/queries/stablecoin/stablecoin-list.ts
Labels: fix

#1580 fix: updating platform settings default currency does not work
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/(table)/_components/table.tsx
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/_components/base-currency-settings-form.tsx
  kit/dapp/src/app/[locale]/(private)/platform/settings/(home)/page.tsx
  kit/dapp/src/lib/config/settings.ts
Labels: fix

#1581 feat: performance tuning of the api routes
  kit/dapp/src/app/api/[[...slugs]]/route.ts
  kit/dapp/src/lib/api/asset-activity.ts
  kit/dapp/src/lib/api/asset-balance.ts
  kit/dapp/src/lib/api/asset-events.ts
  kit/dapp/src/lib/api/asset-stats.ts
  kit/dapp/src/lib/api/asset.ts
  kit/dapp/src/lib/api/bond.ts
  kit/dapp/src/lib/api/contact.ts
  kit/dapp/src/lib/api/cryptocurrency.ts
  kit/dapp/src/lib/api/deposit.ts
  kit/dapp/src/lib/api/equity.ts
  kit/dapp/src/lib/api/fixed-yield.ts
  kit/dapp/src/lib/api/fund.ts
  kit/dapp/src/lib/api/index.ts
  kit/dapp/src/lib/api/setting.ts
  kit/dapp/src/lib/api/stablecoin.ts
  kit/dapp/src/lib/api/transaction.ts
  kit/dapp/src/lib/api/user.ts
  kit/dapp/src/lib/providers/asset-price/asset-price-api.ts
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates-api.ts
  kit/dapp/src/lib/providers/exchange-rates/exchange-rates-update-api.ts
  kit/dapp/src/lib/utils/elysia.ts
Labels: feat

#1592 fix: dynamic type check in access control wrapper
  kit/dapp/src/lib/utils/access-control.ts
Labels: fix

#1593 fix: helm chart dependency
  kit/charts/atk/charts/besu-network/Chart.lock
  package.json
  turbo.json
Labels: fix

#1594 feat: add more api doc fields
  kit/dapp/src/lib/api/default-error-schema.ts
  kit/dapp/src/lib/api/index.ts
Labels: feat

#1595 feat: initial redemptions table
  kit/dapp/src/lib/db/index.ts
  kit/dapp/src/lib/db/schema-assets.ts
  kit/dapp/src/lib/db/schema-redemptions.ts
  kit/dapp/src/lib/providers/asset-price/asset-price.ts
Labels: feat

#1596 fix: remove access control for burn action
  kit/dapp/src/lib/mutations/burn/burn-function.ts
Labels: fix

#1597 fix: bond top up & mint limits
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/detail-page-header.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/top-up-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/layout.tsx
Labels: fix

#1561 fix: validate the correct pincode challenge
  bun.lock
  kit/dapp/src/app/[locale]/(private)/assets/(dashboard)/_components/widgets/price.tsx
  kit/dapp/src/components/blocks/auth/setup-wallet-security-form/form.tsx
  kit/dapp/src/lib/challenge.ts
Labels: fix

#1604 fix: mint form check if user is in allowlist
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/cryptocurrencies.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/deposits.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/equities.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/funds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/related/stablecoins.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/mint-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/holders/page.tsx
  kit/dapp/src/components/blocks/user-assets-table/user-assets-table-columns.tsx
  kit/dapp/src/lib/queries/asset-balance/asset-balance-fragment.ts
  kit/dapp/src/lib/queries/asset-balance/asset-balance-schema.ts
Labels: fix

#1602 fix: remove price for bonds from create form
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/components/blocks/create-forms/bond/form.tsx
  kit/dapp/src/components/blocks/create-forms/bond/steps/configuration.tsx
  kit/dapp/src/components/blocks/create-forms/bond/steps/summary.tsx
  kit/dapp/src/lib/mutations/bond/create/create-function.ts
  kit/dapp/src/lib/mutations/bond/create/create-schema.ts
  kit/dapp/src/lib/providers/asset-price/asset-price-api.ts
  kit/dapp/src/lib/providers/asset-price/asset-price.ts
  kit/dapp/src/lib/queries/bond/bond-calculated.ts
Labels: fix

#1603 fix: add type to the name when selecting an underlying asset
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/actions/change-role-action.tsx
  kit/dapp/src/components/blocks/evm-address/evm-address.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
Labels: fix

#1614 fix: create mint transfer cryptocurrency test
  kit/e2e/test-data/asset-data.ts
  kit/e2e/tests/create-mint-transfer-cryptocurrency.spec.ts
  kit/e2e/tests/create-top-up-mint-transfer-bond.spec.ts
Labels: run-playwright-tests

#1623 fix: improve erpc parameters
  kit/charts/atk/charts/blockscout/values.yaml
  kit/charts/atk/charts/erpc/values.yaml
  kit/charts/atk/charts/portal/values.yaml
  kit/charts/atk/values-prod.yaml
  kit/charts/atk/values.yaml
Labels: fix

#1626 fix: adjust alloy configuration
  kit/charts/atk/charts/dapp/values.yaml
  kit/charts/atk/charts/hasura/values.yaml
  kit/charts/atk/charts/observability/values.yaml
  kit/charts/atk/charts/thegraph/templates/job-deploy-subgraph.yaml
  kit/charts/atk/values.yaml
Labels: fix

#1625 fix: link to your activity when no pending txns
  kit/dapp/messages/en.json
  kit/dapp/src/components/blocks/pending-transactions-dropdown/pending-transactions-dropdown.tsx
Labels: fix

#1624 fix: missing margins for sheet forms
  kit/dapp/src/components/blocks/form/form.tsx
Labels: fix

#1632 fix: setting initial state in useLocalStorage
  kit/dapp/src/hooks/use-local-storage.ts
Labels: fix

#1633 fix: remove price field in bond test due to recent changes
  kit/e2e/pages/admin-page.ts
  kit/e2e/pages/create-asset-form.ts
  kit/e2e/pages/portfolio-page.ts
  kit/e2e/test-data/asset-data.ts
  kit/e2e/tests/create-bond-validation.spec.ts
  kit/e2e/tests/create-top-up-mint-transfer-bond.spec.ts
Labels: fix, run-playwright-tests

#1653 fix: enchance redeem bonds description
  kit/dapp/messages/en.json
Labels: fix

#1628 fix: yield periods
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/top-up-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/_components/details.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/_components/period-table.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/_components/set-yield-schedule-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/_components/set-yield-schedule-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/yield/page.tsx
  kit/dapp/src/components/blocks/form/summary/card.tsx
  kit/dapp/src/components/blocks/percentage-progress/percentage-progress.tsx
  kit/dapp/src/hooks/use-local-storage.ts
  kit/dapp/src/lib/queries/bond/bond-fragment.ts
  kit/dapp/src/lib/queries/bond/bond-schema.ts
  kit/dapp/src/lib/queries/bond/bond-yield-coverage.ts
  kit/dapp/src/lib/queries/bond/bond-yield-distribution.ts
  kit/dapp/src/lib/queries/fixed-yield/fixed-yield-fragment.ts
  kit/dapp/src/lib/queries/fixed-yield/fixed-yield-schema.ts
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/bond.ts
  kit/subgraph/src/assets/fetch/bond.ts
  kit/subgraph/src/assets/fetch/fixed-yield.ts
  kit/subgraph/src/assets/fixed-yield.ts
  kit/subgraph/subgraph.yaml
Labels: fix

#1664 fix: update user actions caching
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/actions/ban-user-action.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/actions/change-role-action.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/(details)/_components/details-grid.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/_actions/revalidate-user.ts
  kit/dapp/src/lib/mutations/user/update-kyc-status-function.ts
  kit/dapp/src/lib/queries/user/user-detail.ts
  kit/dapp/src/lib/queries/user/user-list.ts
Labels: fix

#1655 feat: helm publish
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/tag.yml
  kit/charts/atk/Chart.lock
  kit/charts/atk/Chart.yaml
  kit/charts/atk/charts/besu-network/charts/besu-genesis/files/genesis-output.json
  kit/charts/atk/charts/support/values.yaml
  kit/charts/atk/values.yaml
  kit/charts/package.json
  kit/contracts/genesis-output.sh
  package.json
  turbo.json
Labels: feat

#1680 chore: update chart Readme
  kit/charts/atk/README.md
  kit/charts/atk/values.yaml
Labels: chore

#1697 fix: run ct utility only on changes
  .github/workflows/pr.yml
Labels: fix

#1683 feat: create dvp swap form
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/trade-management.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/sidebar.tsx
  kit/dapp/src/app/[locale]/(private)/trades/dvp/_components/create-dvp-swap-form/form.tsx
  kit/dapp/src/app/[locale]/(private)/trades/dvp/_components/create-dvp-swap-form/steps/amount.tsx
  kit/dapp/src/app/[locale]/(private)/trades/dvp/_components/create-dvp-swap-form/steps/configuration.tsx
  kit/dapp/src/app/[locale]/(private)/trades/dvp/_components/create-dvp-swap-form/steps/summary.tsx
  kit/dapp/src/app/[locale]/(private)/trades/dvp/_components/create-dvp-swap-form/steps/user.tsx
  kit/dapp/src/app/[locale]/(private)/trades/dvp/layout.tsx
  kit/dapp/src/app/[locale]/(private)/trades/dvp/page.tsx
  kit/dapp/src/app/[locale]/(private)/trades/layout.tsx
  kit/dapp/src/components/blocks/form/form-step.tsx
  kit/dapp/src/components/blocks/form/inputs/form-assets.tsx
  kit/dapp/src/components/blocks/form/summary/item.tsx
  kit/dapp/src/components/blocks/form/summary/secret-item.tsx
  kit/dapp/src/lib/mutations/dvp/create/create-action.ts
  kit/dapp/src/lib/mutations/dvp/create/create-function.ts
  kit/dapp/src/lib/mutations/dvp/create/create-schema.ts
  kit/dapp/src/lib/utils/number.ts
Labels: feat

#1710 fix: weird date for collateral proof expiration
  kit/dapp/src/lib/mutations/deposit/create/create-function.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-function.ts
  kit/dapp/src/lib/queries/deposit-factory/deposit-factory-predict-address.tsx
  kit/dapp/src/lib/queries/deposit/deposit-calculated.ts
  kit/dapp/src/lib/queries/stablecoin-factory/stablecoin-factory-predict-address.tsx
  kit/dapp/src/lib/utils/date.ts
Labels: fix

#1696 fix: stop minting bonds when yields are active, use total supply at period end to get yield for period
  kit/contracts/contracts/Bond.sol
  kit/contracts/contracts/FixedYield.sol
  kit/contracts/contracts/interfaces/IFixedYield.sol
  kit/contracts/test/Bond.t.sol
  kit/contracts/test/FixedYield.t.sol
  kit/contracts/test/mocks/ERC20YieldMock.sol
Labels: fix

#1635 feat: airdrop contracts
  kit/contracts/contracts/airdrop/AirdropBase.sol
  kit/contracts/contracts/airdrop/AirdropFactory.args
  kit/contracts/contracts/airdrop/AirdropFactory.sol
  kit/contracts/contracts/airdrop/PushAirdrop.sol
  kit/contracts/contracts/airdrop/StandardAirdrop.sol
  kit/contracts/contracts/airdrop/VestingAirdrop.sol
  kit/contracts/contracts/airdrop/interfaces/IClaimStrategy.sol
  kit/contracts/contracts/airdrop/strategies/LinearVestingStrategy.sol
  kit/contracts/ignition/modules/airdrop-factory.ts
  kit/contracts/ignition/modules/push-airdrop.ts
  kit/contracts/ignition/modules/standard-airdrop.ts
  kit/contracts/ignition/modules/vesting-airdrop.ts
  kit/contracts/remappings.txt
  kit/contracts/test/AirdropFactory.t.sol
  kit/contracts/test/LinearVestingAirdrop.t.sol
  kit/contracts/test/PushAirdrop.t.sol
  kit/contracts/test/StandardAirdrop.t.sol
  kit/contracts/test/VestingAirdrop.t.sol
  kit/subgraph/schema.graphql
  kit/subgraph/src/assets/pushAirdrop.ts
  kit/subgraph/src/assets/standardAirdrop.ts
  kit/subgraph/src/assets/vestingAirdrop.ts
  kit/subgraph/src/factories/airdropFactory.ts
  kit/subgraph/subgraph.yaml
Labels: feat

#1711 feat: proxy image through harbor
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/genesis-job-cleanup.yaml
  kit/charts/atk/charts/besu-network/charts/besu-genesis/templates/genesis-job-init.yaml
  kit/charts/atk/charts/besu-network/charts/besu-genesis/values.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/templates/node-statefulset.yaml
  kit/charts/atk/charts/besu-network/charts/besu-node/values.yaml
  kit/charts/atk/charts/dapp/templates/deployment.yaml
  kit/charts/atk/charts/dapp/values.yaml
  kit/charts/atk/charts/hasura/templates/drizzle-migration-job.yaml
  kit/charts/atk/charts/hasura/templates/drizzle-migration-pvc.yaml
  kit/charts/atk/charts/hasura/values.yaml
  kit/charts/atk/charts/observability/values.yaml
  kit/charts/atk/charts/support/values.yaml
  kit/charts/atk/charts/thegraph/templates/job-deploy-subgraph.yaml
  kit/charts/atk/charts/thegraph/values.yaml
  kit/charts/atk/templates/image-pull.secrets.yaml
  kit/charts/atk/values-prod.yaml
  kit/charts/atk/values.yaml
  kit/charts/configure-proxy.ts
  kit/charts/package.json
  package.json
  turbo.json
Labels: feat

#1731 fix: tag workflow helm publish
  .github/workflows/tag.yml
Labels: fix

#1732 feat: merge create and hem job into one
  .github/workflows/tag.yml
Labels: feat

#1730 fix: fancy filter issues
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/allowlist/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/permissions/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/users/(table)/_components/columns.tsx
  kit/dapp/src/components/blocks/data-table/data-table-filter.tsx
  kit/dapp/src/components/ui/checkbox.tsx
Labels: fix

#1733 fix: airdrop contracts version & subgraph naming convention
  kit/contracts/contracts/AirdropFactory.sol
  kit/contracts/contracts/PushAirdrop.sol
  kit/contracts/contracts/StandardAirdrop.sol
  kit/contracts/contracts/VestingAirdrop.sol
  kit/contracts/contracts/airdrop/AirdropBase.sol
  kit/contracts/contracts/airdrop/interfaces/IClaimStrategy.sol
  kit/contracts/contracts/airdrop/strategies/LinearVestingStrategy.sol
  kit/contracts/test/AirdropFactory.t.sol
  kit/contracts/test/LinearVestingAirdrop.t.sol
  kit/contracts/test/PushAirdrop.t.sol
  kit/contracts/test/StandardAirdrop.t.sol
  kit/contracts/test/VestingAirdrop.t.sol
  kit/subgraph/src/assets/push-airdrop.ts
  kit/subgraph/src/assets/standard-airdrop.ts
  kit/subgraph/src/assets/vesting-airdrop.ts
  kit/subgraph/src/factories/airdrop-factory.ts
  kit/subgraph/subgraph.yaml
Labels: fix

#1735 feat: add a context switcher
  kit/contracts/remappings.txt
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/assets-sidebar.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/platform-management.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/settings-management.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/user-settings-management.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/platform-sidebar.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/portfolio-sidebar.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/sidebar.tsx
  kit/dapp/src/app/[locale]/(private)/assets/layout.tsx
  kit/dapp/src/app/[locale]/(private)/layout.tsx
  kit/dapp/src/app/[locale]/(private)/platform/(dashboard)/page.tsx
  kit/dapp/src/app/[locale]/(private)/platform/api/_components/api-key-columns.tsx
  kit/dapp/src/app/[locale]/(private)/platform/api/_components/create-api-key-button.tsx
  kit/dapp/src/app/[locale]/(private)/platform/api/_components/create-api-key-form.tsx
  kit/dapp/src/app/[locale]/(private)/platform/api/_components/delete-api-key-action.tsx
  kit/dapp/src/app/[locale]/(private)/platform/api/docs/page.tsx
  kit/dapp/src/app/[locale]/(private)/platform/api/layout.tsx
  kit/dapp/src/app/[locale]/(private)/platform/api/page.tsx
  kit/dapp/src/app/[locale]/(private)/platform/layout.tsx
  kit/dapp/src/app/[locale]/(private)/portfolio/layout.tsx
  kit/dapp/src/components/layout/mode-guard.tsx
  kit/dapp/src/components/layout/nav-mode.tsx
  kit/dapp/src/components/ui/animated-icons/chart-line.tsx
  kit/dapp/src/components/ui/animated-icons/hand-coins.tsx
  kit/subgraph/subgraph.yaml
Labels: feat

#1736 fix: change the fund related titles
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
Labels: fix

#1737 feat: use profile settings under user dropdown
  kit/dapp/languine.lock
  kit/dapp/messages/ar.json
  kit/dapp/messages/de.json
  kit/dapp/messages/en.json
  kit/dapp/messages/ja.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/user-settings-management.tsx
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/portfolio-sidebar.tsx
  kit/dapp/src/components/layout/user-dropdown.tsx
Labels: feat

#1734 fix: add bond factory to the indexer again, subgraph lint script
  bun.lock
  kit/e2e/package.json
  kit/subgraph/eslint.config.js
  kit/subgraph/package.json
  kit/subgraph/subgraph.yaml
  turbo.json
Labels: fix

#1738 fix: user assets table
  kit/dapp/src/app/[locale]/(private)/platform/users/[id]/latest-events/page.tsx
Labels: fix

#1743 fix: missing info box for ownership concentration
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/(details)/_components/details/bonds.tsx
Labels: fix

#1764 fix: sheet remains open until transaction is mined
  kit/dapp/src/components/blocks/form/form.tsx
  kit/dapp/src/lib/mutations/bond/create/create-function.ts
  kit/dapp/src/lib/mutations/cryptocurrency/create/create-function.ts
  kit/dapp/src/lib/mutations/deposit/create/create-function.ts
  kit/dapp/src/lib/mutations/equity/create/create-function.ts
  kit/dapp/src/lib/mutations/fund/create/create-function.ts
  kit/dapp/src/lib/mutations/stablecoin/create/create-function.ts
Labels: fix

#1722 feat: actions section
  kit/dapp/messages/en.json
  kit/dapp/src/app/[locale]/(private)/_components/sidebar/items/asset-management.tsx
  kit/dapp/src/app/[locale]/(private)/actions/completed/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/actions/completed/page.tsx
  kit/dapp/src/app/[locale]/(private)/actions/layout.tsx
  kit/dapp/src/app/[locale]/(private)/actions/pending/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/actions/pending/page.tsx
  kit/dapp/src/app/[locale]/(private)/actions/upcoming/_components/columns.tsx
  kit/dapp/src/app/[locale]/(private)/actions/upcoming/page.tsx
  kit/dapp/src/app/[locale]/(private)/assets/[assettype]/[address]/_components/manage-dropdown/manage-dropdown.tsx
  kit/dapp/src/components/blocks/asset-designer/asset-designer-dialog.tsx
  kit/dapp/src/components/blocks/bonds/mature-form/form.tsx
  kit/dapp/src/components/blocks/bonds/mature-form/steps/summary.tsx
  kit/dapp/src/components/layout/nav-mode.tsx
  kit/dapp/src/lib/actions/completed.ts
  kit/dapp/src/lib/actions/incomplete.ts
  kit/dapp/src/lib/actions/transactions.ts
  kit/dapp/src/lib/actions/types.ts
  kit/dapp/src/lib/queries/bond/bond-matured-event.ts
  kit/dapp/src/lib/queries/bond/bond-matured-fragment.ts
  kit/dapp/src/lib/upload.ts
Labels: feat

#1761 feat: add Ethereum Attestation Service (EAS) contracts and dependencies
  kit/contracts/contracts/AirdropFactory.sol
  kit/contracts/contracts/Bond.sol
  kit/contracts/contracts/BondFactory.sol
  kit/contracts/contracts/CryptoCurrency.sol
  kit/contracts/contracts/CryptoCurrencyFactory.sol
  kit/contracts/contracts/Deposit.sol
  kit/contracts/contracts/DepositFactory.sol
  kit/contracts/contracts/DvPSwap.sol
  kit/contracts/contracts/DvPSwapFactory.sol
  kit/contracts/contracts/EAS.md
  kit/contracts/contracts/EAS.sol
  kit/contracts/contracts/EASSchemaRegistry.sol
  kit/contracts/contracts/Equity.sol
  kit/contracts/contracts/EquityFactory.sol
  kit/contracts/contracts/FixedYield.sol
  kit/contracts/contracts/FixedYieldFactory.sol
  kit/contracts/contracts/Forwarder.sol
  kit/contracts/contracts/Fund.sol
  kit/contracts/contracts/FundFactory.sol
  kit/contracts/contracts/PushAirdrop.sol
  kit/contracts/contracts/StableCoin.sol
  kit/contracts/contracts/StableCoinFactory.sol
  kit/contracts/contracts/StandardAirdrop.sol
  kit/contracts/contracts/VestingAirdrop.sol
  kit/contracts/contracts/airdrop/AirdropBase.sol
  kit/contracts/contracts/airdrop/interfaces/IClaimStrategy.sol
  kit/contracts/contracts/airdrop/strategies/LinearVestingStrategy.sol
  kit/contracts/contracts/extensions/ERC20HistoricalBalances.sol
  kit/contracts/contracts/extensions/ERC20Yield.sol
  kit/contracts/contracts/interfaces/IFixedYield.sol
  kit/contracts/foundry.toml
  kit/contracts/hardhat.config.ts
  kit/contracts/remappings.txt
  kit/contracts/soldeer.lock
  kit/contracts/test/AirdropFactory.t.sol
  kit/contracts/test/Bond.t.sol
  kit/contracts/test/BondFactory.t.sol
  kit/contracts/test/CryptoCurrency.t.sol
  kit/contracts/test/CryptoCurrencyFactory.t.sol
  kit/contracts/test/Deposit.t.sol
  kit/contracts/test/DepositFactory.t.sol
  kit/contracts/test/DvPSwap.t.sol
  kit/contracts/test/DvPSwapFactory.t.sol
  kit/contracts/test/Equity.t.sol
  kit/contracts/test/EquityFactory.t.sol
  kit/contracts/test/FixedYield.t.sol
  kit/contracts/test/FixedYieldFactory.t.sol
  kit/contracts/test/Fund.t.sol
  kit/contracts/test/FundFactory.t.sol
  kit/contracts/test/LinearVestingAirdrop.t.sol
  kit/contracts/test/PushAirdrop.t.sol
  kit/contracts/test/StableCoin.t.sol
  kit/contracts/test/StableCoinFactory.t.sol
  kit/contracts/test/StandardAirdrop.t.sol
  kit/contracts/test/VestingAirdrop.t.sol
  kit/contracts/test/mocks/ERC20Mock.sol
  kit/contracts/test/mocks/ERC20YieldMock.sol
Labels: feat

#1779 fix: integrate new asset designer in sidebar
  kit/dapp/src/components/blocks/asset-designer/step-wizard/step-content.tsx
Labels: fix

#1742 fix: updated dvp swap contract
  kit/contracts/contracts/DvPSwap.sol
  kit/contracts/contracts/DvPSwapFactory.args
  kit/contracts/contracts/DvPSwapFactory.sol
  kit/contracts/contracts/XvPSettlement.md
  kit/contracts/contracts/XvPSettlement.sol
  kit/contracts/contracts/XvPSettlementFactory.sol
  kit/contracts/ignition/modules/dvpswap-factory.ts
  kit/contracts/ignition/modules/dvpswap.ts
  kit/contracts/ignition/modules/main.ts
  kit/contracts/ignition/modules/xvp-settlement-factory.ts
  kit/contracts/test/DvPSwap.t.sol
  kit/contracts/test/DvPSwapFactory.t.sol
  kit/contracts/test/XvPSettlement.t.sol
  kit/contracts/test/XvPSettlementFactory.t.sol
  kit/subgraph/schema.graphql
  kit/subgraph/src/dvpswap/dvpswap.ts
  kit/subgraph/src/dvpswap/stats.ts
  kit/subgraph/src/factories/dvpswap-factory.ts
  kit/subgraph/src/factories/fetch/dvpswap-factory.ts
  kit/subgraph/src/factories/xvp-settlement-factory.ts
  kit/subgraph/src/fetch/dvpswap.ts
  kit/subgraph/src/fetch/xvp-settlement.ts
  kit/subgraph/src/utils/enums.ts
  kit/subgraph/src/xvp-settlement/xvp-settlement.ts
  kit/subgraph/subgraph.yaml
Labels: fix

#1780 chore: update sdk packages
  bun.lock
  kit/dapp/package.json
  kit/dapp/src/lib/challenge.ts
Labels: chore

#1781 chore: use turbopack for build
  kit/dapp/package.json
Labels: chore
